Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Corrections, update to latest test provision_plan.yaml
  dags/general/tableau_workbook_migrate.py
  extract/tableau_con_man_config/src/provision_plan.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

revert
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updated date change
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

Add new file
  transform/snowflake-dbt/models/workspaces/workspace_engineering/time_to_first_failure.sql
Due: none

update schema
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

Update time_to_first_failure.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/time_to_first_failure.sql
Due: none

Removing unnecessary join and CTE
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

Fix reference to dates table
  transform/snowflake-dbt/models/workspaces/workspace_engineering/time_to_first_failure.sql
Due: none

Update select distinct
  transform/snowflake-dbt/models/workspaces/workspace_engineering/time_to_first_failure.sql
Due: none

remove ci_trigger_requests from old manifest
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_ci_db_manifest.yaml
Due: none

nullify use_legacy_web_ide
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

added info logging
  extract/zuora_query_api/src/api.py
  extract/zuora_query_api/src/queries.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds jsingh
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove column from lineage
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_user_preferences_source.sql
Due: none

added info logging
  extract/zuora_query_api/src/api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correct type
  extract/tableau_con_man_config/src/provision_plan.yaml
Due: none

Correct path
  extract/tableau_con_man_config/src/provision_plan.yaml
Due: none

Update data image for tableau con man.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black reformat.
  dags/general/tableau_workbook_migrate.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Removing fields from 1st model and schema file
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Removing fields from 2nd model and schema file
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_saas_product_usage_metrics_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Try install kubectl too.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Alternative fix.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Test
  dags/general/pvc_monitor.py
  extract/pvc_monitor/get_pvc_values.sh
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update schema
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

add opportunity sdr/bdr fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Formatting fix
  transform/snowflake-dbt/models/common/schema.yml
Due: none

add true_inquiry_date
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

change test severity
  transform/snowflake-dbt/models/legacy/zuora/xf/schema.yml
Due: none

revert unintneded changeds
  transform/snowflake-dbt/models/legacy/zuora/xf/schema.yml
Due: none

Update formatting
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

Add new dbt model for MTTM and MTTR metrics
  transform/snowflake-dbt/models/workspaces/workspace_engineering/agg_mttr_mttm
Due: none

update schema
  transform/snowflake-dbt/models/workspaces/workspace_engineering/agg_mttr_mttm
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

Add Repository X-Ray
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Removing fields from 3rd model and schema file
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

Removing fields from 3rd model and schema file
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

Removing fields from macro
  transform/snowflake-dbt/macros/version/ping_instance_wave_metrics.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
