Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

revert to og with type option
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix logging
  load/miscellaneous/manual_json/upload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

delete legacy issue templates
  .gitlab/issue_templates/BambooHR Data Request.md
  .gitlab/issue_templates/Blog Post.md
  .gitlab/issue_templates/CSV or GSheets Data Upload.md
  .gitlab/issue_templates/Cleanup Old Tech.md
  .gitlab/issue_templates/Credential Cycling.md
  .gitlab/issue_templates/DE Milestone Rolling.md
  .gitlab/issue_templates/Dashboard Review.md
  .gitlab/issue_templates/Data Collaboration.md
  .gitlab/issue_templates/Data Source Documentation Update.md
  .gitlab/issue_templates/EDM Table Migration.md
  .gitlab/issue_templates/Extraction Discovery.md
  .gitlab/issue_templates/Fusion Team and Data Science Team Milestone Planning.md
  .gitlab/issue_templates/KPI Status Monthly Report Template.md
  .gitlab/issue_templates/KPI Template.md
  .gitlab/issue_templates/L2C Milestone Planning.md
  .gitlab/issue_templates/Milestone Rolling.md
  .gitlab/issue_templates/OKR Project Plan Template Short.md
  .gitlab/issue_templates/OKR Project Plan Template.md
  .gitlab/issue_templates/Periscope Cleanup.md
  .gitlab/issue_templates/Periscope Dashboard Refresh.md
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Platform: Snowflake Permissions Update Deprovisioning.md
  .gitlab/issue_templates/Platform: Snowflake Permissions Update Provisioning.md
  .gitlab/issue_templates/Product Analysis Request.md
  .gitlab/issue_templates/Product Performance Indicator Template.md
  .gitlab/issue_templates/Project Plan.md
  .gitlab/issue_templates/Team: Data Offboarding.md
  .gitlab/issue_templates/Team: Data Onboarding.md
  .gitlab/issue_templates/Team: Intern Guide.md
  .gitlab/issue_templates/Triage: Data Triage.md
  .gitlab/issue_templates/Triage: Errors AE.md
  .gitlab/issue_templates/Triage: Errors DE.md
  .gitlab/issue_templates/Trusted Data Framework Tests.md
  .gitlab/issue_templates/Usage Data Manual Upload.md
  .gitlab/issue_templates/Vacation.md
  .gitlab/issue_templates/Visualization or Dashboard- Change Request.md
  .gitlab/issue_templates/Visualization or Dashboard- New Request.md
  .gitlab/issue_templates/email_data_mart_pump_new_column.md
  .gitlab/issue_templates/experiment_template.md
Due: none

update prefixes, create default new issue template
  .gitlab/issue_templates/Data Export Request.md
  .gitlab/issue_templates/Data Science: Project Process.md
  .gitlab/issue_templates/Data Science: Scheduling Notebook Request.md
  .gitlab/issue_templates/Data: Full DBT Refresh.md
  .gitlab/issue_templates/Data: Full Source Refresh.md
  .gitlab/issue_templates/Data: GDPR Deletion.md
  .gitlab/issue_templates/Platform Milestone Planning.md
  .gitlab/issue_templates/[New Request] Create Issue.md
  .gitlab/issue_templates/[New Request] New Data Source.md
  .gitlab/issue_templates/[Report] Data Quality Problem.md
  .gitlab/issue_templates/[Report] Incident Template.md
Due: none

Fix documentation and improve logic in team_member_position
  transform/snowflake-dbt/models/common_mart_people/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_team_member_position.sql
Due: none

update create issue template
  .gitlab/issue_templates/[New Request] Create Issue.md
Due: none

update heading size on create issue template
  .gitlab/issue_templates/[New Request] Create Issue.md
Due: none

Update documentation
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

modify ci_extract
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating model L2R LI
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

Updating select fields in final cte
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

Revert "Merge branch '16576-update-dbt-1-4' into 'master'"
  .gitlab-ci.yml
  dags/airflow_utils.py
  dags/test/test_airlfow_utils.py
  docker-compose.yml
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/analysis/data_team/dbt_upgrade_tests.sql
  transform/snowflake-dbt/docs/index.html
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/packages.yml
  transform/snowflake-dbt/poetry.lock
  transform/snowflake-dbt/pyproject.toml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Remove deleted team members
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Update dim_team.sql
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Remove is_deleted
  transform/snowflake-dbt/models/sources/workday/all_workers_source.sql
Due: none

Add dbt audit
  transform/snowflake-dbt/models/common_mart_people/mart_team_member_directory.sql
Due: none

Add columns to docs
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Add table description
  transform/snowflake-dbt/models/common_mart_people/mart.md
  transform/snowflake-dbt/models/common_mart_people/schema.yml
Due: none

correcting typo
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

revert change to upload.py
  load/miscellaneous/manual_json/upload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

run black
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add grain
  transform/snowflake-dbt/models/common_mart_people/mart.md
Due: none

Add marketing tag
  transform/snowflake-dbt/data/valid_tags.csv
Due: none

run black
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update column names
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_disaster_relief_fund.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/schema.yml
Due: none

Updating FROM statement
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

Updated code
  transform/snowflake-dbt/models/common_prep/prep_namespace_order_trial.sql
Due: none

switch mr rate calcs
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_rate.sql
Due: none

Set the column provisioned_by_group_at to NULL
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

use dataframe_uploader() directly
  extract/adaptive/src/adaptive_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add account code Bookings_Model_New.BM_Exit_ARR
  extract/adaptive/src/adaptive.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove tags
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_campaign_attribution.sql
Due: none

better ansi col names
  extract/adaptive/src/adaptive_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

pass pytest
  extract/test/test_adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix typo
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_campaign_attribution.sql
Due: none

remove re lib
  extract/adaptive/src/adaptive_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add tags back!
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_campaign_attribution.sql
Due: none

pointing workspace models to EDM model
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_navigation_metrics_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_navigation_metrics_weekly.sql
Due: none

adding new product rateplan name
  transform/snowflake-dbt/macros/zuora/product_category.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_saas_product_usage_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mapping/map_latest_subscription_namespace_monthly.sql
  transform/snowflake-dbt/models/common_mapping/map_product_tier.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/legacy/customers/xf/customers_db_trials.sql
  transform/snowflake-dbt/models/legacy/customers/xf/latest_trial_per_namespace_xf.sql
  transform/snowflake-dbt/models/legacy/zuora/restricted_safe/zuora_iacv_to_arr.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/map_product_tier_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/map_product_tier_central_sandbox.sql
Due: none

added k9s as part of onboarding script
  admin/onboarding_script.zsh
Due: none
