Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

add role for new tables
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file prep_fy25_yearlies_target.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_fy25_yearlies_target.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_fy25_yearlies_target.sql
Due: none

Fix total targets
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_net_arr_targets_quarterly.sql
Due: none

adding documentation
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
Due: none

add explicit types
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/scd/gitlab_dotcom_catalog_resource_versions_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/scd/gitlab_dotcom_catalog_resources_source.sql
Due: none

add prod.pumps to SALES_SYSTEMS_SNOWFLAKE_API_ROLE role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove users_to_remove option from snowflake provisioning
  .gitlab-ci.yml
  orchestration/snowflake_provisioning_automation/provision_users/args_provision_users.py
  orchestration/snowflake_provisioning_automation/provision_users/provision_users.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file wk_gitlab_dotcom_verify_snowplow_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_verify_snowplow_events.sql
Due: none

Add wk_mart_payments_refunds_against_future_invoices
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_payments_refunds_against_future_invoices.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

correct discrepancies with CODEOWNERS file
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update 2 files
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_fy25_yearlies_target.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

Add deal name to vartopia reg object
  transform/snowflake-dbt/models/sources/sfdc/sfdc_vartopia_drs_registration_source.sql
Due: none

Fix total quarter metrics
  transform/snowflake-dbt/macros/sfdc/date_spine_7th_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_net_arr_targets_quarterly.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

remove ci job
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

remove periscope check
  transform/periscope_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove periscope check from codeowners
  CODEOWNERS
Due: none

Add DE codeowner support.
  CODEOWNERS
Due: none

Add staging events to fct_behavior_structured_event with flag and documentation
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_browser.sql
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_event.sql
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_operating_system.sql
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_redis_hll_counters.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_without_assignment.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/common_mart.md
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/snowplow/combined/30_day/snowplow_gitlab_events_30.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/30_day/snowplow_unnested_events_30.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/90_day/snowplow_unnested_events_90.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/all/snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_structured_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_unstructured_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_web_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/wk_fct_snowplow_events_service_ping.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_experiment_event_entity_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_ide_extension_version.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_service_ping_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow.md
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow_unnested_events_all_staging.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

Debug.
  dags/general/tableau_user_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correct path.
  dags/general/tableau_user_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Debug
  dags/general/tableau_user_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path corrections
  dags/general/tableau_user_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add wk_mart_booking_by_payment_schedule_opportunity_category_monthly
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_booking_by_payment_schedule_opportunity_category_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_payments_refunds_against_future_invoices.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Path corrections
  dags/general/tableau_user_provisioning.py
  extract/tableau_con_man_config/src/provision_plan.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixing config
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_booking_by_payment_schedule_opportunity_category_monthly.sql
Due: none

Fix config
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_payments_applied_to_invoices_monthly.sql
Due: none

Removing unnecessary mart
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_payments_applied_to_invoices_monthly.sql
Due: none

Remove test
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

exclude project
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

refine incremental logic
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
Due: none

correct docs
  transform/snowflake-dbt/models/common/schema.yml
Due: none

adjust formatting of template
  .gitlab/issue_templates/[Report] Data Quality Problem.md
Due: none

Update 2 files
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_yearlies_target.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
