Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Workspace models finished.
  transform/snowflake-dbt/models/sources/commonroom/commonroom.md
  transform/snowflake-dbt/models/sources/commonroom/commonroom_community_members_source.sql
  transform/snowflake-dbt/models/sources/commonroom/commonroom_organizations_source.sql
  transform/snowflake-dbt/models/sources/commonroom/schema.yml
  transform/snowflake-dbt/models/sources/commonroom/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_activities.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_community_members.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_organizations.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/schema.yml
Due: none

Documentation enriched.
  transform/snowflake-dbt/models/sources/commonroom/commonroom.md
  transform/snowflake-dbt/models/sources/commonroom/schema.yml
Due: none

Documentation enriched.
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_activities.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_community_members.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_organizations.sql
Due: none

Formating.
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_activities.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_community_members.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/commonroom_organizations.sql
Due: none

Handle type data.
  extract/saas_usage_ping/usage_ping.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Adding invoice aging detail via driveload
  extract/sheetload/drives.yml
Due: none

Updating sources.yml
  transform/snowflake-dbt/models/sources/driveload/sources.yml
Due: none

Adding to prep
  transform/snowflake-dbt/models/sources/driveload/driveload_invoice_aging_detail_source.sql
Due: none

Updating schema.yml with description
  transform/snowflake-dbt/models/sources/driveload/schema.yml
Due: none

Adding to wk
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_invoice_aging_detail.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Update file Postgres Pipeline Changes.md
  .gitlab/merge_request_templates/Postgres Pipeline Changes.md
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

Fixing tests.
  extract/gitlab_saas_postgres_pipeline/test/test_manifest_decomposed.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

pushed from job
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add column to_state to calculate the metrics.
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Handle type error.
  extract/saas_usage_ping/usage_ping.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Revert test file.
  extract/gitlab_saas_postgres_pipeline/test/test_manifest_decomposed.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update 4 files
  extract/gitlab_saas_postgres_pipeline/test/test_manifest_decomposed.py
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_pipeline_table.py
  extract/gitlab_saas_postgres_pipeline/test/test_saas_backfill_metadata_conditions.py
  extract/gitlab_saas_postgres_pipeline/test/test_saas_deletes_metadata_conditions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black format
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_pipeline_table.py
  extract/gitlab_saas_postgres_pipeline/test/test_saas_backfill_metadata_conditions.py
  extract/gitlab_saas_postgres_pipeline/test/test_saas_deletes_metadata_conditions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Snapshot and Schema Updates
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/xf/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

use mart_arr_all instead of mart_arr
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/rpt_duo_pro_license_utilization_monthly.sql
Due: none

Try to fix safe model script
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/rpt_duo_pro_license_utilization_monthly.sql
Due: none

adding subscription paid status back in
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/rpt_duo_pro_license_utilization_monthly.sql
Due: none

mart_arr_with_zero_dollar_charges
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/rpt_duo_pro_license_utilization_monthly.sql
Due: none

nullify and dedupe columns
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

restore-mriou
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Add deletion logs DBT models.
  transform/snowflake-dbt/models/sources/dbt/dbt_gdpr_delete_logs_source.sql
  transform/snowflake-dbt/models/sources/dbt/schema.yml
  transform/snowflake-dbt/models/sources/dbt/sources.yml
Due: none

add-safe-jsnow
  extract/tableau_con_man_config/src/specification.yaml
Due: none

add forecast_id
  transform/snowflake-dbt/models/sources/clari/clari_net_arr_entries_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_clari_net_arr_forecast.sql
Due: none

update logic to pull through context columns to final select
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
Due: none

create test snapshot
  transform/snowflake-dbt/models/legacy/snapshots/base/gitlab_dotcom_project_ci_cd_settings_snapshot_test.sql
Due: none

missing comman
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
Due: none

Add a sensitive data tag.
  transform/snowflake-dbt/models/sources/commonroom/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/commonroom/commonroom_activities.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/commonroom/commonroom_community_members.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/commonroom/commonroom_organizations.sql
Due: none

PREP model validated. Tested and passed fine.
  transform/snowflake-dbt/data/valid_tags.csv
  transform/snowflake-dbt/models/sources/commonroom/commonroom.md
  transform/snowflake-dbt/models/sources/commonroom/commonroom_activities_source.sql
  transform/snowflake-dbt/models/sources/commonroom/commonroom_community_members_source.sql
  transform/snowflake-dbt/models/sources/commonroom/commonroom_organizations_source.sql
  transform/snowflake-dbt/models/sources/commonroom/sources.yml
Due: none

Changed materialization.
  transform/snowflake-dbt/dbt_project.yml
Due: pages

Changed materialization.
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/commonroom/commonroom_activities_source.sql
  transform/snowflake-dbt/models/sources/commonroom/commonroom_community_members_source.sql
  transform/snowflake-dbt/models/sources/commonroom/commonroom_organizations_source.sql
Due: pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
