Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

store changes.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add yaml validation for TableauConMan.
  .gitlab-ci.yml
Due: none

Test change.
  extract/tableau_con_man_config/src/specification.yml
Due: none

Fix.
  .gitlab-ci.yml
Due: none

test change.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove whitespace at top of file
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_dropped_manual_true_up_charges.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_manual_true_up_charge.sql
Due: none

update product names in sandbox models
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/map_product_tier_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/map_product_tier_central_sandbox.sql
Due: none

Debug
  .gitlab-ci.yml
Due: none

Correction.
  .gitlab-ci.yml
Due: none

Debug.
  .gitlab-ci.yml
Due: none

add service ping context
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_service_ping_context.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

remove converted_from_lead_email from schema
  transform/snowflake-dbt/models/sources/bizible/schema.yml
Due: none

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add default warehouse
  permissions/snowflake/user_provision.sql
Due: none

Other style of loop.
  .gitlab-ci.yml
Due: none

Indentation.
  .gitlab-ci.yml
Due: none

Syntax.
  .gitlab-ci.yml
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Diff cleanup.
  extract/tableau_con_man_config/src/specification.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove primary_contact_email from schema
  transform/snowflake-dbt/models/sources/bizible/schema.yml
Due: none

remove nohash_sensitive_columns as no sensitive columns are defined
  transform/snowflake-dbt/models/sources/bizible/sensitive/bizible_opportunities_source_pii.sql
Due: none

add vars
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

quoting
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update service_ping_event_name to avoid naming collision, fix missing comma
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_service_ping_context.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

Delete pii models following removal of sensitive data
  transform/snowflake-dbt/models/sources/bizible/sensitive/bizible_opportunities_source_pii.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/bizible/restricted_safe/wk_bizible_opportunities_pii.sql
Due: none

quoting
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

logging
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

run update
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest
