Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Fixing code
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_subscription_renewal_linking.sql
Due: none

Finished PII data SQL and WHERE clause. Tested and working fine.
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file el_gitlab_dotcom_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

Update the link.
  .gitlab/issue_templates/Team: Data Onboarding.md
Due: none

formating
  transform/snowflake-dbt/Makefile
Due: pages

Updating code
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_subscription_renewal_linking.sql
Due: none

Updating refs
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_subscription_renewal_linking.sql
Due: none

Pipeline check
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_subscription_renewal_linking.sql
Due: none

test ci integration
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/development_commands.zsh
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

AR30276
  extract/tableau_con_man_config/src/specification.yaml
Due: none

test errors
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

test make error
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

AR30227
  extract/tableau_con_man_config/src/specification.yaml
Due: none

test errors
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

test erros
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

add snowflake login instructions
  .gitlab/merge_request_templates/snowflake_provisioning.md
Due: none

Grain of mart and fact table corrected
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_absence.sql
  transform/snowflake-dbt/models/common_mart_people/mart_team_member_absence.sql
  transform/snowflake-dbt/models/common_mart_people/mart_team_member_directory.sql
Due: none

Schema update
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_people/schema.yml
Due: none

Correction to where condition field
  transform/snowflake-dbt/snapshots/workday/job_profiles_snapshots.sql
Due: none

Update file all_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/all_test_stats_source.sql
Due: none

Added _fivetran_deleted=False
  transform/snowflake-dbt/snapshots/workday/job_profiles_snapshots.sql
Due: none

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

Update file Platform: Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
Due: none

Add users.
  permissions/snowflake/snowflake_users.yml
Due: none

Add role restricted_safe_devrel definition.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

nveenhof added.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

fkhalid added.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

ltickett added.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

rhook added.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

jcoghlan added.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Minimize privileges.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add distinct to pii.
  transform/snowflake-dbt/models/sources/commonroom/sensitive/commonroom_activities_source_pii.sql
  transform/snowflake-dbt/models/sources/commonroom/sensitive/commonroom_community_members_source_pii.sql
  transform/snowflake-dbt/models/sources/commonroom/sensitive/commonroom_organizations_source_pii.sql
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Move folder from restricted SAFE to WORKSPACE_MARKETING schema.
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/wk_commonroom_activities.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/wk_commonroom_community_members.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/commonroom/wk_commonroom_organizations.sql
Due: none

Add role commonroom_sensitive.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Sorting.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Remove deleted cols from container repos
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none
