Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file CODEOWNERS
  CODEOWNERS
Due: none

fix group_id in milestone recency col
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

change unique_key for snapshot criteria to job_workday_id
  transform/snowflake-dbt/snapshots/workday/job_profiles_snapshots.sql
Due: none

add devrel fields and form url
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline.sql
Due: none

Update docs and add missing ending parentheses
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
Due: none

remove fivetran deleted snapshots
  transform/snowflake-dbt/models/sources/workday/job_profiles_snapshots_source.sql
Due: none

Update file rpt_product_usage_health_score.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
Due: none

restore-tableau-jschuster
  extract/tableau_con_man_config/src/specification.yaml
Due: none

add more workspace codeowners
  CODEOWNERS
Due: none

bulk-tab-access
  extract/tableau_con_man_config/src/specification.yaml
Due: none

remove final unnecessary join
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
Due: none

adding post hook
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_weekly.sql
Due: none

Update file rpt_event_performance.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_event_performance.sql
Due: none

Fix wrong CTE name
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_event_performance.sql
Due: none

add net_arr_ps_summary
  extract/clari/src/clari.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix Group by Command
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_event_performance.sql
Due: none

Switch to load user.
  dags/transformation/dbt_gdpr_delete.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add new target with correct role.
  dags/transformation/dbt_gdpr_delete.py
  transform/snowflake-dbt/profile/profiles.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correction.
  transform/snowflake-dbt/profile/profiles.yml
Due: none

Correction.
  dags/transformation/dbt_gdpr_delete.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

apply suggestions
  dags/extract/gitlab_saas_dbs_extract_load.py
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_scd_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_ci_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_ci_scd_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_scd_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_dotcom_consolidated_db_manifest.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add gitlab_dotcom role to wleidheiser
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: none

test
  dags/extract/gitlab_saas_dbs_extract_load.py
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_connection_info.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_customers_scd_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_ops_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_ops_scd_db_manifest.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

test customers and ops
  dags/extract/gitlab_saas_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Switch to load vars.
  transform/snowflake-dbt/profile/profiles.yml
Due: none

Add macro_prep_snowplow_unnested_events_all and prep_snowplow_unnested_events_all_30
  transform/snowflake-dbt/macros/common/macro_prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/macros/common/macros.md
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all_30.sql
Due: none

Add retries for tableau tasks, extend delay.
  dags/general/tableau_user_provisioning.py
  dags/general/tableau_workbook_migrate.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
