Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Revert "Merge branch 'revert-cfda1cbc' into 'master'"
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_milestones_internal_only_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_milestones_source.sql
Due: none

update ptpl logic
  transform/snowflake-dbt/models/common_prep/prep_ptpl_scores_by_user.sql
Due: none

update ptpt logic
  transform/snowflake-dbt/models/common_prep/prep_ptpt_scores_by_user.sql
Due: none

update ptpf logic
  transform/snowflake-dbt/models/common_prep/prep_ptpf_scores_by_user.sql
Due: none

Fixed Mypy
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixed black isort
  extract/zendesk/src/zendesk_sensitive_extraction.py
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove score_group limits
  transform/snowflake-dbt/models/common_prep/prep_ptpf_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptpl_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptpt_scores_by_user.sql
Due: none

fix trials
  transform/snowflake-dbt/models/common_prep/prep_ptpt_scores_by_user.sql
Due: none

add score_group limit prep_ptp_scores_by_user
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
Due: none

Remove rpt_lead_to_revenue_snapshot
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue_snapshot.sql
Due: none

Update file el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

create historical table
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user_historical.sql
Due: none

add dedupe layer
  transform/snowflake-dbt/models/sources/zendesk/schema.yml
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_dedupe_source.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_source.sql
Due: none

update latest id filter tickets
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_dedupe_source.sql
Due: none

correct typo
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_dedupe_source.sql
Due: none

Better, simpler cloning process.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Stop re-dropping the DB.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correction.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add ticket_audits dedupe layer
  transform/snowflake-dbt/models/sources/zendesk/schema.yml
  transform/snowflake-dbt/models/sources/zendesk/zendesk_ticket_audits_dedupe_source.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_ticket_audits_source.sql
Due: none

Handle errors.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add if not exists.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Exclude existing DB's.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Query syntax fix.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add sirt and t&s namespaces to internal list
  transform/snowflake-dbt/data/internal_gitlab_namespaces.csv
Due: none

Add update DAG.
  dags/transformation/update_dbt_artifacts.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds jcolyer
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds ikosenko
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds lkozloff
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Black reformat.
  dags/transformation/update_dbt_artifacts.py
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove dedupe layer
  transform/snowflake-dbt/models/sources/zendesk/schema.yml
  transform/snowflake-dbt/models/sources/zendesk/zendesk_ticket_audits_source.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_source.sql
Due: none

apply suggestions
  dags/extract/zendesk_extract.py
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update function name
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update function name
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update function name
  extract/zendesk/src/zendesk_sensitive_extraction.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update imports
  extract/zendesk/src/zendesk_sensitive_extraction.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove dedupe files
  transform/snowflake-dbt/models/sources/zendesk/zendesk_ticket_audits_dedupe_source.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_dedupe_source.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
