Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

add aws focus schema
  transform/snowflake-dbt/models/sources/aws_billing/aws_billing_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/focus/aws_focus.sql
Due: none

add schema for aws source
  transform/snowflake-dbt/models/sources/aws_billing/schema.yml
Due: none

remove filter
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_rate.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/team_member_history.sql
Due: none

apply suggestion dry
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_extraction_main.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

apply suggestion
  dags/extract/elasticsearch_billing_extract.py
  dags/extract/elasticsearch_billing_full_load_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

apply suggestion to fetch extraction date as a dag parameter
  dags/extract/elasticsearch_billing_extract.py
  dags/extract/elasticsearch_billing_full_load_extract.py
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_extraction_main.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

apply suggestion remove test_api_connection with exception handling
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add vlu
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds ksu
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Remove URL for now.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

apply suggestion dry
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove unused import
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

apply suggestion dry set recon dates
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

bug fix
  extract/elasticsearch_billing/src/elasticsearch_billing_extraction_main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

bug fix
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

bug fix
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Adding logic to identify first project per namespace in this model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/wk_gitlab_prog_lang.sql
Due: none

add test for current_term > 0
  transform/snowflake-dbt/models/sources/zuora/schema.yml
Due: none

bug fix
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

formatting, docs
  transform/snowflake-dbt/models/sources/aws_billing/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/focus/aws_focus.sql
Due: none

add src definition
  transform/snowflake-dbt/dbt_project.yml
Due: pages

bug fix
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Simplified version.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

change test severity to warn
  transform/snowflake-dbt/models/sources/zuora/schema.yml
Due: none

Updated dbt_project yaml file
  transform/snowflake-dbt/dbt_project.yml
Due: pages

update schema
  transform/snowflake-dbt/models/workspaces/workspace_data_science/schema.yml
Due: none

add opportunity table
  transform/snowflake-dbt/models/workspaces/workspace_data_science/model_mart_crm_opportunity_id.sql
Due: none

update exposures
  transform/snowflake-dbt/models/data_science_exposures.yml
Due: none

fix exposures
  transform/snowflake-dbt/models/data_science_exposures.yml
Due: none

check env vars
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

set env vars
  dags/general/duo_data_redaction.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

set env vars
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add macro for context flattening
  transform/snowflake-dbt/macros/snowplow/macros.md
  transform/snowflake-dbt/macros/snowplow/macros.yml
  transform/snowflake-dbt/macros/snowplow/snowplow_schema_field_aliasing.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_code_suggestions_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_ide_extension_version_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_service_ping_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_standard_context.sql
Due: none

rename experiment context to match former naming
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
Due: none

remove redundant comments
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
Due: none
