Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

‚ö´python_black:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  - black --check .

‚úèÔ∏èpython_mypy:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  ...

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v2.0.8
  allow_failure: true
  script:
  - export GCP_SERVICE_CREDS=$(echo "$ENCODED_GCP" | base64 -d)
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: false
  before_script:
  - CHANGED_FILES=$(git diff --name-only --diff-filter=d origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} ${CI_COMMIT_SHA} | grep '\.yml\|\.yaml'$)
  ...

üßä‚öôpermifrost_run:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost run permissions/snowflake/roles.yml --diff --dry
  when: manual

üßäpermifrost_spec_test:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost spec-test permissions/snowflake/roles.yml
  when: manual

FIx join
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

Update role for two users
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Update file ent_sfdc_geo.sql
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

Adding D&B fields to account tables
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

Fix IndexError.
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing done.
  extract/test/test_transform_postgres_to_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fct and prep models
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_employment_history.sql
  transform/snowflake-dbt/models/common_prep/prep_employee_history.sql
Due: none

Update updated_dates
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
Due: none

adding admin files and fixes
  .gitlab-ci.yml
  orchestration/tableau_dependency_query/src/tableau_query.py
  transform/snowflake-dbt/construct_seed_docs.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Decoule complexity in get_pii_data
  extract/data_classification/data_classification.py
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

- SQL code in a separate file - test case checked
  extract/data_classification/README.md
  extract/data_classification/data_classification.py
  extract/data_classification/stored_procedures/execute_data_classification.sql
  extract/data_classification/stored_procedures/log_me.sql
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

fix field origin for bdr prospecting status
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

use targets and actuals to build scaffold
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_crm_actuals.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_pivoted_targets.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_scaffold.sql
Due: none

add scaffold
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_scaffold.sql
Due: none

apply jinja and formatting
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_crm_actuals.sql
Due: none

2019
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_crm_actuals.sql
Due: none

add targets table
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_pivoted_targets.sql
Due: none

apply jinja and formatting
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_pivoted_targets.sql
Due: none

update date filter
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_crm_actuals.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_scaffold.sql
Due: none

apply jinja and formatting
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_scaffold.sql
Due: none

Update file rpt_gtm_crm_actuals.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_gtm_crm_actuals.sql
Due: none

update schema
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/schema.yml
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Black.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply suggestion.
  transform/snowflake-dbt/data/valid_tags.csv
Due: none

Apply suggestion.
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_base.sql
Due: none

Add cloud_connector_configuration, wk_cloud_connector_configuration and associated docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/sources/gitlab_data_yaml/cloud_connector_configuration.sql
  transform/snowflake-dbt/models/sources/gitlab_data_yaml/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_data_yaml/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_cloud_connector_configuration.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

Update schema and remove needless fields
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

add DISTINCT
  transform/snowflake-dbt/models/sources/gitlab_data_yaml/cloud_connector_configuration.sql
Due: none

update_for_four_users
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Update file [New Request] CSV or GSheet Data Upload.md
  .gitlab/issue_templates/[New Request] CSV or GSheet Data Upload.md
Due: none

Add g.hickman to list of users
  permissions/snowflake/snowflake_users.yml
Due: none

Modify to align with email not gitlab handle
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
