Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

modify db_extract
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add Propensity to Churn models
  dags/data_science/ds_propensity_to_churn.py
  transform/snowflake-dbt/models/sources/data_science/churn_forecasting_source.sql
  transform/snowflake-dbt/models/sources/data_science/data_science.md
  transform/snowflake-dbt/models/workspaces/workspace_data_science/churn_forecasting/churn_forecasting_scores.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/model_mart_crm_subscription_id.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black formatting
  dags/data_science/ds_propensity_to_churn.py
  transform/snowflake-dbt/models/sources/data_science/churn_forecasting_scores_source.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

removing duplicate columns
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

Removing unused columns
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

modify check_snapshot
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

modify check_snapshot
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

scd db manifest
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

db manifest
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

add from statement
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

remove sensitive data
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

add advanced metadata to scd tables
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

add opportunity canvas template
  .gitlab/issue_templates/[New Request] Create Opportunity Canvas.md
  .gitlab/issue_templates/[New Request] Create Standard Issue (Start Here if Unsure).md
Due: none

add opportunity canvas template
  .gitlab/issue_templates/[New Request] Create Opportunity Canvas.md
  .gitlab/issue_templates/[New Request] Create Standard Data Team Issue.md
Due: none

modify level_up
  dags/extract/level_up_thought_industries.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds sbalasani
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds customers_db to csharp
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Quarterly Data Health and Security Audit.md
Due: none

Update Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Quarterly Data Health and Security Audit.md
Due: none

Removing full_net_arr
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

Update group by
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

Add model_mart_crm_subscription_id model
  transform/snowflake-dbt/models/workspaces/workspace_data_science/model_mart_crm_subscription_id.sql
Due: none

add schema
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/macros/warehouse/grant_usage_to_schemas.sql
Due: ðŸ“yaml_validation

Blank command to push xcom.
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Removing unused field again from final
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

Revert "Update docs-packages.yml"
  transform/snowflake-dbt/docs-packages.yml
Due: pages

Add ds dag to list of data science dags for alerting
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Adding Last MQL date to L2R
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

Adding user id
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

Correct graphite extract.
  dags/extract/graphite_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adding bizible_count_u_shaped to union
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

updating group by
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

UPdate docs
  transform/snowflake-dbt/models/sources/data_science/data_science.md
Due: none

Add missing dbt model details
  transform/snowflake-dbt/models/sources/data_science/schema.yml
  transform/snowflake-dbt/models/sources/data_science/sources.yml
Due: none

add historice team status
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_position.sql
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_status.sql
  transform/snowflake-dbt/models/common_prep/prep_team_status.sql
Due: none

Revert to snapshot_date
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_user_daily_snapshot.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
