Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Corrections
  .gitlab-ci.yml
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Corrections
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

testing vars
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Debug
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Run Raw clones.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Try, except, log
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correct grants.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Final corrections.
  .gitlab-ci.yml
Due: none

test vars
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

test vars structure
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

prep and prod versions.
  .gitlab-ci.yml
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debugging vars
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

debug vars
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

add group_id to labels and milestones internal only tables
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

add id filter to projects internal only
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

iid ref in category marketing site mr sql
  transform/snowflake-dbt/models/legacy/marketing_site/xf/category_marketing_site_merge_requests.sql
Due: none

add 'Composite' to customer portal CASE
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
Due: none

test env var
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

add project filtering to namespaces internal only
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

capitalization
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

missing parenth
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

add id and title
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

Revert "add 'Composite' to customer portal CASE"
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
Due: none

test env var
  transform/snowflake-dbt/macros/utils/query_comment.sql
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

testing env var
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Revert "Merge branch 'revert-b49c11f7' into 'master'"
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_labels_internal_only_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_labels_source.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
