Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

correct typo
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_scd_db_manifest.yaml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/zuora_query_api/schema.yml
Due: none

add new table and columns
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_scd_db_manifest.yaml
Due: none

adds snowflake_analyst and snowflake_analyst_safe
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds common_safe
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add wk_fct_sales_funnel_target_daily model and schema
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_fct_sales_funnel_target_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

Implement feedback
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_5th_day_weekly_targets_actuals_snapshot.sql
Due: none

add dag
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
  transform/snowflake-dbt/removal.txt
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

syntax fix
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

import
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

logging
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

logging
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

update join condition to include cluster key
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_ide_extension_version_context.sql
Due: none

Removing references to charges related legacy models
  transform/snowflake-dbt/analysis/data_team/dbt_upgrade_tests.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/legacy/customers/restricted_safe/customers_db_charges_xf.sql
  transform/snowflake-dbt/models/legacy/customers/restricted_safe/customers_db_orders_with_incomplete_charges.sql
  transform/snowflake-dbt/models/legacy/customers/restricted_safe/customers_db_orders_with_valid_charges.sql
  transform/snowflake-dbt/models/legacy/customers/restricted_safe/customers_restricted_safe.md
  transform/snowflake-dbt/models/legacy/customers/restricted_safe/schema.yml
  transform/snowflake-dbt/models/legacy/customers/xf/customers_xf.md
  transform/snowflake-dbt/models/legacy/zuora/restricted_safe/saas_charges_with_namespace_id.sql
  transform/snowflake-dbt/models/legacy/zuora/xf/schema.yml
  transform/snowflake-dbt/models/legacy/zuora/xf/zuora.md
Due: none

update context definitions, joins, and app_id filter
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_ide_extension_version_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_standard_context.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_web_page_context.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/base_staging/snowplow_gitlab_staging_events.sql
Due: pages

add context columns to fct_behavior_structured_event
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

fix typo
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
Due: none

add vulnerability_state_transitions to prep and prod
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_vulnerability_state_transitions_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_vulnerability_state_transitions_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_vulnerability_state_transitions.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

add vulnerability_reads to prep and prod
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_vulnerability_reads_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_vulnerability_reads_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_vulnerability_reads.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

combining common and workspace to prod_reporting
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

correct typo
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_vulnerability_reads_source.sql
Due: none

add new prod_reporting role to the snowflake_analyst_role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds legacy schemas to the prod_reporting role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove tag
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

Update names to clarify that fields are targets
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_sales_funnel_target_daily_pivoted.sql
Due: none

Add target
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_5th_day_weekly_targets_actuals_snapshot.sql
Due: none

add handbook link
  .gitlab/merge_request_templates/Postgres Pipeline Changes.md
Due: none

add derived_tstamp to first CTE in experiment model
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
Due: none

Update wk_fct_crm_opportunity_5th_day_weekly_targets_actuals_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_5th_day_weekly_targets_actuals_snapshot.sql
Due: none

missing comma
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_ide_extension_version_context.sql
Due: none

missing column in ide_extension_version_context
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_ide_extension_version_context.sql
Due: none
