Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/workspaces/workspace_engineering/wk_gitlab_dotcom_reviews.sql
Due: none

Updating base tables and logic
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Updating touchpoint_type
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
Due: none

Updating crm_tasks
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

start test_is_version_already_processed (cannot get this to work, will remove)
  extract/test/test_adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Removing join
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
Due: none

finish up unit testing
  extract/test/test_adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating typo
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
Due: none

update to status
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
Due: none

add dag
  dags/transformation/dbt_omamori_external_table_transform.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

updated the AE quota notebook
  sales_analytics_notebooks/daily/ae_quotas_credits_upload/ae_quota_credit_upload.ipynb
Due: none

Updating status again
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
Due: none

update dbt statement in DAG
  dags/transformation/dbt_omamori_external_table_transform.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adding product tag
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_saas_product_usage_metrics_monthly.sql
Due: none

Convert model from view to table.
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics.sql
Due: none

Formating.
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_usage_ping_geo_node_usage.sql
Due: none

Remove tag for non existing column UPLOADED_AT.
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Add gpu to combined mapping
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/ci_runners_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

ddeng-prometheus
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add source
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: none

remove config.
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics.sql
Due: none

add dedicated metrics to prep_ping_instance
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
  transform/snowflake-dbt/models/common_prep/prep_ping_instance_flattened.sql
Due: none

Update file New Data Source.md
  .gitlab/issue_templates/New Data Source.md
Due: none

Move catchup.
  dags/extract/sheetload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Debugging.
  extract/sheetload/sheetload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correct logic for test run.
  extract/sheetload/sheetload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correct hardcoded RAW db value.
  dags/extract/sheetload.py
  extract/sheetload/sheetload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove test affinity, toleration, move catchup param.
  dags/extract/gitlab_data_yaml.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Move catchup to the correct spot.
  dags/extract/engineering_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add delivery and deployment type;
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric.sql
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
  transform/snowflake-dbt/models/common_prep/prep_ping_instance_flattened.sql
Due: none

add source models
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_ci_job_token_project_scope_links_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_ci_job_token_project_scope_links_source.sql
Due: none

add schema metadata
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

fix refs
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

Update zengrc_models
  transform/snowflake-dbt/models/sources/zengrc/zengrc_assessment_source.sql
  transform/snowflake-dbt/models/sources/zengrc/zengrc_audit_source.sql
  transform/snowflake-dbt/models/sources/zengrc/zengrc_control_source.sql
  transform/snowflake-dbt/models/sources/zengrc/zengrc_issue_source.sql
  transform/snowflake-dbt/models/sources/zengrc/zengrc_objective_source.sql
  transform/snowflake-dbt/models/sources/zengrc/zengrc_request_source.sql
  transform/snowflake-dbt/models/sources/zengrc/zengrc_risk_source.sql
Due: none

added source stage_group_error_budget_teams_over_budget_availability
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_completeness_source.sql
Due: none

add wh transforming_xs
  dags/transformation/dbt_omamori_external_table_transform.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file wk_ci_cd_metrics_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_ci_cd_metrics_monthly.sql
Due: none

Updated Code for Snapshot billing account model
  transform/snowflake-dbt/models/common/dimensions_shared/dim_billing_account_snapshot_bottom_up.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
