Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

‚ö´python_black:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  - black --check .

‚úèÔ∏èpython_mypy:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  ...

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v2.0.8
  allow_failure: true
  script:
  - export GCP_SERVICE_CREDS=$(echo "$ENCODED_GCP" | base64 -d)
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: false
  before_script:
  - CHANGED_FILES=$(git diff --name-only --diff-filter=d origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} ${CI_COMMIT_SHA} | grep '\.yml\|\.yaml'$)
  ...

üßä‚öôpermifrost_run:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost run permissions/snowflake/roles.yml --diff --dry
  when: manual

üßäpermifrost_spec_test:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost spec-test permissions/snowflake/roles.yml
  when: manual

event_tag_link_id
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_incident_management_timeline_event_tag_links_source.sql
Due: none

status_id
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_incident_management_issuable_escalation_statuses_source.sql
Due: none

updating exclusion list
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

lowercase for column name
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge_mrr_daily.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

adding in mistakenly deleted field
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

code_redemptions extract
  dags/extract/level_up_thought_industries.py
  extract/level_up_thought_industries/README.md
  extract/level_up_thought_industries/src/thought_industries_api.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

code_redemptions dbt init
  transform/snowflake-dbt/models/sources/level_up/level_up_code_redemptions_source.sql
  transform/snowflake-dbt/models/sources/level_up/schema.yml
  transform/snowflake-dbt/models/sources/level_up/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_people/level_up/wk_level_up_code_redemptions.sql
Due: none

test
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

update by account
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account.sql
Due: none

ultimate changes
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
Due: none

update incremental strategy to match package strategy
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_sessions_tmp.sql
Due: none

revert incremental filter since macro is not available when model does not use the package
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_sessions_tmp.sql
Due: none

adding docs
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Added new user in tableau access: testuser-tableau-access-request
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Revert "Added new user in tableau access: testuser-tableau-access-request"
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

pull back changes
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

fix branch
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

fix again
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

revert
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Add database parameter.
  dags/extract/data_classification.py
  extract/data_classification/data_classification.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Merge
  dags/extract/data_classification.py
  extract/data_classification/README.md
  extract/data_classification/stored_procedures/execute_data_classification.sql
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add tasks separated per database.
  dags/extract/data_classification.py
  extract/data_classification/specification.yml
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add tasks separated per database.
  extract/data_classification/specification.yml
Due: none

Test
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

TEst
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test
  extract/data_classification/specification.yml
Due: none

Add stored procedure code.
  extract/data_classification/data_classification.py
  extract/data_classification/extract.py
  extract/data_classification/stored_procedures/execute_data_classification.sql
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test
  dags/extract/data_classification.py
  extract/data_classification/data_classification.py
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test PII table list.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test
  extract/data_classification/data_classification.py
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix table name.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
