Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

remove ref
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix table ref
  dags/general/duo_data_redaction.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update experiment_context name
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_context.sql
Due: none

filter out redacted records
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

logging
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add date fields and update table name
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_5th_day_weekly_snapshot.sql
Due: none

fix filter for code suggestions context
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_code_suggestions_context.sql
Due: none

add role elasticsearch
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

fix column order
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_rate.sql
Due: none

apply suggestion dry and reorg files
  dags/extract/elasticsearch_billing_full_load_extract.py
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_extraction_main.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_extraction_main.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix divide by zero error in code
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
Due: none

Add new rows to bizible ab test source
  transform/snowflake-dbt/models/sources/bizible/bizible_customer_ab_tests_source.sql
Due: none

decouple team info as a new model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_merge_requests.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/team_member_history.sql
Due: none

remove fields from sources
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
Due: none

remove fields from downstream models
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
Due: none

Remove dates
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_5th_day_weekly_snapshot.sql
Due: none

Added docs
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Add extra date fields
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_5th_day_weekly_snapshot.sql
Due: none

add passwords
  dags/general/tableau_workbook_migrate.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add docs
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Format Marketo date/time as Date
  transform/snowflake-dbt/models/workspaces/workspace_marketing/marketo_form_fills_missing_touchpoints.sql
Due: none

add double quotes to VARS in CI job
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

revert changes in snowplow models for local dev
  transform/snowflake-dbt/macros/utils/schema_union_all.sql
  transform/snowflake-dbt/macros/utils/schema_union_limit.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

Update capitalization of fields and add report
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_5th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_aggregate.sql
Due: none

black
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove trailing whitespace
  transform/snowflake-dbt/macros/utils/schema_union_limit.sql
Due: none

Aggregate additive values and targets
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_pipeline_coverage.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_aggregate.sql
Due: none

change service_ping_event_name to redis_event_name
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_service_ping_context.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

Decommission metrics.
  extract/saas_usage_ping/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Delete file.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Add geo_nodes table.
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
Due: none

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

Tests fixed.
  extract/test/test_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Added dbt model for GEO_NODES.
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_geo_nodes_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: none

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

get SAFE users from snowflake
  sales_analytics_notebooks/daily/202304_daily_sal_heatmap_update/safe_users.sql
  sales_analytics_notebooks/daily/202304_daily_sal_heatmap_update/sh_sal_heatmap_daily_update.ipynb
  sales_analytics_notebooks/daily/202304_daily_xray_update/safe_users.sql
  sales_analytics_notebooks/daily/202304_daily_xray_update/xr_xray_daily_update.ipynb
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
