Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

update experiment fct logic
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_experiment.sql
Due: none

use prep_user to improve lineage and prevent nulls
  transform/snowflake-dbt/models/common_prep/prep_action.sql
Due: none

Add snapshot date
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Add snapshot date and day
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
Due: none

update selection in code suggestions mart
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

fix where clause
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_experiment.sql
Due: none

working split of license subscription
  Makefile
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/models/common_prep/prep_license_subscription.sql
Due: none

use airflow data_interval_end
  dags/extract/gitlab_saas_dbs_extract_load.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

re-order write_metadata logic to be after chunking
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update specification.yml with offboarded team members
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

deprov bvandre
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

DROP columns for Snowplow IP enrichment
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_web_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/base_staging/snowplow_gitlab_staging_events.sql
  transform/snowflake-dbt/models/sources/snowplow/snowplow_gitlab_good_events_sample_source.sql
  transform/snowflake-dbt/models/sources/snowplow/snowplow_gitlab_good_events_source.sql
Due: none

bug fix extraction start date
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black reformat
  extract/elasticsearch_billing/src/costs_overview.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debug
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debug
  extract/elasticsearch_billing/src/costs_overview.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debug
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add role_level columns
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_user_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_users_source.sql
Due: none

concatenate fiscal year
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_sales_funnel_target.sql
Due: none

switch to production sources
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

concatenate fiscal year
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_user_fields.sql
Due: none

use ref instead of source
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_user_snapshots_source.sql
Due: none

fix fieldname
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

reinstate fields
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

use production sources
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_user_fields.sql
Due: none

fix fieldname and concatenation
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_user_fields.sql
Due: none

fix fieldname
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_user_fields.sql
Due: none

Adding opportunity Id
  transform/snowflake-dbt/models/sources/sfdc/sfdc_case_source.sql
Due: none

Update specification.yml to remove Sais
  extract/tableau_con_man_config/src/specification.yml
Due: none

sqlfluff
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_share_source.sql
Due: none

remove tdf reference
  transform/snowflake-dbt/dbt_project.yml
Due: pages

add dmack
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update specification.yml to remove svogel-ext
  extract/tableau_con_man_config/src/specification.yml
Due: none

update ultimate_parent_sales_segment_new field to use cleansing macro in live and snapshot
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

Updates for Analytics Engineers onboarding
  .gitlab/issue_templates/Team: Data Onboarding.md
  admin/onboarding_script.zsh
Due: none

Updating rpt L2R with new table specifications
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

edit
  .gitlab/issue_templates/Team: Data Onboarding.md
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
