Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

add expected types
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update chunk size to 5M, clean up comments
  dags/extract/gitlab_dbs_extract_load_backfill.py
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_ci_new_db_manifest.yaml
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add epics, update #todo chunking
  dags/extract/gitlab_dbs_extract_load_backfill.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

use prefix template
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

integration test, check if new pgp table
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/utils.py
  extract/saas_postgres_pipeline_backfill/test/test_integration_saas_backfill.py
  extract/saas_postgres_pipeline_backfill/test/test_saas_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file dim_ci_runner.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ci_runner.sql
Due: none

changing to threshold
  transform/snowflake-dbt/models/common/schema.yml
Due: none

update merged account mapping and deleted zuora crm account tracking
  transform/snowflake-dbt/models/common_mapping/restricted_safe/map_merged_crm_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rpt_deleted_crm_account_on_billing_account.sql
Due: none

eliminating warn
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Formatting
  transform/snowflake-dbt/models/common/schema.yml
Due: none

REmove field
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

update labels
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_issues.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_merge_requests.sql
Due: none

Add Person Accepted Date and Campaign Info to TD Campaigns
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
Due: none

Fix casting
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_navigation_metrics.sql
Due: none

Fix segment cleaning
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
  transform/snowflake-dbt/models/legacy/sfdc/restricted_safe/sfdc_opportunity_xf.sql
Due: none

Update field
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sfdc_account.sql
Due: none

Linting and fix WHERE app_id
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_navigation_metrics.sql
Due: none

Update field
  transform/snowflake-dbt/models/legacy/sfdc/restricted_safe/sfdc_opportunity_xf.sql
Due: none

add ci-private projects to project_pl
  transform/snowflake-dbt/data/gcp_billing_project_pl_mapping.csv
Due: none

refresh sandbox list
  transform/snowflake-dbt/data/gcp_billing_sandbox_projects.csv
Due: none

added extra fields to opportunity object
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

rename dimension and make necessary changes to field names
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_application_release.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_release_major_minor.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_application_release.sql
  transform/snowflake-dbt/models/common_prep/prep_release_major_minor.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

add to documentation and final fix to mart_ping_instance
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

add remove_unprocessed() logic to delete
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

only resume export if less than 24 hr for deletes
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

rename to test_export_conditions.py
  extract/saas_postgres_pipeline_backfill/test/test_export_conditions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ci_runner.sql
Due: none

add release date
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

adding metric to new lineage
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

add integration testing for deletes
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/test/test_check_export.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

account for composite key
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_new_db_manifest.yaml
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
  extract/saas_postgres_pipeline_backfill/test/test_saas_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update prep_crm_user_hierarchy logic to only take live opps
  transform/snowflake-dbt/models/common_prep/prep_crm_user_hierarchy.sql
Due: none

add merge_Request_metrics to dag
  dags/extract/gitlab_dbs_extract_load_backfill.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

revert manifest without composite key
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_new_db_manifest.yaml
Due: none

update logic for hybrid users in YoY sales hierarchy
  transform/snowflake-dbt/macros/sfdc/sales_hierarchy_sales_segment_cleaning.sql
  transform/snowflake-dbt/macros/sfdc/sales_segment_cleaning.sql
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/macros/sfdc/sfdc_user_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_user_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_users_source.sql
Due: none

Remove is_bizible_attribution_opportunity from recent L2R Update
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
Due: none

Add a comma - Just one
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
Due: none

adds zuora role to csharp
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
