Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

test overload
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

remove from roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

create historical table and populate to prep table
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user_historical.sql
  transform/snowflake-dbt/models/common_prep/prep_ptpf_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptpl_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptpt_scores_by_user.sql
Due: none

update docks
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

update docs
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

remove temp hardcode
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

remove hardcode
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
Due: none

add dedupe layer for tickets and ticket audits
  transform/snowflake-dbt/models/sources/zendesk/schema.yml
  transform/snowflake-dbt/models/sources/zendesk/zendesk_ticket_audits_dedupe_source.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_ticket_audits_source.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_dedupe_source.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_tickets_source.sql
Due: none

fix spacing
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

move rpt_retention_parent_account to common_mart_finance
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

move rpt_retention_parent_account_product to common_mart_finance
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account_product.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

move rpt_retention_parent_account_delivery_type to common_mart_finance
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account_delivery_type.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

changes to code to make dbt run
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptpf_scores_by_user.sql
Due: none

Update to newly released 3.10.3 image
  .gitlab-ci.yml
  dags/airflow_utils.py
  dags/transformation/dbt.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Remove new CI jobs.
  .gitlab-ci.yml
Due: none

Remove experimental CI jobs from manage snowflake.
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correct image.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Updating ABM tier logic to remove dupes
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_prep/prep.md
Due: none

Apply 3 suggestion(s) to 1 file(s)
  dags/transformation/update_dbt_artifacts.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Re-lock file.
  transform/snowflake-dbt/poetry.lock
Due: pages

Rename for dbt_ naming convention.
  dags/transformation/dbt_util_update_artifacts.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add combined model and primary_key tests
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_future_parent_account.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account_combined.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/schema.yml
Due: none

Updating schema
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Removing Bizible Grain from T vs A
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_leading_indicators_actuals_and_targets.sql
Due: none

improve formatting
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account_combined.sql
Due: none

Updated tags
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

bring in parent_crm_account_name_live and associated fields
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_future_parent_account.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account_combined.sql
Due: none

changed tags
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

moved to restricted common schema
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_namespace_onboarding.sql
Due: none

Updated tags
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_namespace_onboarding.sql
Due: none

alter condition for support latest changes with queried contain DIM_NAMESPACE_PING
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

alter condition for support latest changes with queried contain DIM_NAMESPACE_PING
  extract/saas_usage_ping/instance_namespace_metrics.py
  extract/saas_usage_ping/usage_ping_namespace_queries.json
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
