Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

‚ö´python_black:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  - black --check .

‚úèÔ∏èpython_mypy:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  ...

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v2.0.8
  allow_failure: true
  script:
  - export GCP_SERVICE_CREDS=$(echo "$ENCODED_GCP" | base64 -d)
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: false
  before_script:
  - CHANGED_FILES=$(git diff --name-only --diff-filter=d origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} ${CI_COMMIT_SHA} | grep '\.yml\|\.yaml'$)
  ...

üßä‚öôpermifrost_run:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost run permissions/snowflake/roles.yml --diff --dry
  when: manual

üßäpermifrost_spec_test:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost spec-test permissions/snowflake/roles.yml
  when: manual

tYpo.
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Return gdpr delete requests.
  extract/sheetload/drives.yml
Due: none

Updating field names
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
Due: none

tYpo.
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

tYpo.
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add gdpr workspace model.
  transform/snowflake-dbt/models/workspaces/workspace_data/dbt/dbt_gdpr_logs.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/dbt/schema.yml
Due: none

Add variables.
  dags/extract/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Log parameters.
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Log parameters.
  dags/extract/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fixing segment source
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
Due: none

pod_env_vars added in a better way.
  dags/extract/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

pod_env_vars added in a better way.
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

pod_env_vars added in a better way.
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

pull from dim_ping_metric, drop seed file
  transform/snowflake-dbt/data/health_score_metrics.csv
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave.sql
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_health_score_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
  transform/snowflake-dbt/models/common_prep/prep_saas_usage_ping_free_user_metrics.sql
  transform/snowflake-dbt/models/common_prep/prep_saas_usage_ping_subscription_mapped_wave_2_3_metrics.sql
Due: none

Cleaning up logic
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

debug start_date
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Implementing dbt command to get MNPI data.
  dags/extract/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Specifying id source
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update file wk_sales_daily_case_automation_test.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_case_history.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_daily_case_automation_test.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_gds_account_snapshots.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_gds_cases.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_gds_fo_buckets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_gds_forecast_consolidated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_gds_opportunities.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_product_price_quantity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_renewal_arr.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

Update sfdc_account_fields
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Add report for targets actuals
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
Due: none

dbt + python command working.
  dags/extract/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

dbt + python command working.
  dags/extract/data_classification.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add column to docs
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Updating field name
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

remove tableau step
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

correct var testing
  transform/snowflake-dbt/models/workspaces/workspace_data/mock/data_type_mock_table.sql
Due: none

Add case statement
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
Due: none

bump sqlfluff to 3.1.0
  transform/snowflake-dbt/poetry.lock
  transform/snowflake-dbt/pyproject.toml
Due: pages

create duo pro utilization weekly model
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/rpt_duo_pro_license_utilization_weekly.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/schema.yml
Due: none

null_if arg
  extract/kantata/src/kantata_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Update 3 files
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_5th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

add in union
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_5th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
