Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update code
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_trial.sql
Due: none

add role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add update stage
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update primary key definition to include partner category name
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_sales_funnel_partner_alliance_target_daily.sql
Due: none

add more detail to Solution section for validation
  .gitlab/issue_templates/[New Request] Create Standard Data Team Issue.md
Due: none

adding registration models
  poetry.lock
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_website_page_view.sql
Due: none

initial updates
  transform/snowflake-dbt/models/sources/customers/customers.md
  transform/snowflake-dbt/models/sources/customers/customers_db_provisions_source.sql
  transform/snowflake-dbt/models/sources/customers/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/customers_db_provisions.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

add secrets config
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct syntax error
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fixed order type typo
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

correct logic
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

re-write logic
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fixed another typo
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

update logic
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

small correction
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update join due to Snowflake release 7.23
  transform/snowflake-dbt/models/sources/dbt/dbt_run_results_source.sql
Due: none

retest logic
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file el_customers_scd_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_customers_scd_db_manifest.yaml
Due: none

Update el_customers_scd_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_customers_scd_db_manifest.yaml
Due: none

Following recommended updates
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

updating first_day_of_month
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

Updating schema
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

update adaptive role, add new schema
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

fix space
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

remove rpt_saas_purchase_flow_funnel
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/rpt_saas_purchase_flow_funnel.sql
Due: none

remove rpt_product_navigation
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/rpt_product_navigation.sql
Due: none

remove gitlab_dotcom_protected_branch_push_access_levels
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_protected_branch_push_access_levels.sql
Due: none

remove gitlab_dotcom_project_ci_cd_settings
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_project_ci_cd_settings.sql
Due: none

remove gitlab_dotcom_protected_branch_merge_access_levels
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_protected_branch_merge_access_levels.sql
Due: none

remove gitlab_dotcom_terraform_states
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_terraform_states.sql
Due: none

remove gitlab_dotcom_approval_project_rules_users
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_approval_project_rules_users.sql
Due: none

remove gitlab_dotcom_approval_project_rules_groups
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_approval_project_rules_groups.sql
Due: none

remove gitlab_dotcom_users_security_dashboard_projects
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_users_security_dashboard_projects.sql
Due: none

remove gitlab_dotcom_project_features
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_project_features.sql
Due: none

remove gitlab_dotcom_dast_profiles
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_dast_profiles.sql
Due: none

remove models from schema
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none
