Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Black.
  extract/gitlab_data_yaml/upload.py
  extract/test/__init__.py
  extract/test/test_gitlab_data_yaml.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

FILE_MAPPING added.
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Cleaning the fct absence model of extra dimensions
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_absence.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_people/mart_team_member_absence.sql
Due: none

cost_center doc change
  transform/snowflake-dbt/models/sources/workday/workday_source_descriptions.md
Due: none

Update file rpt_sales_dev_activity.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Update 3 files
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_product_usage_health_score_with_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_with_zero_dollar_charges.sql
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/schema.yml
Due: none

Update file mart_product_usage_health_score.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_health_score.sql
Due: none

rename columns
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Update names
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Update file prep_ci_build.sql
  transform/snowflake-dbt/models/common_prep/prep_ci_build.sql
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

lint prep_ci_build
  transform/snowflake-dbt/models/common_prep/prep_ci_build.sql
Due: none

update join key
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_website_page_view.sql
Due: none

update is_bot to boolean
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_users_source.sql
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

remove seed file
  transform/snowflake-dbt/data/health_score_metrics.csv
Due: none

Applied code reviewer suggestion.
  dags/extract/data_classification.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add start time
  dags/extract/waterfall_report_driveload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update filters
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_memberships.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/group_collaboration_count.sql
Due: none

add new code suggestions context columns
  transform/snowflake-dbt/macros/common/macro_prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_behavior_code_suggestion_gateway_request.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_behavior_code_suggestion_outcome.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

coalesce some columns in rpt_behavior_code_suggstion_outcome
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_behavior_code_suggestion_outcome.sql
Due: none

Merge branch 'master' into 21364-modifications-to-edm-absence-models-and-cost_centers-schema
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
  transform/snowflake-dbt/models/sources/workday/schema.yml
  transform/snowflake-dbt/models/sources/workday/workday_cost_centers_snapshots_source.sql
  transform/snowflake-dbt/snapshots/workday/cost_centers_snapshots.sql
Due: none

Sencitive tags model created.
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/data_classification/data_classification.md
  transform/snowflake-dbt/models/sources/data_classification/schema.yml
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_details.sql
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_tags.sql
  transform/snowflake-dbt/models/sources/data_classification/sources.yml
  transform/snowflake-dbt/models/sources/snowflake/sources.yml
Due: pages

Created and tested model: sensitive_queries_source
  transform/snowflake-dbt/models/sources/data_classification/schema.yml
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_details.sql
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_source.sql
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_tags.sql
Due: none

Done with modeling in PREP/
  transform/snowflake-dbt/models/sources/data_classification/data_classification.md
  transform/snowflake-dbt/models/sources/data_classification/schema.yml
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_base.sql
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_details.sql
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_source.sql
Due: none

Woekspace models done.
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_details.sql
  transform/snowflake-dbt/models/sources/data_classification/sensitive_queries_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/data_classification/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_data/data_classification/wk_data_classification.md
  transform/snowflake-dbt/models/workspaces/workspace_data/data_classification/wk_sensitive_queries_details.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/data_classification/wk_sensitive_queries_source.sql
Due: none

Update documentation
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

Remove testing tables
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_sales_funnel_target_daily_pivoted.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_targets_actuals_7th_day_weekly_snapshot.sql
Due: none
