Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Added crm_account_owner_manager
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

Enable backfilling.
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

set tmp_relation_type as table to fix performance issues
  transform/snowflake-dbt/models/common_prep/prep_ping_instance_flattened.sql
Due: none

NULLify deployments.cluster_id column.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

set tmp_relation_type as table to fix performance issues
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user_snapshot_bottom_up.sql
Due: none

set tmp_relation_type as table to fix performance issues
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_secure_stage_ci_jobs.sql
Due: none

set tmp_relation_type as table to fix performance issues
  transform/snowflake-dbt/models/sources/saas_usage_ping/saas_usage_ping_namespace.sql
Due: none

set tmp_relation_type as table to fix performance issues
  transform/snowflake-dbt/models/common_prep/prep_ci_build.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_usage_data_ci_builds.sql
Due: none

add custom invocation
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Update file internal_gitlab_projects.csv
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
Due: none

correcting syntax
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

update raw reference
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

add full refresh
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

test csv change
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

test model change
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
  transform/snowflake-dbt/models/common_prep/prep_team_member.sql
Due: none

clean up custom invocation
  transform/snowflake-dbt/models/common_prep/prep_team_member.sql
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

change runner models
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/ue/rpt_ue_runners_ci_minutes.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/ue/rpt_ue_runners_ci_minutes_sku.sql
Due: none

Update permifrost image version.
  .gitlab-ci.yml
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Test change to enable pipelines.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

fix total_ci_minutes and add cost factors
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/ci_runners_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/ue/rpt_ue_runners_ci_minutes.sql
Due: none

Test new version.
  .gitlab-ci.yml
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black reformat.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove enablement section from the performance indicators list
  extract/gitlab_data_yaml/upload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

downgrade test to warn
  transform/snowflake-dbt/models/legacy/zuora/intermediate/schema.yml
  transform/snowflake-dbt/models/legacy/zuora/xf/schema.yml
Due: none

Update fct crm task performance
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

Update file wk_gitlab_dotcom_package_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_package_events.sql
Due: none

Debug.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add proper image version.
  dags/airflow_utils.py
  dags/general/tableau_workbook_migrate.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Rename enablement section to core platform section
  extract/gitlab_data_yaml/upload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 1 suggestion(s) to 1 file(s)
  dags/general/snowflake_table_clones_rollup.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add all skus in ue ci minutes skus
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/ue/rpt_ue_runners_ci_minutes_sku.sql
Due: none

Debug.
  .gitlab-ci.yml
Due: none

Minor update to audit macro
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
Due: none

removing field from one model
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
Due: none

updating updated_date
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
Due: none

removing test for metric
  transform/snowflake-dbt/models/marts/pumps/schema.yml
Due: none

Removing field and tests for another model
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/marts/pumps/schema.yml
Due: none
