Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

remove milestones and labels
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Update file wk_gitlab_dotcom_package_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_package_events.sql
Due: none

Update campaign groupings
  transform/snowflake-dbt/models/common_mapping/map_bizible_campaign_grouping.sql
Due: none

Fixed build bugs to campaign grouping
  transform/snowflake-dbt/models/common_mapping/map_bizible_campaign_grouping.sql
Due: none

adding new experiment data model
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_experiment_event_entity_daily.sql
Due: none

consolidate to single QUALIFY statement
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_behavior_code_suggestion.sql
Due: none

incorporate linter feedback
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_behavior_code_suggestion.sql
Due: none

formatting and docs clean up
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_behavior_code_suggestion.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

adds workato to hightouch_user and mconteanu
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Switch to test public plan.
  extract/tableau_con_man_config/src/public_sync_plan.yaml
Due: none

Table added cloud_activation_license_mappings.
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_customers_scd_db_manifest.yaml
Due: none

add README
  admin/inventory/README.md
Due: none

- Template updated - pipeline updated with new path to the manifest files.
  .gitlab/merge_request_templates/Postgres Pipeline Changes.md
Due: none

- Template updated
  .gitlab/merge_request_templates/Postgres Pipeline Changes.md
Due: none

Add new tableau API secrets.
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add Tableau secrets, remove SF secrets.
  dags/general/tableau_workbook_migrate.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update map_bizible_campaign_grouping.sql with more integrated campaign to GTM grouping
  transform/snowflake-dbt/models/common_mapping/map_bizible_campaign_grouping.sql
Due: none

Add missing field.
  extract/tableau_con_man_config/src/public_sync_plan.yaml
Due: none

segregate tasks
  dags/extract/zendesk_extract.py
  extract/zendesk/src/zendesk.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct logic
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debug.
  dags/general/snowflake_table_clones_rollup.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Update file el_saas_gitlab_ops_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_ops_db_manifest.yaml
Due: none

add annual_billing_invoice_price calculated field
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_invoice_item.sql
Due: none

Fix wrong quote in campaign grouping
  transform/snowflake-dbt/models/common_mapping/map_bizible_campaign_grouping.sql
Due: none

Revert "add annual_billing_invoice_price calculated field"
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_invoice_item.sql
Due: none

Add valid_to and valid_from from fct table
  transform/snowflake-dbt/models/common_prep/prep_team_status.sql
Due: none

Add seed file with test employees
  transform/snowflake-dbt/data/test_employee_ids.csv
  transform/snowflake-dbt/models/sources/workday/blended_employee_mapping_source.sql
Due: none

Add description for seed
  transform/snowflake-dbt/data/seeds.yml
Due: none

bug fix for duplicates
  dags/extract/zendesk_extract.py
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

increase chunk size
  dags/extract/zendesk_extract.py
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

bug fix
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black reformat
  extract/zendesk/src/zendesk_ticket_audits_refactor.py
  extract/zendesk/src/zendesk_tickets_refactor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix test cases.
  extract/test/test_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds zuora_order to rkohnke
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Saas_pgp_test added into the template.
  .gitlab/merge_request_templates/Postgres Pipeline Changes.md
Due: none

add annual_billing_invoice_price field
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_invoice_items_detail.sql
Due: none
