Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

‚ö´python_black:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  - black --check .

‚úèÔ∏èpython_mypy:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  ...

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v2.0.8
  allow_failure: true
  script:
  - export GCP_SERVICE_CREDS=$(echo "$ENCODED_GCP" | base64 -d)
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: false
  before_script:
  - CHANGED_FILES=$(git diff --name-only --diff-filter=d origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} ${CI_COMMIT_SHA} | grep '\.yml\|\.yaml'$)
  ...

üßä‚öôpermifrost_run:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost run permissions/snowflake/roles.yml --diff --dry
  when: manual

üßäpermifrost_spec_test:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost spec-test permissions/snowflake/roles.yml
  when: manual

Specify fields
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/sensitive/gitlab_dotcom_users.sql
Due: none

Add wk_ping_installation_latest
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_ping_installation_latest.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

simple_cte alias correction
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_talent_flow.sql
Due: none

select explicitly, modify docs
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_ping_installation_latest.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

rename & add first_ping_created_at definition
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_ping_installation_latest.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

First Draft
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_employment_history.sql
Due: none

Deleted extra file
  transform/snowflake-dbt/models/sources/sheetload/sheetload_cost_centers_historical.sql
Due: none

Clean up fields
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_final_bookings.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/test.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
Due: none

Update file rpt_product_usage_health_score.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Update file [New Request] CSV or GSheet Data Upload.md
  .gitlab/issue_templates/[New Request] CSV or GSheet Data Upload.md
Due: none

Add workday_id fields
  transform/snowflake-dbt/models/sources/workday/staffing_history_approved_source.sql
Due: none

update user_type filter
  transform/snowflake-dbt/models/workspaces/workspace_engineering/group_collaboration_count.sql
Due: none

Code refactored.
  extract/gitlab_data_yaml/file_specification.yml
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Refactoring completed.
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Fix group by
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
Due: none

Remove duplicates
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
Due: none

reorganize
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
Due: none

update code owners
  CODEOWNERS
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/seeds/seed_customer_success/license_md5_to_subscription_mapping_temp.csv
  transform/snowflake-dbt/seeds/seed_customer_success/seed_customer_success.md
  transform/snowflake-dbt/seeds/seed_customer_success/seed_customer_success.yml
  transform/snowflake-dbt/seeds/seed_data/seed_data.md
  transform/snowflake-dbt/seeds/seed_data/seed_data.yml
  transform/snowflake-dbt/seeds/seed_engineering/seed_engineering.md
  transform/snowflake-dbt/seeds/seed_engineering/seed_engineering.yml
  transform/snowflake-dbt/seeds/seed_finance/seed_finance.md
  transform/snowflake-dbt/seeds/seed_finance/seed_finance.yml
  transform/snowflake-dbt/seeds/seed_product/health_score_metrics.csv
Due: pages

remove space
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
Due: none

Remove duplicate
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
Due: none

update reference names
  transform/snowflake-dbt/models/specific/no_transformaion_view/ntv_handbook_file_classification_mapping.sql
  transform/snowflake-dbt/models/specific/no_transformaion_view/ntv_projects_part_of_product.sql
Due: none

revert code owners
  CODEOWNERS
Due: none

Testing done.
  extract/gitlab_data_yaml/upload.py
  extract/test/__init__.py
  extract/test/test_gitlab_data_yaml.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing done.
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black.
  extract/test/__init__.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

reapply code owner changes
  CODEOWNERS
Due: none

Columns added: - organization_name - organization_domain
  transform/snowflake-dbt/models/sources/commonroom/commonroom_community_members_source.sql
  transform/snowflake-dbt/models/sources/commonroom/schema.yml
  transform/snowflake-dbt/models/sources/commonroom/sources.yml
Due: none

docs and clean up
  transform/snowflake-dbt/data/acquisition_impact.csv
  transform/snowflake-dbt/data/excluded.csv
  transform/snowflake-dbt/data/gitlab_dotcom_xmau_metrics.csv
  transform/snowflake-dbt/data/map_saas_event_to_gmau.csv
  transform/snowflake-dbt/data/map_saas_event_to_smau.csv
  transform/snowflake-dbt/data/raw_netsuite_currencies.csv
  transform/snowflake-dbt/data/seeds.md
  transform/snowflake-dbt/data/seeds.yml
  transform/snowflake-dbt/data/test_metrics_renaming.csv
  transform/snowflake-dbt/data/version_blacklisted_instance_uuid.csv
  transform/snowflake-dbt/data/zuora_asc_606_conversion_factors.csv
  transform/snowflake-dbt/models/specific/no_transformation_view/ntv_handbook_file_classification_mapping.sql
  transform/snowflake-dbt/models/specific/no_transformation_view/ntv_projects_part_of_product.sql
  transform/snowflake-dbt/seeds/seed_customer_success/seed_customer_success.yml
  transform/snowflake-dbt/seeds/seed_engineering/seed_engineering.yml
  transform/snowflake-dbt/seeds/seed_finance/seed_finance.md
  transform/snowflake-dbt/seeds/seed_finance/seed_finance.yml
  transform/snowflake-dbt/seeds/seed_marketing/seed_marketing.yml
  transform/snowflake-dbt/seeds/seed_people/seed_people.md
  transform/snowflake-dbt/seeds/seed_people/seed_people.yml
  transform/snowflake-dbt/seeds/seed_product/seed_product.md
  transform/snowflake-dbt/seeds/seed_product/seed_product.yml
  transform/snowflake-dbt/seeds/seed_sales/seed_sales.yml
Due: none

Test path
  extract/test/test_gitlab_data_yaml.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
