Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

update hierarchy sk logic in user to account for current nulls in business unit to make testing easier
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_user.sql
Due: none

doc updates
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_mart/schema.yml
Due: none

add fiscal year to hierarchy logic
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_dim_crm_user_hierarchy.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_fct_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_fct_sales_funnel_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_user_hierarchy.sql
Due: none

adding fields to models
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_fct_snowplow_events_service_ping.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_service_ping_context.sql
Due: none

update join for live user hierarchy joins
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_dim_crm_user_hierarchy.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_fct_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_mart_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_mart_sales_funnel_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_mart_sales_funnel_target_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_user.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_user_hierarchy.sql
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add gsheets specific credential to the kube secrets!
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update lock after install
  transform/snowflake-dbt/poetry.lock
Due: pages

update documentation for pql fields
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

Add marketo lead id documentation
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

creating new subfolders and new model
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metric_aggregations/many_to_many/wk_rpt_user_based_metric_counts_namespace_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metric_aggregations/one_to_one/wk_rpt_event_based_metric_counts_namespace_all_time.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_mart_snowplow_events_service_ping_metrics.sql
Due: none

missing comma
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metric_aggregations/one_to_one/wk_rpt_event_based_metric_counts_namespace_all_time.sql
Due: none

Update sheets.yml
  extract/sheetload/boneyard/sheets.yml
Due: none

additional column filters
  transform/snowflake-dbt/analysis/data_team/dbt_upgrade_tests.sql
Due: none

add role grant q
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Initial Change
  transform/snowflake-dbt/models/workspaces/workspace_saas_usage_ping/wk_saas_usage_ping_instance_flattened.sql
  transform/snowflake-dbt/models/workspaces/workspace_saas_usage_ping/wk_saas_usage_ping_instance_redis_metrics.sql
Due: none

update manifest files to remove col website_url
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_db_manifest.yaml
Due: none

change documentation
  transform/snowflake-dbt/models/workspaces/workspace_saas_usage_ping/schema.yml
Due: none

update hierarchy join in opp fact
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
Due: none

add new ci job to test
  .gitlab-ci.yml
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

typo
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

switch to switch
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct column name
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove columns
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_users_source.sql
  transform/snowflake-dbt/models/sources/gitlab_ops/gitlab_ops_users_source.sql
Due: none

udpate fiscal year logic
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_user_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_user_hierarchy.sql
Due: none

add infra model, pl infra model, project seed, infra seed
  transform/snowflake-dbt/data/gcp_billing_infra_pl_mapping.csv
  transform/snowflake-dbt/data/gcp_billing_project_pl_mapping.csv
  transform/snowflake-dbt/data/gcp_billing_sandbox_projects.csv
  transform/snowflake-dbt/data/seeds.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_pl_mapping_infra_day.sql
Due: none

add project pl mappings
  transform/snowflake-dbt/data/gcp_billing_project_pl_mapping.csv
Due: none

remove trial introduction
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

remove trial documentation
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

intial change
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_namespace.sql
Due: none

Set to empty dependencies.
  .gitlab-ci.yml
Due: none

download and upload to gcs
  extract/zuora_report_api/src/api.py
  extract/zuora_report_api/src/main.py
  extract/zuora_report_api/src/zuora_report_api_list.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add model spec in schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

deprecate old gcp billing
  extract/gcp_billing/README.md
  extract/gcp_billing/__init__.py
  extract/gcp_billing/src/__init__.py
  extract/gcp_billing/src/extract_gcp_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

deprecate old gcp billing
  dags/extract/gcp_billing_extract_partition.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

revert previous changes
  transform/snowflake-dbt/models/common/dimensions_shared/dim_order_action_rate_plan.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
