Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update specification.yml with Taurie Davis
  extract/tableau_con_man_config/src/specification.yml
Due: none

remove pii model and add unmasked col to dim_namespace
  transform/snowflake-dbt/models/common/dimensions_shared/dim_namespace.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common/sensitive/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_namespace.sql
Due: none

Update specification.yml with 4 Viewers for People
  extract/tableau_con_man_config/src/specification.yml
Due: none

remove pii model
  transform/snowflake-dbt/models/common/sensitive/dim_namespace_pii.sql
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

revert changes in schema.yml sensitive
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

remove extra lines
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

spacing
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

add code suggestions
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_code_suggestions_context.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

add analyst_marketing_sensitive to roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

revert role changes
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove roles
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file gdpr_delete_gitlab_dotcom.sql
  transform/snowflake-dbt/macros/warehouse/gdpr_delete_gitlab_dotcom.sql
Due: none

Update file gdpr_delete.sql
  transform/snowflake-dbt/macros/warehouse/gdpr_delete.sql
Due: none

add itemised costs
  dags/extract/elasticsearch_billing_extract.py
  extract/elastic_search_billing/src/elasticsearch_billing_itemized_costs.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct typo
  dags/extract/elasticsearch_billing_extract.py
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Pipeline commit.
  README.md
Due: none

add itemised costs by deployment
  dags/extract/elasticsearch_billing_extract.py
  dags/kube_secrets.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds whaber
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds cswords
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds idawson
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds dbolkensteyn
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds jthome
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds mhenriksen
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds jsalazar
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds twoodham
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds lcharles
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds fcatteau
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds ogonzalez
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds tfigueiro
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds marketo to snalamaru
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds sranasinghe
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds stseng
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds mikesmith
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add recon steps
  dags/extract/elasticsearch_billing_extract.py
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black format
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Allow failures to ensure onstop works.
  .gitlab-ci.yml
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
