Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Models refined and prepared for full refresh.
  dags/transformation/dbt_temp_prep_instance_ping_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added vulnerabilities fro processing
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix bug in ptp fields
  transform/snowflake-dbt/models/common/sensitive/poc_pump_marketing_contact_namespace_detail.sql
Due: none

make model incremental
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

remove ptpf fields and add ptp_source
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_marketing_contact.sql
Due: none

Add User working hours fields
  transform/snowflake-dbt/macros/sfdc/sfdc_user_fields.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_user_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_users_source.sql
Due: none

Change CRON from WED to THU.
  dags/transformation/dbt_temp_prep_instance_ping_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

model for issues and note cross references
  transform/snowflake-dbt/models/workspaces/workspace_engineering/issue_note_cross_reference.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

add back fields to workspace models
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

move columns in workspace model to match production
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

add columns back to edm models for workspace
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/workspaces/workspace_marketing/namespace_account_matching/wk_mart_namespace_company_account.sql
Due: none

remove all references to dim_active_product_tier_id and replace with dim_latest_product_tier_id
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_namespace_daily.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_namespace_monthly.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_user_daily.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_valid.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/common_mart.md
  transform/snowflake-dbt/models/common_mart/mart_event_namespace_monthly.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
Due: none

Adding pipeline created
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised2.sql
Due: none

Add command to DAG
  dags/transformation/dbt_temp_prep_instance_ping_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Test
  dags/transformation/dbt_temp_prep_instance_ping_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

deprovision tscott - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision caitlin - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision bnguyen - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision ncregan - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision gweaver - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision jbudreski - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision david - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remain david dev database
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision webrahim - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision rwoo - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision bvandre - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision mnohr - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision tliu - fy24q2 audit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds HIGHTOUCH_USER to exclude checking
  .gitlab/issue_templates/Quarterly Data Health and Security Audit.md
Due: none

Update sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
Due: none

Update sfdc_lead_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

remove start of day field
  transform/snowflake-dbt/macros/sfdc/sfdc_user_fields.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_user_snapshots_source.sql
Due: none

All models run - tested.
  dags/transformation/dbt_temp_prep_instance_ping_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove startday and endday from source table
  transform/snowflake-dbt/models/sources/sfdc/sfdc_users_source.sql
Due: none

add dim_order_id to mart_arr
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
Due: none
