Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

offboarding blazzarin
  extract/tableau_con_man_config/src/specification.yml
Due: none

combine config blocks
  transform/snowflake-dbt/models/common_prep/prep_crm_user_hierarchy.sql
Due: none

test feedback
  orchestration/tableau_dependency_query/src/tableau_query.py
  orchestration/tableau_dependency_query/test/test_tableau_query.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

test feedback
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/focus/aws_focus.sql
Due: none

bug fix
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

include get_keyed_nulls for hierarchy_sk
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
Due: none

bug fix
  orchestration/tableau_dependency_query/src/tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove string before backslash
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

raise value error
  orchestration/tableau_dependency_query/src/tableau_query.py
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Resolve "prep_event lineage: Add accept_invite event"
  transform/snowflake-dbt/data/gitlab_dotcom_xmau_metrics_common.csv
  transform/snowflake-dbt/models/common_prep/month_partition/dotcom_usage_events/prep_event.sql
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_member_accepted_invites.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

update path for update_roles_yaml
  orchestration/snowflake_provisioning_automation/update_roles_yaml/args_update_roles_yaml.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/render_templates.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/roles_struct.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/src/update_roles_utils.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/tests/__init__.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/tests/test_roles_struct.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/tests/test_update_roles_yaml.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/update_roles_yaml.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/utils_update_roles.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix tests/ path
  orchestration/snowflake_provisioning_automation/provision_users/args_provision_users.py
  orchestration/snowflake_provisioning_automation/provision_users/provision_users.py
  orchestration/snowflake_provisioning_automation/provision_users/tests/__init__.py
  orchestration/snowflake_provisioning_automation/tests/__init__.py
  orchestration/snowflake_provisioning_automation/tests/roles_test.yml
  orchestration/snowflake_provisioning_automation/tests/test_convert_sql_templates.py
  orchestration/snowflake_provisioning_automation/tests/test_provision_users.py
  orchestration/snowflake_provisioning_automation/tests/test_roles_struct.py
  orchestration/snowflake_provisioning_automation/tests/test_roles_templates.py
  orchestration/snowflake_provisioning_automation/tests/test_update_roles_yaml.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/tests/__init__.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/update_roles_yaml.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/utils_update_roles.py
  orchestration/snowflake_provisioning_automation/utils_snowflake_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating prep
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

pylint
  orchestration/snowflake_provisioning_automation/tests/test_provision_users.py
  orchestration/snowflake_provisioning_automation/tests/test_update_roles_yaml.py
  orchestration/snowflake_provisioning_automation/tests/test_utils_snowflake_provisioning.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/utils_update_roles.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add zendesk_frt to schema
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

fix runbook link
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

Created new snapshot model
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_fct_available_to_renew_snapshot.sql
Due: none

Update file specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update wk_fct_targets_actuals_5th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_5th_day_weekly_snapshot.sql
Due: none

adds trizzi
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

format output and correct tests
  orchestration/tableau_dependency_query/src/tableau_query.py
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add vhempel
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds jlongo
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

format output
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove test
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update audit
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
Due: none

modify test
  orchestration/tableau_dependency_query/test/test_tableau_query.py
  transform/snowflake-dbt/models/sources/aws_billing/aws_billing_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/focus/aws_focus.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

modify test
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update kpi name
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_fct_sales_funnel_actual.sql
Due: none

add case statement to rename Net ARR Company
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_sales_funnel_target.sql
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_sales_funnel_target.sql
Due: none

black format
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update XDR field order
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
Due: none

lint fix
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add case for renaming Net ARR to Stretch
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_sales_funnel_target.sql
Due: none

Remove build_coverage_regex
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_project.sql
  transform/snowflake-dbt/models/common_prep/prep_project.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_projects_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_ops/xf/gitlab_ops_projects_xf.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/gitlab_dotcom_projects_snapshots_base.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_projects_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_ops/gitlab_ops_projects_source.sql
  transform/snowflake-dbt/models/sources/gitlab_ops/schema.yml
Due: none

Update net arr company to net arr
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_net_arr_targets_quarterly.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
