Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

update again for other business units
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
  transform/snowflake-dbt/macros/sfdc/sfdc_user_fields.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_sales_funnel_partner_alliance_target.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_sales_funnel_partner_alliance_target_daily.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_funnel_partner_alliance_target.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_funnel_target.sql
Due: none

add risk fields to account models
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

update name in snapshot vs live
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
Due: none

move models to ws eng, add repo size models
  transform/snowflake-dbt/data/gcp_billing_service_allocation.csv
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_mapping_infra_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl/infralabel_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl/namespace_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl/projects_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl/repo_storage_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl/sandbox_projects_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/rpt_product_storage_metrics_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/skus/rpt_gcp_billing_skus_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_infra_pet_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_pl_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_service_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

remove seed, update schema
  transform/snowflake-dbt/data/seeds.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

update dbt_edm_snapshot.py
  dags/transformation/dbt_edm_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file gitlab_dot_com_dbt.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

change schema for raw zengrc
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add prep and prod files
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_project_ci_cd_settings_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/scd/gitlab_dotcom_ project_ci_cd_settings_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/scd/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/gitlab_dotcom_project_ci_cd_settings.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/schema.yml
Due: none

Rename a couple of columns in the source and add two new columns
  transform/snowflake-dbt/models/sources/data_science/ptc_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/ptpf_scores_source.sql
Due: none

Add new branch for testing dag purposes only
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

update filters
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl/namespace_pl_daily.sql
Due: none

add drop database in deprovisioning script
  permissions/snowflake/user_deprovision.sql
Due: none

adds zengrc to pempey
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

update audit macro
  transform/snowflake-dbt/models/data_quality/product_data_detection_run_detail.sql
Due: none

Added source thanos_stage_group_error_budget_completeness_source
  transform/snowflake-dbt/models/legacy/thanos/thanos_stage_group_error_budget_completeness.sql
  transform/snowflake-dbt/models/sources/thanos/schema.yml
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_completeness_source.sql
Due: none

Update product data steps
  .gitlab/issue_templates/Data Onboarding.md
Due: none

Update file Data Onboarding.md
  .gitlab/issue_templates/Data Onboarding.md
Due: none

correct spelling
  transform/snowflake-dbt/models/sources/sfdc/sfdc_base_doc.md
Due: none

fix field name
  transform/snowflake-dbt/models/sources/sfdc/sfdc_customer_subscription_source.sql
Due: none

add documentation for license fields
  transform/snowflake-dbt/models/data_quality/schema.yml
Due: none

Clone MR repo instead of main
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

disable fail
  .gitlab-ci.yml
Due: none

bad yaml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

reorder jpeguero
  .gitlab-ci.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Modified for sqlfluff
  transform/snowflake-dbt/models/legacy/thanos/thanos_stage_group_error_budget_completeness.sql
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_completeness_source.sql
Due: none

update business unit ref in snaphot vs live
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
Due: none

Update the source scores ptpf table
  transform/snowflake-dbt/models/sources/data_science/ptpf_scores_source.sql
Due: none

formatting
  transform/snowflake-dbt/models/sources/sfdc/sfdc_customer_subscription_source.sql
Due: none

updated on progression model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_stage_progression.sql
Due: none

fake role for error
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

final naming attempt for business unit in snapshot vs live
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
Due: none

Updating date and account id fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

updates based on Chris' comments
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_sales_funnel_target.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_user_hierarchy.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
