Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Add mnpi tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_action_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_amendment_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_product_detail_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_charge_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_recurring_charge_central_sandbox.sql
Due: none

Add mnpi tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/map_product_tier_central_sandbox.sql
Due: none

update documentation mistakes
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Add mnpi tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_action_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_amendment_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_recurring_charge_api_sandbox.sql
Due: none

Add mnpi tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/map_product_tier_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_product_detail_api_sandbox.sql
Due: none

Change to mnpi_exception
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_charge_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_recurring_charge_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_recurring_charge_central_sandbox.sql
Due: none

Change to mnpi_exception
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_action_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_action_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_api_sandbox.sql
Due: none

Add mnpi_exception tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/map_product_tier_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/map_product_tier_central_sandbox.sql
Due: none

Update to mnpi_exception
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_amendment_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_amendment_central_sandbox.sql
Due: none

Update tag to mnpi_exception
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_product_detail_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_product_detail_central_sandbox.sql
Due: none

Update file gitlab_dot_com_dbt.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adjust date range on infra model mapping
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_infra_pet_mapping_day.sql
Due: none

Modify join to avoid multiple joins
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

add table references to columns in joins
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave_monthly.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
Due: none

Add model description in the docs
  transform/snowflake-dbt/models/marts/pumps/pumps.md
  transform/snowflake-dbt/models/marts/pumps/schema.yml
Due: none

Add mnpi tags
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly_report_view.sql
Due: none

Add missing docs tag
  safe_models.json
  transform/snowflake-dbt/models/marts/pumps/pumps.md
Due: none

working on adding fy24 xray keys
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
Due: none

add fetchall
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

use analytics_engineer_core in ci
  .gitlab-ci.yml
Due: none

use analytics_engineer_core in ci
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

loop through grants for values
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add internal issues
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

dropping product tag from snowplow
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/selectors.yml
Due: pages

additional testing
  transform/snowflake-dbt/selectors.yml
Due: pages

Add sales_last_activity_date to opportunity models
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
Due: none

upping warehouse size
  dags/transformation/dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add-jjstark-to-dags
  CODEOWNERS
Due: none

adding product tag to snowplow models
  dags/transformation/dbt.py
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_browser.sql
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_event.sql
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_operating_system.sql
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_behavior_website_page.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_experiment.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_without_assignment.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_without_assignment_190.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_without_assignment_400.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_website_page_view.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_gitlab_events_experiment_contexts_all.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_page_views_all.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/selectors.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

update case statement
  transform/snowflake-dbt/macros/sfdc/sales_qualified_source_cleaning.sql
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
Due: none

Fix last first_country
  transform/snowflake-dbt/models/common_mapping/map_alternative_lead_demographics.sql
Due: none

Fix more first_country
  transform/snowflake-dbt/models/common_mapping/map_alternative_lead_demographics.sql
Due: none

Drop PMG DAG, extract.
  dags/extract/pmg_extract.py
  extract/pmg/README.md
  extract/pmg/__init__.py
  extract/pmg/src/__init__.py
  extract/pmg/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Drop dbt process.
  transform/snowflake-dbt/models/legacy/pmg/pmg_paid_digital.sql
  transform/snowflake-dbt/models/legacy/pmg/schema.yml
  transform/snowflake-dbt/models/sources/pmg/paid_digital.sql
  transform/snowflake-dbt/models/sources/pmg/pmg_base_doc.md
  transform/snowflake-dbt/models/sources/pmg/schema.yml
  transform/snowflake-dbt/models/sources/pmg/sources.yml
Due: none

Drop final PMG report
  transform/snowflake-dbt/models/common_mart_marketing/reports/rpt_pmg_data.sql
Due: none

wip: add cost before discounts to models
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_pl_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_pl_mapping_infra_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_service_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_skus_day.sql
Due: none

Remove pmg as a source
  transform/snowflake-dbt/dbt_project.yml
Due: pages
