Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

updated fields
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

rename column in fact
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_namespace_monthly.sql
Due: none

renamed files, Fire() is working
  extract/level_up_thought_industries/README.md
  extract/level_up_thought_industries/src/execute.py
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

include api start/end parameters in snowflake json upload
  extract/level_up_thought_industries/src/execute.py
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

level up init
  extract/level_up/README.md
  extract/level_up/src/level_up.py
  extract/level_up/src/level_up_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

create level up dag
  dags/extract/level_up_thought_industries_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

convert start/end date from parameters to env vars
  extract/level_up_thought_industries/src/execute.py
  extract/level_up_thought_industries/src/thought_industries_api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix simple merge conflict
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct for tables and multiple applications
  transform/snowflake-dbt/macros/dbt_snowflake_masking/apply_masking_policy.sql
  transform/snowflake-dbt/macros/dbt_snowflake_masking/create_masking_policy.sql
Due: none

fix execution date multiply by 1000 string bug
  dags/extract/level_up_thought_industries_extract.py
  extract/level_up_thought_industries/src/execute.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

run the endpoints now
  dags/extract/level_up_thought_industries_extract.py
  extract/level_up_thought_industries/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

w+ to open()
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixed pylint error
  dags/extract/zuora_revenue_report.py
  extract/zuora_revenue_report/load_zuora_revenue_report.py
  extract/zuora_revenue_report/src/api.py
  extract/zuora_revenue_report/src/main.py
  extract/zuora_revenue_report/src/zuora_report_api_list.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixed pylint error
  dags/extract/zuora_revenue_report.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixed black and mypy error
  dags/extract/zuora_revenue_report.py
  extract/mailgun/src/execute.py
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/main.py
  extract/postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
  extract/postgres_pipeline/postgres_pipeline/postgres_utils.py
  extract/zuora_revenue_report/load_zuora_revenue_report.py
  extract/zuora_revenue_report/src/api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Reverted postgres changes
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/main.py
  extract/postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

change join for inner join
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_namespace_growth_section.sql
Due: none

defined method as static method
  extract/zuora_revenue_report/src/api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Revert "Merge branch 'correct_clone_dbt_select_error' into 'master'"
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add theme label
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/mart_user_request.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_crm_account_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_user_request_issue_epic.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/schema.yml
Due: none

Updating PQL join
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_namespace_growth_section.sql
Due: none

updated adjusted fields
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

add internal notes
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_notes.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/map_epic_internal.sql
Due: none

update schema file
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

remove ref to legacy models
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_merge_requests.sql
Due: none

Update transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_namespace_onboarding.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_namespace_onboarding.sql
Due: none

Creating revised L2R model
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue_revised.sql
Due: none

adding new unique key
  transform/snowflake-dbt/models/sources/workday/blended_on_target_earnings_source.sql
  transform/snowflake-dbt/models/sources/workday/schema.yml
  transform/snowflake-dbt/models/sources/workday/workday_on_target_earnings_source.sql
Due: none

fixed errors in downstream models
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_demo_sqs_ot_keys.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_metrics_qtd.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_fy_metrics_per_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_fy_metrics_per_day_with_targets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_metrics_per_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_metrics_per_day_with_targets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_velocity_quarter.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_velocity_quarter_with_targets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_targets_totals_per_quarter.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

add masking for legacy model
  transform/snowflake-dbt/models/legacy/sfdc/intermediate/schema.yml
  transform/snowflake-dbt/models/legacy/sfdc/intermediate/sfdc_task.sql
Due: none

remove fy24 mock data from seeds.yml
  transform/snowflake-dbt/data/seeds.md
  transform/snowflake-dbt/data/seeds.yml
Due: none

Fixing customers_db_trial_histories alias
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_namespace_onboarding.sql
Due: none

more fixes
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_demo_sqs_ot_keys.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_metrics_qtd.sql
Due: none

more fixes
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_metrics_per_day_with_targets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_velocity_quarter.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_velocity_quarter_with_targets.sql
Due: none

handle retries
  dags/extract/level_up_thought_industries_extract.py
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add namespace classification table
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_product_namespace_classification.sql
Due: none

add schema for namespace classification
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

change schema, add column name
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

add logic to subtract timestamp-1
  dags/extract/level_up_thought_industries_extract.py
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update audit fields for daily fact
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_namespace_daily.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
