Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
Due: none

Update file rpt_product_usage_health_score.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
Due: none

Update 2 files
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_with_zero_dollar_charges.sql
Due: none

Update file rpt_product_usage_health_score_with_arr.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/rpt_product_usage_health_score_with_arr.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/rpt_product_usage_health_score_with_arr.sql
Due: none

Update 2 files
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/rpt_product_usage_health_score_with_arr.sql
Due: none

Update file mart_arr_with_zero_dollar_charges.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_with_zero_dollar_charges.sql
Due: none

clean up
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/models/workspaces/workspace_data/mock/new.sql
  transform/snowflake-dbt/selectors.yml
Due: pages

clean up
  transform/snowflake-dbt/Makefile
Due: pages

clean up
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Update 2 files
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_product_usage_health_score_with_arr.sql
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/schema.yml
Due: none

kantata_extract initial feature
  dags/airflow_utils.py
  dags/extract/kantata_extract.py
  dags/extract/level_up_thought_industries.py
  dags/kube_secrets.py
  extract/kantata/README.md
  extract/kantata/src/args.py
  extract/kantata/src/endpoints.py
  extract/kantata/src/kantata.py
  extract/kantata/src/kantata_utils.py
  extract/kantata/test/__init__.py
  extract/kantata/test/test_kantata.py
  extract/kantata/test/test_kantata_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

move number_of_dbt_threads_argument() to function section of code
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

bump data image, v2.0.9
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add error handling for missing file, add details to README
  transform/snowflake-dbt/README.md
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

plopez
  extract/tableau_con_man_config/src/specification.yaml
Due: none
