Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

added age in current stage fields and cfy flag
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_agg.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_detail.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_pipe_gen_agg_live.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_pipe_gen_snap_agg.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_pipe_gen_snap_same_day.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_snap_open_closed_agg.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_snap_open_cq_plus_1_agg.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_snap_open_cq_plus_2_agg.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_table_consolidation.ipynb
Due: none

added parameters cell tag and cleared output
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_table_consolidation.ipynb
Due: none

Return xcom logic.
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black reformat.
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove hardcoded DB.
  dags/extract/sheetload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating sfdc_record_id in fct task
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

Typo correction
  transform/snowflake-dbt/models/common_mart_sales/schema.yml
Due: none

Minor updates
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_event.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_event.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_event.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_event_source.sql
Due: none

add current month to rpt_arr and fix current month for delta tables
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_month_8th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_product_month_8th_calendar_day.sql
Due: none

Casing changes
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

Update docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

One more update
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Add MNPI exception tag
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

add tag to mart_crm_task
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_task.sql
Due: none

add comments
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Fixing column
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
Due: none

Removing duplicate column
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  dags/general/snowflake_permissions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fine-tune saas-backfill feature
  dags/extract/gitlab_dbs_extract_load_backfill.py
  dags/extract/gitlab_saas_dbs_extract_load.py
  extract/extract-ci.yml
  extract/postgres_pipeline/manifests_decomposed/el_customers_scd_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_ci_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_ci_scd_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_scd_db_manifest.yaml
  extract/saas_postgres_pipeline/manifests_decomposed/saas_el_customers_scd_db_manifest.yaml
  extract/saas_postgres_pipeline/manifests_decomposed/saas_el_gitlab_com_ci_db_manifest.yaml
  extract/saas_postgres_pipeline/manifests_decomposed/saas_el_gitlab_com_ci_scd_db_manifest.yaml
  extract/saas_postgres_pipeline/manifests_decomposed/saas_el_gitlab_com_db_manifest.yaml
  extract/saas_postgres_pipeline/manifests_decomposed/saas_el_gitlab_com_scd_db_manifest.yaml
  extract/saas_postgres_pipeline/manifests_decomposed/saas_el_gitlab_ops_db_manifest.yaml
  extract/saas_postgres_pipeline/manifests_decomposed/saas_el_gitlab_ops_scd_db_manifest.yaml
  extract/saas_postgres_pipeline/postgres_pipeline/check_snapshot.py
  extract/saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
  extract/saas_postgres_pipeline/test/test_postgres_pipeline_table.py
  extract/saas_postgres_pipeline/test/test_postgres_utils.py
  extract/saas_postgres_pipeline_backfill/__init__.py
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_new_db_manifest.yaml
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/__init__.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/load_functions.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/main.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
  extract/saas_postgres_pipeline_backfill/test/__init__.py
  extract/saas_postgres_pipeline_backfill/test/test_check_export.py
  extract/saas_postgres_pipeline_backfill/test/test_manifest_decomposed.py
  extract/saas_postgres_pipeline_backfill/test/test_saas_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Change name of target values in union
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_leading_indicators_actuals_and_targets.sql
Due: none

Fix caps
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_leading_indicators_actuals_and_targets.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 3 suggestion(s) to 1 file(s)
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

nullify
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Move catchup param to correct spot.
  dags/general/dbt_backups.py
  dags/general/gitlab_com_deduplication.py
  dags/general/pumps.py
  dags/general/purge_clones.py
  dags/general/qualtrics_data_pusher.py
  dags/general/snowflake_password_reset.py
  dags/general/snowflake_table_clones_rollup.py
  dags/general/snowplow_sample.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black reformat.
  dags/general/dbt_backups.py
  dags/general/pumps.py
  dags/general/purge_clones.py
  dags/general/qualtrics_data_pusher.py
  dags/general/snowplow_sample.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix data science catchups.
  dags/data_science/ds_churn_forecasting.py
  dags/data_science/ds_namespace_segmentation.py
  dags/data_science/ds_propensity_to_expand.py
  dags/data_science/ds_propensity_to_purchase_free.py
  dags/data_science/ds_propensity_to_purchase_leads.py
  dags/data_science/ds_propensity_to_purchase_trial.py
  dags/general/pumps.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix sales analytics catchups.
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix source catchups.
  dags/sources/source_sfdc_validation_and_run.py
  dags/sources/source_zuora_validation_and_run.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix output urlkl.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds anelson
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds jonglee
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove non finalized months from rpt_Delta models
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_month_8th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_delta_arr_parent_product_month_8th_calendar_day.sql
Due: none
