Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

accounting for yml format
  transform/snowflake-dbt/models/common/bridge/bdg_metrics_redis_events.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/rpt_duo_pro_license_utilization_monthly.sql
Due: none

Update file wk_prep_yearlies_actual.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_prep_yearlies_actual.sql
Due: none

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: none

add kvasireddy
  permissions/snowflake/snowflake_users.yml
Due: none

Remove source mapping, add gdpr delete macro, cleanup drives.
  dags/transformation/dbt_gdpr_delete.py
  extract/sheetload/drives.yml
  transform/snowflake-dbt/macros/warehouse/gdpr_bulk_delete.sql
  transform/snowflake-dbt/models/sources/driveload/schema.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Diff cleanup
  transform/snowflake-dbt/models/sources/driveload/schema.yml
Due: none

Temp commit, only run the GDPR files.
  extract/sheetload/drives.yml
Due: none

Update fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

Test function.
  transform/snowflake-dbt/macros/warehouse/gdpr_delete_test.sql
Due: none

Adding more L2R fields
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

Black reformat
  dags/transformation/dbt_gdpr_delete.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Provision kvasiredyy
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Provision chloe
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Delete step
  transform/snowflake-dbt/macros/warehouse/gdpr_bulk_delete.sql
Due: none

Provision jmalloy
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Provision kslaats
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Update file snowflake_queries.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/snowflake/snowflake_queries.sql
Due: none

add tableau metadata
  transform/snowflake-dbt/models/workspaces/workspace_data/snowflake/snowflake_queries.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  dags/extract/google_analytics_four.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added table descriptions
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Temp commit.
  transform/snowflake-dbt/macros/warehouse/gdpr_bulk_delete.sql
Due: none

Provision SAFE access to lquinteiroalves
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Provision SAFE access to bhenzelmann
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Provision SAFE access to lkozloff
  extract/tableau_con_man_config/src/specification.yaml
Due: none

add raw.google_analytics_4_bigquery to transformer for external tables
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation
