Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

‚ö´python_black:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  - black --check .

‚úèÔ∏èpython_mypy:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  ...

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v2.0.8
  allow_failure: true
  script:
  - export GCP_SERVICE_CREDS=$(echo "$ENCODED_GCP" | base64 -d)
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: false
  before_script:
  - CHANGED_FILES=$(git diff --name-only --diff-filter=d origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} ${CI_COMMIT_SHA} | grep '\.yml\|\.yaml'$)
  ...

üßä‚öôpermifrost_run:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost run permissions/snowflake/roles.yml --diff --dry
  when: manual

üßäpermifrost_spec_test:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost spec-test permissions/snowflake/roles.yml
  when: manual

remove prometheus_alerts table from roles
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

drop counts.projects_with_prometheus_alerts query
  extract/saas_usage_ping/usage_ping_namespace_queries.json
Due: none

Create analyst_support role
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

assign analyst_support to mmagoma
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Update file roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

remove crm_opp_owner_fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

fix department logic in team_member_history logic instead
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_rate.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/team_member_history.sql
Due: none

fix alias
  transform/snowflake-dbt/models/workspaces/workspace_engineering/team_member_history.sql
Due: none

create model using existing retention rpt
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_rpt_arr_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_rpt_arr_snapshot_2.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

initial commit
  transform/snowflake-dbt/models/sources/zuora_central_sandbox_query_api/schema.yml
  transform/snowflake-dbt/models/sources/zuora_central_sandbox_query_api/sources.yml
  transform/snowflake-dbt/models/sources/zuora_central_sandbox_query_api/zuora_central_sandbox_charge_metrics_source.sql
Due: none

fix missing from statement
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_rate.sql
Due: none

Peter's Review Changes
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_history.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_team_member_history.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Minor changes
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

remove commented fields
  transform/snowflake-dbt/models/sources/zuora_central_sandbox_query_api/zuora_central_sandbox_charge_metrics_source.sql
Due: none

restructure source view
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/zuora_central_sandbox/schema.yml
  transform/snowflake-dbt/models/sources/zuora_central_sandbox/sources.yml
  transform/snowflake-dbt/models/sources/zuora_central_sandbox/zuora_central_sandbox_charge_metrics_source.sql
  transform/snowflake-dbt/models/sources/zuora_central_sandbox_query_api/schema.yml
  transform/snowflake-dbt/models/sources/zuora_central_sandbox_query_api/sources.yml
Due: pages

formatting
  transform/snowflake-dbt/models/sources/zuora_central_sandbox/zuora_central_sandbox_charge_metrics_source.sql
Due: none

add report_ fields
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_future_parent_account.sql
Due: none

bring through to report
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account_combined.sql
Due: none

expand groupby
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_future_parent_account.sql
Due: none

add tables for incident management
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

move snapshot to 4th day of fiscal quarter / add role level fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline.sql
Due: none

fix typo
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline.sql
Due: none

remove extra from
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

Add Nicolas Dular
  permissions/snowflake/roles.yml
  permissions/snowflake/snowflake_users.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

updating dim_installation
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_installation.sql
Due: none

adjustments to template
  .gitlab/issue_templates/Team: CPA Pod Iteration Planning.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Team: CPA Pod Iteration Planning.md
Due: none

correct table refs in yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

adding table
  .gitlab/issue_templates/Team: CPA Pod Iteration Planning.md
Due: none

typo
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_installation.sql
Due: none

Change source model, update docs
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_gitlab_registered_users_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

update namespace and installation <> subscription mappings
  transform/snowflake-dbt/models/common_mapping/map_installation_subscription.sql
  transform/snowflake-dbt/models/common_mapping/map_installation_subscription_product.sql
  transform/snowflake-dbt/models/common_mapping/map_namespace_subscription_product.sql
  transform/snowflake-dbt/models/common_prep/prep_usage_self_managed_seat_link.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge_mrr_daily.sql
Due: none

adding logic to additional models
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_health_score_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

adjustments
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
