Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Apply 1 suggestion(s) to 1 file(s)
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix no pl category
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
Due: none

Init commit.
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Adding Traction fields to person models
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

Updating schema files
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Updating schema again
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Fix field name
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Fixed DAG.
  dags/extract/saas_usage_ping.py
  extract/saas_usage_ping/__init__.py
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

- Fixed DAG. - Fixed parameters.
  dags/extract/saas_usage_ping.py
  extract/saas_usage_ping/__init__.py
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black formatting
  sales_analytics_notebooks/daily/ae_quotas_credits_upload/ae_quota_credit_upload_v3.ipynb
Due: none

Fix logic
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update start_date of dag
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Coalesce takes care of this
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Remove line
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Unmask region_modified
  transform/snowflake-dbt/models/common_mart_people/schema.yml
Due: none

make dag name more clear
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix format
  transform/snowflake-dbt/models/common/dimensions_shared/dim_team.sql
Due: none

Fix naming and clean up code
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

remove readme
  extract/saas_postgres_pipeline_backfill/README.md
Due: none

fix dag name
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

pnps respondent data
  extract/sheetload/boneyard/sheets.yml
Due: none

adds mgilgalindo
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Decomission pandas. Add direct SQL execution on Snowflake.
  dags/extract/saas_usage_ping.py
  extract/saas_usage_ping/instance_namespace_metrics.py
  extract/test/test_instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Decomission pandas. Add direct SQL execution on Snowflake.
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Test case added.
  extract/saas_usage_ping/instance_namespace_metrics.py
  extract/test/test_instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Testing...
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update capitalization
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

added merge_request_diff_commits table
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

remove all other tables for testing purposes only - MUST REVERT
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

add mapping for small and xlarge runners
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/ci_runners_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

add merge_request_diff_id hack
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

update schema_union_all to pull from local copies in dev
  transform/snowflake-dbt/macros/utils/macros.md
  transform/snowflake-dbt/macros/utils/schema_union_all.sql
Due: none

Update sheets.yml
  extract/sheetload/boneyard/sheets.yml
Due: none

cast sha
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

try not casting
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Add missing fields
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

adds aarts
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Apply 1 suggestion(s) to 1 file(s)
  extract/sheetload/sheetload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest
