Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Test log
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test log
  extract/data_classification/specification.yml
Due: none

Fix the bug with MNPI dbt script. Working fine - tested.
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add deployment type in other cte's
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_5th_calendar_day.sql
Due: none

add deployment type to other ctes
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Linters to fix the code.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add DAG & migrate drives
  dags/extract/waterfall_report_driveload.py
  extract/sheetload/drives.yml
  extract/sheetload/zuora_waterfall/drives.yml
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add Workday ID Filter
  transform/snowflake-dbt/models/sources/pto/gitlab_pto_source.sql
Due: none

change schedule
  dags/extract/waterfall_report_driveload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

black
  dags/extract/waterfall_report_driveload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update 3 files
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_product_usage_health_score_with_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_with_zero_dollar_charges.sql
Due: none

Correct MQL flag definition
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
Due: none

Update 2 files
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_with_zero_dollar_charges.sql
Due: none

Removing page_referrer case when logic
  transform/snowflake-dbt/models/workspaces/workspace_marketing/google_analytics_4/wk_google_analytics_4_events.sql
Due: none

kantata source models
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/kantata/kantata_project_budget_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_project_details_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_remaining_to_forecast_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_revenue_by_user_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_weekly_forecast_source.sql
  transform/snowflake-dbt/models/sources/kantata/schema.yml
  transform/snowflake-dbt/models/sources/kantata/sources.yml
Due: pages

REGEXP Formula Correction
  transform/snowflake-dbt/models/sources/pto/gitlab_pto_source.sql
Due: none

Boolean Format Correction
  transform/snowflake-dbt/models/sources/pto/gitlab_pto_source.sql
Due: none

add date field
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

resolve conflicts
  dags/extract/oci_usage.py
  dags/kube_secrets.py
  extract/oci_usage/__init__.py
  extract/oci_usage/extract.py
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/oci_reports/oci_cost_report_source.sql
  transform/snowflake-dbt/models/sources/oci_reports/schema.yml
  transform/snowflake-dbt/models/sources/oci_reports/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/wk_oci_cost_report.sql
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Adding list price to fct
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_charge.sql
Due: none

add correlation_id
  transform/snowflake-dbt/macros/common/macro_prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

use mart_marketing_contact and update is_opted_in logic
  transform/snowflake-dbt/models/common/sensitive/rally_marketing_list.sql
Due: none

kantata workspace models
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/kantata/kantata_project_budget.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/kantata/kantata_project_details.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/kantata/kantata_remaining_to_forecast.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/kantata/kantata_revenue_by_user.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/kantata/kantata_weekly_forecast.sql
Due: none

add most recent date fields & dim date join
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
Due: none

add newline
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
Due: none

Fix alias instead of name to support when model has an alias (that will be reflected in Snowflake).
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing.
  extract/data_classification/data_classification_utils.py
  extract/data_classification/specification.yml
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing.
  extract/data_classification/specification.yml
Due: none

Testing.
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Database name adjusted if testing.
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add sales dev rep hierarchy to downstream models
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_event.sql
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_task.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Fix duplicate columns
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none
