Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Add missing fields
  transform/snowflake-dbt/data/google_analytics_custom_dimension_indexes.csv
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session.sql
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session_hit.sql
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/ga360_session_custom_dimension_xf.sql
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/ga360_session_hit_custom_dimension_xf.sql
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/schema.yml
Due: none

Add object aggregate function
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session.sql
Due: none

Fix duplicates
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session.sql
Due: none

fix field name
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/ga360_session_custom_dimension_xf.sql
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/ga360_session_hit_custom_dimension_xf.sql
Due: none

Fix table alias
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session.sql
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session_hit.sql
Due: none

Update schema.yml
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/schema.yml
Due: none

Update test
  transform/snowflake-dbt/models/legacy/google_analytics_360/xf/schema.yml
Due: none

update logic in crm user snapshot to be consistent in key development
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_prep_crm_user_daily_snapshot.sql
Due: none

Updated Columns
  transform/snowflake-dbt/macros/version/default_usage_ping_information.sql
Due: none

Updated code
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics.sql
Due: none

Updated macro
  transform/snowflake-dbt/macros/version/default_usage_ping_information.sql
Due: none

free Users momthly table
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics_monthly.sql
Due: none

Add the missing env var to additional dags
  dags/extract/sheetload.py
  dags/general/qualtrics_data_pusher.py
  dags/general/snowflake_table_clones_rollup.py
  dags/sources/source_sfdc_validation_and_run.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add marts for targets
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_mart_sales_funnel_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy24_sales_funnel_testing/wk_mart_sales_funnel_target_daily.sql
Due: none

Update file source_zuora_validation_and_run.py
  dags/sources/source_zuora_validation_and_run.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file dbt_snapshot.py
  dags/transformation/dbt_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add test seeds.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Try one line version of deps and seed.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Different syntax.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Test other table.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Pull field from source data
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

Add field to fields macro
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

Add field to dim_crm_account and mart_crm_account
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
Due: none

Add yaml reader.
  orchestration/yaml_reader.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Missing import.
  orchestration/yaml_reader.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Switch paths to parameters; debugging lines.
  orchestration/yaml_reader.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Correct file paths.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Correct spacing.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Restructure, debugging.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Spacing
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Move reading into seeds.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add the missing env var to remaining all-model dags
  dags/extract/qualtrics_extract.py
  dags/extract/qualtrics_survey_extract.py
  dags/transformation/dbt_datasiren.py
  dags/transformation/dbt_event_backfill.py
  dags/transformation/dbt_full_refresh.py
  dags/transformation/dbt_netsuite_actuals_income_cogs_opex.py
  dags/transformation/dbt_six_hourly.py
  dags/transformation/dbt_snowplow_backfill.py
  dags/transformation/dbt_snowplow_backfill_fct_behavior_model.py
  dags/transformation/dbt_snowplow_backfill_specific_model.py
  dags/transformation/dbt_snowplow_full_refresh.py
  dags/transformation/dbt_trusted_data.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Modify ownership of the data_science and sales_analytics DAGs
  CODEOWNERS
Due: none

Move macro name check into its own function.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Swap out deps and seed for newly developed version, added manual seed.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Switch clones to only run dbt deps.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Add Paul to the codeowners for sales analytics dags
  CODEOWNERS
Due: none

Remove tag validation from clone process.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Remove deps from autoseed.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages
