Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Add 6Sense fields to person and account
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

Update account snapshot source
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

ci test can vars quote
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/models/workspaces/workspace_data/mock/data_type_mock_table.sql
Due: pages

Update live source
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_final_bookings.sql
Due: none

Correcting typos
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

update model names to match existing zero dollar nomenclature
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_mrr_weekly_with_zero_dollar_charges.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_weekly_with_zero_dollar_charges.sql
Due: none

ci test
  transform/snowflake-dbt/Makefile
Due: pages

debug lint command
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/models/workspaces/workspace_data/mock/data_type_mock_table.sql
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

troubleshoot commands
  transform/snowflake-dbt/Makefile
Due: pages

troubleshoot command
  transform/snowflake-dbt/Makefile
Due: pages

troubleshoot changes command
  transform/snowflake-dbt/Makefile
Due: pages

if not exists
  extract/gitlab_deduplication/main.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/rpt_product_usage_health_score_with_arr.sql
Due: none

replace-hierarchy-with-python
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

debug commands
  transform/snowflake-dbt/Makefile
Due: pages

duo-suggestion
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

test ci jobs
  transform/snowflake-dbt/Makefile
Due: pages

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

imports
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update file manage_snowflake.py
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add self
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

debug logging
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add more logging
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

typo
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add new columns to Snowplow models
  transform/snowflake-dbt/macros/common/macro_prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
Due: none

fix sql
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

case
  orchestration/manage_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update file CODEOWNERS
  CODEOWNERS
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CODEOWNERS
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Update roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Add to docs
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_final_bookings.sql
  transform/snowflake-dbt/models/common_mart_sales/schema.yml
Due: none

fix typo
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Remove spaces
  transform/snowflake-dbt/models/common_mart_sales/schema.yml
Due: none

Remove FY naming
  extract/sheetload/sheets.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_sales_dev_role_hierarchy_fy25_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_sales_dev_role_hierarchy_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none
