Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Testing passed.
  extract/test/test_gitlab_data_yaml.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

restore-data_team_analyst-to-jonglee
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

adding tag
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_ping_installation_latest.sql
Due: none

add map_namespace_subscription model and docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_mapping/map_namespace_subscription.sql
  transform/snowflake-dbt/models/common_mapping/mapping.md
  transform/snowflake-dbt/models/common_mapping/schema.yml
Due: none

Update file [New Request] CSV or GSheet Data Upload.md
  .gitlab/issue_templates/[New Request] CSV or GSheet Data Upload.md
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

fix invalid identifier error
  transform/snowflake-dbt/models/common_mapping/map_namespace_subscription.sql
Due: none

change bool
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Update file dim_date.sql
  transform/snowflake-dbt/models/common/dimensions_shared/dim_date.sql
Due: none

revert test change
  transform/snowflake-dbt/models/common/dimensions_shared/dim_date.sql
Due: none

Update dim_date.sql
  transform/snowflake-dbt/models/common/dimensions_shared/dim_date.sql
Due: none

fix linting errors, add grain test
  transform/snowflake-dbt/models/common_mapping/map_namespace_subscription.sql
  transform/snowflake-dbt/models/common_mapping/schema.yml
Due: none

fix duplicates
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/namespace_pl_daily.sql
Due: none

fix statement
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/namespace_pl_daily.sql
Due: none

fix time range
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/namespace_pl_daily.sql
Due: none

replace with ssot plan model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/namespace_pl_daily.sql
Due: none

Add tag
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user.sql
Due: none

add MR
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_final_bookings.sql
Due: none

Fix commas
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_final_bookings.sql
Due: none

Add fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
Due: none

Update table name
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
Due: none

Fix table name
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
Due: none

add downstream models
  transform/snowflake-dbt/models/legacy/zendesk/intermediate/schema.yml
  transform/snowflake-dbt/models/legacy/zendesk/intermediate/zendesk_users.sql
  transform/snowflake-dbt/models/legacy/zendesk/xf/zendesk_tickets_xf.sql
  transform/snowflake-dbt/models/sources/zendesk/zendesk_users_source.sql
Due: none

add downstream models
  transform/snowflake-dbt/models/legacy/zendesk/intermediate/zendesk_users.sql
Due: none

Refactor.
  extract/gitlab_data_yaml/upload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Tests added.
  extract/gitlab_data_yaml/upload.py
  extract/test/test_gitlab_data_yaml.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Tests added.
  extract/test/test_gitlab_data_yaml.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update dim_user.sql
  transform/snowflake-dbt/models/common/dimensions_shared/dim_user.sql
Due: none

files changed.
  extract/gitlab_data_yaml/file_specification.yml
Due: none

Readme fixed.
  extract/gitlab_data_yaml/README.md
Due: none

Fix README.md file.
  extract/gitlab_data_yaml/README.md
Due: none

Clean up fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

add product to the model name, change documentation accordingly
  transform/snowflake-dbt/models/common_mapping/map_namespace_subscription_product.sql
  transform/snowflake-dbt/models/common_mapping/mapping.md
  transform/snowflake-dbt/models/common_mapping/schema.yml
Due: none

update doc for subscription-product grain
  transform/snowflake-dbt/models/common_mapping/mapping.md
Due: none

add division, clean up headcount logic, and formatting
  transform/snowflake-dbt/models/common_prep/prep_team_member_position.sql
Due: none
