Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Revert the condition as per code reviewer suggestion.
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

Update dag for qualtrics
  dags/extract/qualtrics_survey_extract.py
  extract/qualtrics/src/download_survey_responses.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adding metrics to prod models
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/mart_product_usage_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
Due: none

add testing and documentation
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_product/schema.yml
  transform/snowflake-dbt/models/marts/pumps/schema.yml
Due: none

fixing file
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics_monthly.sql
Due: none

add comma
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics_monthly.sql
Due: none

Add masking policy to sensitive data
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
  transform/snowflake-dbt/models/sources/bamboohr/schema.yml
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Add missing model documentation
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
Due: none

Fix errors
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/xf/schema.yml
Due: none

Update dag for clari
  dags/extract/clari_extract_daily.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update dag for clari
  extract/clari/src/clari.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Number of column reduced to stick with minimal principle of data usage.
  extract/postgres_pipeline/manifests_decomposed/el_customers_scd_db_manifest.yaml
Due: none

Added new macro for dedupe source.
  transform/snowflake-dbt/macros/gitlab_dotcom/dedupe_source.sql
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.md
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.yml
Due: none

Fix documentation.
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.md
Due: none

Updating case when
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

Added models to schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
Due: none

Update dag for clari_quarterly
  dags/extract/clari_extract_quarterly.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

removing mnpi tag
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

unit tests now working, but still need to add more
  extract/adaptive/src/adaptive.py
  extract/test/__init__.py
  extract/test/test_adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adding restricted mktg to safe script list
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Update dag for qualtrics survey_extract
  dags/extract/clari_extract_quarterly.py
  dags/extract/qualtrics_survey_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update dag clari_quarterly
  dags/extract/clari_extract_quarterly.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add ssh and gpg signatures
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_gpg_signatures_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_ssh_signatures_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_gpg_signatures_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_ssh_signatures_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

update the xml rules in endpoint call
  extract/adaptive/src/adaptive.py
  extract/test/test_adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add mart_team_member_directory
  transform/snowflake-dbt/models/common/dimensions_shared/dim_team_member.sql
  transform/snowflake-dbt/models/common_mart_people/mart_team_member_directory.sql
  transform/snowflake-dbt/models/common_prep/prep_team_member.sql
Due: none

Applied suggestion.
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.md
Due: none

Remove test affinity, toleration & cleanup.
  dags/extract/bamboohr_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Strip bad chars.
  extract/bamboohr/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file projects_part_of_product.csv
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

Remove duplicate rows
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/ci_runners_pl_daily.sql
Due: none

pause the sales_funnel_partner_alliance_targets sheetload
  extract/sheetload/sheets.yml
Due: none

add field documentation
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

fix typo
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

clean up variable names
  transform/snowflake-dbt/models/sources/omamori/omamori_entity_data_source.sql
Due: none
