Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Coalesce flags
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

mau dau wau for cs done
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_umau_cs.sql
Due: none

Added Evan Ludaway.
  extract/tableau_con_man_config/src/specification.yml
Due: none

remove duo model, add usage per feature model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_umau_duo.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_umau_per_feature.sql
Due: none

Add comment with background
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

Add live geo fields
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Correcting util formatting
  transform/snowflake-dbt/models/common_prep/prep_marketo_person.sql
Due: none

add credit joinin base table and ignore march credit
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
Due: none

add trial_type_name and modify documentation
  transform/snowflake-dbt/models/common/bridge/bdg_namespace_order_subscription.sql
  transform/snowflake-dbt/models/common/bridge/bdg_namespace_order_subscription_monthly.sql
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common/sensitive/columns_sensitive.md
  transform/snowflake-dbt/models/common/sensitive/pump_marketing_contact_namespace_detail.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_namespace_order_trial.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/sources/customers/customers_db_trial_histories_source.sql
Due: none

Fix error and add test
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

specify git add roles.yml
  .gitlab-ci.yml
Due: none

get_file_changes()
  orchestration/snowflake_provisioning_automation/provision_users/args_provision_users.py
  orchestration/snowflake_provisioning_automation/tests/test_utils_snowflake_provisioning.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/args_update_roles_yaml.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/utils_update_roles.py
  orchestration/snowflake_provisioning_automation/utils_snowflake_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update DefaultBlankTemplateAction comments
  orchestration/snowflake_provisioning_automation/update_roles_yaml/args_update_roles_yaml.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add get_valid_users import
  orchestration/snowflake_provisioning_automation/utils_snowflake_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

use Parametrized Test Functions
  orchestration/snowflake_provisioning_automation/tests/test_utils_snowflake_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  orchestration/snowflake_provisioning_automation/provision_users/args_provision_users.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove field
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
Due: none

change gitaly allocation to account for new gprd projects
  transform/snowflake-dbt/data/gcp_billing_hierarchy.csv
  transform/snowflake-dbt/data/gcp_billing_infra_pl_mapping.csv
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/combined_pl_mapping.sql
Due: none

Added ta_team_assignment sheetload
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_absence.sql
Due: none

Added ta_team_assignment sheetload
  extract/sheetload/sheets.yml
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_absence.sql
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_ta_team_assignment_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none

update order of parsed args
  orchestration/snowflake_provisioning_automation/update_roles_yaml/update_roles_yaml.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add tests for update_roles args
  orchestration/snowflake_provisioning_automation/tests/test_args_update_roles_yaml.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

make False as default arg
  orchestration/snowflake_provisioning_automation/provision_users/args_provision_users.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add tests for provision_users args
  orchestration/snowflake_provisioning_automation/tests/test_args_provision_users.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adding fields
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_behavior_code_suggestion_outcome.sql
Due: none

make unnested events incremental again
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_unnested_events.sql
Due: none

add tests for process_args()
  orchestration/snowflake_provisioning_automation/tests/test_provision_users.py
  orchestration/snowflake_provisioning_automation/tests/test_update_roles_yaml.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add feature_enabled_by_namespace_ids and gitlab_global_user_id to Snowplow models and add docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

add and test test_filter_keys_to_remove()
  orchestration/snowflake_provisioning_automation/tests/test_roles_struct.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/roles_struct.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  orchestration/snowflake_provisioning_automation/tests/test_args_provision_users.py
  orchestration/snowflake_provisioning_automation/tests/test_roles_struct.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix seeds
  transform/snowflake-dbt/data/gcp_billing_folder_pl_mapping.csv
  transform/snowflake-dbt/data/gcp_billing_hierarchy.csv
Due: none

adjust for past data
  transform/snowflake-dbt/data/gcp_billing_hierarchy.csv
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

offboard braynor
  extract/tableau_con_man_config/src/specification.yml
Due: none

offboard kiaarmstrong
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update file tableau offboarding.md
  .gitlab/merge_request_templates/tableau offboarding.md
Due: none

offboard astanke
  extract/tableau_con_man_config/src/specification.yml
Due: none

offboard ckatanda
  extract/tableau_con_man_config/src/specification.yml
Due: none

add jmartinez
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
