Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Apply 1 suggestion(s) to 1 file(s)
  README.md
Due: none

Diff cleanup.
  README.md
Due: none

Only enable permifrost jobs when changing permissions.
  .gitlab-ci.yml
Due: none

Correct typos.
  .gitlab-ci.yml
Due: none

updated placeholder targets
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target_ssot.sql
Due: none

add author team member info
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_merge_requests.sql
Due: none

Update wk_fct_crm_opportunity_5th_day_weekly_targets_actuals_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_5th_day_weekly_targets_actuals_snapshot.sql
Due: none

Update wk_fct_sales_funnel_target_daily_pivoted.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_sales_funnel_target_daily_pivoted.sql
Due: none

upload to snowflake
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

upload to snowflake
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

improve patterns
  dags/extract/elasticsearch_billing_extract.py
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add lint recommendations
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update invoke code structure
  dags/extract/elasticsearch_billing_extract.py
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_extraction_main.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds ahan
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file Platform: Snowflake Permissions Update Provisioning.md
  .gitlab/issue_templates/Platform: Snowflake Permissions Update Provisioning.md
Due: none

Debug.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Switch to airflow image.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add updated support product names
  transform/snowflake-dbt/macros/zuora/product_category.sql
  transform/snowflake-dbt/models/common_mapping/map_product_tier.sql
Due: none

fix typo in product name
  transform/snowflake-dbt/macros/zuora/product_category.sql
  transform/snowflake-dbt/models/common_mapping/map_product_tier.sql
Due: none

add full load
  dags/extract/elasticsearch_billing_full_load_extract.py
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_extraction_main.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black reformat
  extract/elasticsearch_billing/src/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/elasticsearch_billing_itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_costs_overview.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_extraction_main.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_itemized_costs.py
  extract/elasticsearch_billing/src/full_load/elasticsearch_billing_itemized_costs_by_deployment.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black reformat
  dags/extract/elasticsearch_billing_full_load_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
  transform/snowflake-dbt/removal.txt
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

fix missing comma, column data type, column aliasing
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_ide_extension_version_context.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

Update source tables to add/remove rows
  transform/snowflake-dbt/models/sources/bizible/bizible_accounts_source.sql
  transform/snowflake-dbt/models/sources/bizible/bizible_contacts_source.sql
  transform/snowflake-dbt/models/sources/bizible/bizible_form_submits_source.sql
  transform/snowflake-dbt/models/sources/bizible/bizible_opportunities_source.sql
  transform/snowflake-dbt/models/sources/bizible/bizible_page_views_source.sql
Due: none

parameterized
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add true up tags
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_dropped_manual_true_up_charges.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_manual_true_up_charge.sql
Due: none

debug
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add vars
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add vars
  dags/general/duo_data_redaction.py
  orchestration/redact_duo_feedback.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add ability to run prep_snowplow_unnested_events_all locally for new columns
  transform/snowflake-dbt/macros/utils/schema_union_all.sql
  transform/snowflake-dbt/macros/utils/schema_union_limit.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

add local=no
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none
