Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Add ERD
  transform/snowflake-dbt/models/common/common.md
Due: none

add more doc
  transform/snowflake-dbt/models/common/common.md
Due: none

Update dbt_full_refresh.py
  dags/transformation/dbt_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update dbt from debug mode to normal cli logs
  dags/transformation/dbt.py
  dags/transformation/dbt_datasiren.py
  dags/transformation/dbt_edm_snapshot.py
  dags/transformation/dbt_event_backfill.py
  dags/transformation/dbt_full_refresh_weekly.py
  dags/transformation/dbt_netsuite_actuals_income_cogs_opex.py
  dags/transformation/dbt_snapshot.py
  dags/transformation/dbt_snowplow_backfill.py
  dags/transformation/dbt_snowplow_backfill_specific_model.py
  dags/transformation/dbt_snowplow_full_refresh.py
  dags/transformation/dbt_source_freshness.py
  dags/transformation/dbt_trusted_data.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update docs
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_delta_arr_subscription_lineage_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

update formats
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_delta_arr_subscription_lineage_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

remove extra columns
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_delta_arr_subscription_lineage_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Removed transisent table
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Better logging and added more table
  extract/gitlab_deduplication/main.py
  extract/gitlab_deduplication/manifest_deduplication/t_gitlab_com_deduplication_table_manifest.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Import missing env
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
Due: none

Fix black errors
  analyze/generate_periscope_chart_embed_code.py
  dags/airflow_utils.py
  dags/extract/external_gcp_billing.py
  dags/extract/gitlab_dbs_extract_load.py
  dags/extract/gitlab_dbs_tdf_extract_load.py
  dags/extract/sheetload.py
  dags/general/dbt_backups.py
  dags/general/pumps.py
  extract/bamboohr/src/execute.py
  extract/discourse/src/api.py
  extract/discourse/src/execute.py
  extract/engineering/execute.py
  extract/gcs_external/src/gcp_billing/gcs_external.py
  extract/gitlab_api_mrs/src/execute.py
  extract/gitlab_data_yaml/upload.py
  extract/gitlab_feature_flags_yaml/upload.py
  extract/graphite/extract_graphite.py
  extract/mailgun/src/execute.py
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
  extract/qualtrics/src/execute.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/sheetload/google_drive_client.py
  extract/sheetload/sheetload.py
  extract/snowflake/user_role_grants.py
  extract/test/test_utils.py
  extract/zuora_revenue/load_zuora_revenue.py
  extract/zuora_revenue_report/load_zuora_revenue_report.py
  extract/zuora_revenue_report/src/api.py
  load/miscellaneous/manual_json/upload.py
  orchestration/clone_dbt_models_select.py
  orchestration/events_sample.py
  orchestration/fivetran_table_drop.py
  orchestration/manage_snowflake.py
  orchestration/test/test_reduce_file_size.py
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
  transform/generate_dbt_schema.py
  transform/sisense_check.py
  transform/snowflake-dbt/safe_model_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Add uppercase role name
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
Due: none

Add missing secret to dag
  dags/sales_analytics/sales_analytics_daily_notebooks.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove unnecessary installs as they are part of the image
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
Due: none

Move documentation
  transform/snowflake-dbt/models/common/sensitive/schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
Due: none

Fix issue with team_hierarchy
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Remove valid_from
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Remove orderby
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Adding member_role_id column to members
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_scd_db_manifest.yaml
Due: none

add workspace_engineering_restricted_Safe folder
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/rpt_product_namespace_classification.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/rpt_product_namespace_classification_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/rpt_product_storage_metrics_daily.sql
Due: pages

cleaned non-needed changes
  transform/snowflake-dbt/models/workspaces/workspace_engineering/rpt_product_namespace_classification.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Added more tables
  extract/gitlab_deduplication/main.py
  extract/gitlab_deduplication/manifest_deduplication/t_gitlab_com_deduplication_table_manifest.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Added more tables
  dags/general/gitlab_com_deduplication.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

removed empty lines
  extract/gitlab_deduplication/manifest_deduplication/t_gitlab_com_deduplication_table_manifest.yaml
Due: none

removed union logic and python formatting
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Delete customers_db_license_versions_pii.sql - dbt tests are timing out and model is not used
  transform/snowflake-dbt/models/sources/customers/sensitive/customers_db_license_versions_pii.sql
Due: none

add patch for deal_path
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
Due: none

Add two new roles, remove old unused dbt_data_science role
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/models/sources/sales_analytics/schema.yml
  transform/snowflake-dbt/models/sources/sales_analytics/sources.yml
  transform/snowflake-dbt/models/sources/sales_analytics/xray_curves_qtd_fitted_source.sql
Due: ðŸ“yaml_validation

Add two new roles, remove old unused dbt_data_science role
  transform/snowflake-dbt/models/sources/sales_analytics/schema.yml
  transform/snowflake-dbt/models/sources/sales_analytics/sources.yml
  transform/snowflake-dbt/models/sources/sales_analytics/xray_curves_qtd_fitted_source.sql
Due: none

Remove zoominfo permissions for the time being
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add column from raw data.
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_notes_xf.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_notes_source.sql
Due: none

added account owner name and id into opportunity model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_ssot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

added fixed path for remote json upload
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
Due: none

Fix black
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
Due: none

removed duplicate DAG
  dags/extract/gitlab_data_deduplication.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
