Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

‚ö´python_black:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  - black --check .

‚úèÔ∏èpython_mypy:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  ...

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v2.0.8
  allow_failure: true
  script:
  - export GCP_SERVICE_CREDS=$(echo "$ENCODED_GCP" | base64 -d)
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: false
  before_script:
  - CHANGED_FILES=$(git diff --name-only --diff-filter=d origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} ${CI_COMMIT_SHA} | grep '\.yml\|\.yaml'$)
  ...

üßä‚öôpermifrost_run:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost run permissions/snowflake/roles.yml --diff --dry
  when: manual

üßäpermifrost_spec_test:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost spec-test permissions/snowflake/roles.yml
  when: manual

Debugging.
  orchestration/upload_dbt_file_to_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Tableau Provisioning 1 user
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

add troubleshoot feature to user model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_umau_per_feature.sql
Due: none

add dev dag
  dags/extract/zuora_dev_query_api_extract_and_load.py
  dags/kube_secrets.py
  extract/zuora_dev_query_api/__init__.py
  extract/zuora_dev_query_api/src/__init__.py
  extract/zuora_dev_query_api/src/api.py
  extract/zuora_dev_query_api/src/main.py
  extract/zuora_dev_query_api/src/queries.yml
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

increase timeout
  extract/zuora_dev_query_api/src/api.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

increase timeout
  extract/zuora_dev_query_api/src/api.py
  extract/zuora_dev_query_api/src/main.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update materialization
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_ai_gateway_flattened.sql
Due: none

missing comma
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_ai_gateway_flattened.sql
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

add utc tz to iso8601_to_epoch_ts_ms()
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

parameterize queries
  extract/level_up_thought_industries/src/thought_industries_api.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

add testing for DateIntervalEndpoint.fetch_from_endpoint
  extract/level_up_thought_industries/test/test_thought_industries_api.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

linting
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/test/test_thought_industries_api.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correct conditions
  orchestration/upload_dbt_file_to_snowflake.py
  test.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove test file.
  test.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Black reformat
  orchestration/upload_dbt_file_to_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

retract
  extract/zuora_dev_query_api/src/api.py
  extract/zuora_dev_query_api/src/main.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

First Draft
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_employment_history.sql
Due: none

Fct and prep models
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_employment_history.sql
  transform/snowflake-dbt/models/common/facts_general_and_administrative/notes for self
  transform/snowflake-dbt/models/common_prep/prep_employee_history.sql
Due: none

fct and prep models
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_employment_history.sql
  transform/snowflake-dbt/models/common_prep/prep_employee_history.sql
Due: none

Modify unique test field for dbt table
  transform/snowflake-dbt/models/workspaces/workspace_data/dbt/schema.yml
Due: none

Revised Queries
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_employment_history.sql
  transform/snowflake-dbt/models/common/facts_general_and_administrative/notes for self
  transform/snowflake-dbt/models/common_prep/prep_employee_history.sql
Due: none

substituting logic
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

Remove debug lines.
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Apply 1 suggestion(s) to 1 file(s)
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Remove debug lines.
  orchestration/upload_dbt_file_to_snowflake.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

accounting for timeouts
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

add warehouse
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

add to core roles
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Deprecate fields
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sfdc_sandbox_opportunity_source.sql
Due: none

add to engineer
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

typo
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

UX and Marketing Strategy Department Renames
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_department.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

Add Department Renames
  transform/snowflake-dbt/seeds/seed_people/department_name_changes.csv
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
