Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

bbarnet added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

mlancini added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

eliran added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

djain added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

abaur added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Adding most recent TP info
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Updating schema
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

add-google_analytics_4_bigquery
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Updated logic
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_fct_available_to_renew.sql
Due: none

Updating union
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Fixing typo
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

py comp
  dags/extract/external_gcp_billing.py
  extract/gcs_external/src/gcs_external.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debug db error
  dags/extract/google_analytics_four.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add multigrain table
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
Due: none

remove debug flag
  dags/extract/google_analytics_four.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

verify_mr_information()
  extract/gitlab_api_mrs/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add project_id
  transform/snowflake-dbt/models/sources/engineering/engineering_part_of_product_merge_requests_source.sql
Due: none

add-google_analytics_4-to-role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

better model sources, lower delivery type, fix where flaw
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

remove u. error
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

revert to instance level for weekly
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

fix recorded usage to metric value
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Fixing All state
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

adjusting combinations of unions
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Added new fields
  transform/snowflake-dbt/models/sources/sfdc/sfdc_case_source.sql
Due: none

offboarding
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

mzani SAFE access.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

kturcotte added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

jconnors added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

jsallazar to Creator.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

mwinther added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Pedro added.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
