Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Leave uneccessary changes.
  extract/engineering/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Switch to later version of pod env vars, remove DB import.
  dags/extract/engineering_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add description to schema
  transform/snowflake-dbt/models/sources/omamori/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

Updating formatting
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Updating Revised L2R to replace person_order_type logic
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised.sql
Due: none

added total service value to opportunity object
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

fix typo
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

Change PII to Personal Data
  .gitlab/issue_templates/New Data Source.md
Due: none

Include Red Data Approval Checkboxes
  .gitlab/issue_templates/New Data Source.md
Due: none

Update 4 files
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_scd_db_manifest.yaml
Due: none

Update file el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

fixed alias
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_completeness_source.sql
Due: none

added new data sources
  transform/snowflake-dbt/models/sources/sales_analytics/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_source_ae_credits.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_source_ae_quotas.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_source_ae_quotas_unpivoted.sql
Due: none

add additional external tables
  transform/snowflake-dbt/models/sources/omamori/sources.yml
Due: none

Update ref to use jinja and remove monitor_smau since it no longer exists in code.
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_ci_cd_metrics_monthly.sql
Due: none

added missing source models
  transform/snowflake-dbt/models/sources/sales_analytics/rsa_ae_credits_source.sql
  transform/snowflake-dbt/models/sources/sales_analytics/rsa_ae_quotas_source.sql
  transform/snowflake-dbt/models/sources/sales_analytics/rsa_ae_quotas_unpivoted_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_ae_credits.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_ae_quotas.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_ae_quotas_unpivoted.sql
Due: none

Added code for CDot Snapshots
  transform/snowflake-dbt/models/common/dimensions_shared/dim_billing_account_snapshot_bottom_up.sql
Due: none

Updated code
  transform/snowflake-dbt/models/common/dimensions_shared/dim_billing_account_snapshot_bottom_up.sql
Due: none

Update file wk_ci_cd_metrics_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_ci_cd_metrics_monthly.sql
Due: none

add zuora roles to snalamaru
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

updates role zuora_api_sandbox_stitch with prep tables
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

create zuora_order
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

ordering roles
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

move delivery and deployment type upstream
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

modified alias
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_completeness_source.sql
Due: none

remove comma
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
Due: none

Move catchup to the correct spot
  dags/extract/driveload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Move all catchup values to the new spot
  dags/extract/bamboohr_extract.py
  dags/extract/bizible_extract.py
  dags/extract/boneyard_sheetload.py
  dags/extract/container_reg.py
  dags/extract/discourse_extract.py
  dags/extract/external_gcp_billing.py
  dags/extract/gainsight_extract.py
  dags/extract/gitlab_data_yaml.py
  dags/extract/gitlab_dbs_extract_load.py
  dags/extract/graphite_extract.py
  dags/extract/greenhouse_extract.py
  dags/extract/handbook_mrs_extract.py
  dags/extract/mailgun_extract.py
  dags/extract/part_of_product_mrs_extract.py
  dags/extract/qualtrics_extract.py
  dags/extract/qualtrics_survey_extract.py
  dags/extract/rspec_profiler_extract.py
  dags/extract/saas_usage_ping.py
  dags/extract/saas_usage_ping_backfill.py
  dags/extract/sheetload.py
  dags/extract/snowflake_roles.py
  dags/extract/snowflake_table_clones.py
  dags/extract/values_page_extract.py
  dags/extract/zuora_query_api_extract_and_load.py
  dags/extract/zuora_revenue_load.py
  dags/extract/zuora_revenue_report.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update mart tables
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

catch blank dates
  transform/snowflake-dbt/models/sources/bamboohr/bamboohr_currency_conversion_source.sql
  transform/snowflake-dbt/models/sources/bamboohr/bamboohr_ote_source.sql
Due: none

Move all catchup values in this folder.
  dags/transformation/dbt.py
  dags/transformation/dbt_datasiren.py
  dags/transformation/dbt_edm_snapshot.py
  dags/transformation/dbt_event_backfill.py
  dags/transformation/dbt_full_refresh.py
  dags/transformation/dbt_full_refresh_weekly.py
  dags/transformation/dbt_netsuite_actuals_income_cogs_opex.py
  dags/transformation/dbt_six_hourly.py
  dags/transformation/dbt_snapshot.py
  dags/transformation/dbt_snowplow_backfill.py
  dags/transformation/dbt_snowplow_backfill_fct_behavior_model.py
  dags/transformation/dbt_snowplow_backfill_specific_model.py
  dags/transformation/dbt_snowplow_full_refresh.py
  dags/transformation/dbt_source_freshness.py
  dags/transformation/dbt_trusted_data.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add 2 additional tables
  transform/snowflake-dbt/models/sources/omamori/sources.yml
Due: none

Update 2 files
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_ci_scd_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

add description for subscription_renewal_type
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
