Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

updated asm logic for entg pubsec sled
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

adding back channel values for sqs for partner_category as the source still has channel instead of partner
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

duplicate col with last activity date & removing a comment in agg keys ssot
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_ssot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
Due: none

update to work with custom ref
  transform/snowflake-dbt/macros/utils/sampling/create_sample_table.sql
  transform/snowflake-dbt/macros/utils/sampling/ref.sql
  transform/snowflake-dbt/macros/utils/sampling/sample_ref_relation.sql
  transform/snowflake-dbt/macros/utils/sampling/sample_table.sql
  transform/snowflake-dbt/macros/utils/sampling/sample_tables.sql
  transform/snowflake-dbt/macros/utils/sampling/samples.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/mock/data_type_mock_table.sql
Due: none

Modified the file name for download
  extract/zuora_revenue_report/load_zuora_revenue_report.py
  extract/zuora_revenue_report/src/api.py
  extract/zuora_revenue_report/src/main.py
  extract/zuora_revenue_report/src/zuora_report_api_list.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add prep
  .gitlab-ci.yml
Due: none

add schema
  .gitlab-ci.yml
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adjusted user segment for downstream models
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_demo_sqs_ot_keys.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_fy_metrics_per_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_fy_metrics_per_day_with_targets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_metrics_per_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_metrics_per_day_with_targets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_velocity_quarter.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_velocity_quarter_with_targets.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_targets_totals_per_quarter.sql
Due: none

adding all-time filter
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metric_aggregations/one_to_one/wk_rpt_event_based_metric_counts_namespace_all_time.sql
Due: none

Update sheets.yml
  extract/sheetload/boneyard/sheets.yml
Due: none

adding parameter to not drop records
  transform/snowflake-dbt/models/common/bridge/bdg_metrics_redis_events.sql
Due: none

bringing in fields for all time metrics
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_mart_snowplow_events_service_ping_metrics.sql
Due: none

adding missing adjusted segment
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_metrics_qtd.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_fy_metrics_per_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_metrics_per_day.sql
Due: none

error in targets totals per q
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_targets_totals_per_quarter.sql
Due: none

Update the analyst image version to v1.0.14
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Move files to restricted folders
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_billing_account_user.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/dim_amendment_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/dim_product_detail_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_product_tier_central_sandbox.sql
Due: none

Update tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_action_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_action_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/dim_order_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/map_product_tier_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/map_product_tier_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_amendment_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_amendment_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_product_detail_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/prep_product_detail_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_charge_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_recurring_charge_api_sandbox.sql
Due: none

Update the analyst image version to v1.0.25
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Move files to restricted schema
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/dim_order_action_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/dim_order_action_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/dim_order_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/dim_order_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/dim_product_detail_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/map_product_tier_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/map_product_tier_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_amendment_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_amendment_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_product_detail_api_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_product_detail_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_product_tier_api_sandbox.sql
Due: none

black format
  extract/zuora_revenue_report/load_zuora_revenue_report.py
  extract/zuora_revenue_report/src/api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black format
  extract/zuora_revenue_report/load_zuora_revenue_report.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fixing join
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_mart_snowplow_events_service_ping_metrics.sql
Due: none

formatting
  transform/snowflake-dbt/models/sources/zuora_order/zuora_order_action_source.sql
Due: none

Move page token extract to the correct spot.
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

changing view to incremental
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_mart_snowplow_events_service_ping_metrics.sql
Due: none

add dim_order_action fields to dim_order_action_rate_plan
  transform/snowflake-dbt/models/common/dimensions_shared/dim_order_action_rate_plan.sql
Due: none

Update MR Template
  .gitlab/merge_request_templates/dbt Model Changes.md
Due: none

apply style guide
  transform/snowflake-dbt/models/common_mapping/map_project_internal.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_merge_requests.sql
Due: none

Update tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_recurring_charge_central_sandbox.sql
Due: none

Adding new rules
  transform/snowflake-dbt/.sqlfluff
  transform/snowflake-dbt/analysis/data_team/sql_style_mock_table.sql
Due: pages

adding documentation
  transform/snowflake-dbt/models/common_mapping/schema.yml
Due: none

add role type and business unit to account models
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_sales_funnel_partner_alliance_target.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_sales_funnel_target.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_account.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_funnel_partner_alliance_target.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_funnel_target.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_account_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds facebook_ads role to DEGAN, DMICOVIC, JAHYE, RKOHNKE
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add zuora_orders to move it from legacy
  transform/snowflake-dbt/dbt_project.yml
Due: pages
