Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

adding post hook
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

remove un needed logic
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_monthly.sql
Due: none

New prep and source models
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/sfdc_base_doc.md
  transform/snowflake-dbt/models/sources/sfdc/sfdc_zqu_product_rate_plan_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_zqu_zproduct_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sources.yml
  transform/snowflake-dbt/snapshots/sfdc/sfdc_zqu_product_rate_plan_snapshots.sql
  transform/snowflake-dbt/snapshots/sfdc/sfdc_zqu_zproduct_snapshots.sql
Due: none

add full refresh logic
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_monthly.sql
Due: none

create unmasked safe column for partner marketing task subject
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_task.sql
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_task.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_task.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_task_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_create_partner_touchpoints.sql
Due: none

adding inline comments
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_monthly.sql
Due: none

Update file mart_product_usage_health_score.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_health_score.sql
Due: none

Update 4 files
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_health_score.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/schema.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/sfdc/sfdc_zqu_zproduct_source.sql
Due: none

Add macro test
  transform/snowflake-dbt/macros/sfdc/macros.md
  transform/snowflake-dbt/macros/sfdc/macros.yml
  transform/snowflake-dbt/macros/sfdc/union_tables.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_testing.sql
Due: none

add cost_factor column
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ci_runner.sql
  transform/snowflake-dbt/models/common_prep/prep_ci_runner.sql
Due: none

create the following models: rally_initial_export_optouts_source rally_webhook_stitch_optouts_source rally_optouts
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/rally_initial_export/rally_initial_export_optouts_source.sql
  transform/snowflake-dbt/models/sources/rally_initial_export/schema.yml
  transform/snowflake-dbt/models/sources/rally_initial_export/sources.yml
  transform/snowflake-dbt/models/sources/rally_webhook_stitch/rally_webhook_stitch_optouts_source.sql
  transform/snowflake-dbt/models/sources/rally_webhook_stitch/schema.yml
  transform/snowflake-dbt/models/sources/rally_webhook_stitch/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/rally_optouts.sql
Due: pages

Add dates
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_testing.sql
Due: none

Add dates
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

debug
  Makefile
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debug
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

revert mart_ping_instance_metric cluster key addition
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric.sql
Due: none

add missing variables
  dags/extract/gitlab_saas_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove print
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Documentation for mart and fact table
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_people/mart.md
  transform/snowflake-dbt/models/common_mart_people/schema.yml
Due: none

Clarifying column source
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
Due: none

Adjusting config
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
Due: none

config change
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
Due: none

Fix duplicates
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_testing.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

Add landed quarter
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Add note to macro documentaiton
  transform/snowflake-dbt/macros/sfdc/macros.md
Due: none

Updating config on downstream model
  transform/snowflake-dbt/models/common_mapping/map_alternative_lead_demographics.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  extract/bigquery/src/bigquery_export.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add landing quarter
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Add fields to downstream tables
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

Add safe tag to multi grain report
  transform/snowflake-dbt/models/common_mart_sales/schema.yml
Due: none

Add tags
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
  transform/snowflake-dbt/models/common_mart_sales/schema.yml
Due: none

Fix tag
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
Due: none

Adjust CTE placement into prep
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

config update
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

black
  extract/bigquery/src/bigquery_export.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Replace only 1 FROM statement, fixed, tested.
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

SQL fro counts.issues_created_from_alerts updated, tested.
  extract/saas_usage_ping/usage_ping_namespace_queries.json
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
