Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Renaming final CTE and removing dbt_util star function
  transform/snowflake-dbt/models/common_prep/prep_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_touchpoint.sql
Due: none

update name to user_role_name
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_user_fields.sql
Due: none

fix user test data format
  transform/snowflake-dbt/data/fy25_sfdc_sandbox_users_hierarchy.csv
Due: none

Update 2 files
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_prep_crm_account_share_active.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_prep_crm_opportunity_share_active.sql
Due: none

Add lis and chris as owners of sales workspace
  CODEOWNERS
Due: none

Update file tableau_workbook_migrate.py
  dags/general/tableau_workbook_migrate.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add schedule
  dags/general/duo_data_redaction.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file wk_account_entitlement_table.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_account_entitlement_table.sql
Due: none

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

add sources definition
  transform/snowflake-dbt/models/sources/elastic_billing/sources.yml
Due: none

Revert combined task.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add overview source model
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_costs_overview.sql
Due: none

add source itemized
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_itemized.sql
Due: none

Change path.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Change path to extensive path.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

revert to old code.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Config added.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds mwielich
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

filter repeating columns in sourc emodels
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_costs_overview.sql
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_itemized.sql
Due: none

docs for overview and remove array details redundant with itemized costs
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_costs_overview.sql
  transform/snowflake-dbt/models/sources/elastic_billing/schema.yml
Due: none

add simple downstream model as select star
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/elastic/rpt_elastic_billing_itemized.sql
Due: none

Adding campaign type
  transform/snowflake-dbt/models/common_prep/prep_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_touchpoint.sql
Due: none

Updating JOIN logic
  transform/snowflake-dbt/models/common_prep/prep_crm_touchpoint.sql
Due: none

Added ooo_type fields to gitlab_pto_source
  transform/snowflake-dbt/models/sources/pto/gitlab_pto_source.sql
Due: none

Add missing pump declaration
  pump/pumps.yml
Due: none

add columns
  transform/snowflake-dbt/models/sources/marketo/marketo_lead_source.sql
Due: none

Updating pto_type columns to gitlab_pto_source schema
  transform/snowflake-dbt/models/sources/pto/schema.yml
Due: none

Update to align with naming convention
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update name to align with naming convention
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_people/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/xf/schema.yml
  transform/snowflake-dbt/models/sources/bamboohr/schema.yml
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Fix spacing
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_people/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/schema.yml
  transform/snowflake-dbt/models/legacy/bamboohr/xf/schema.yml
  transform/snowflake-dbt/models/sources/bamboohr/schema.yml
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

lowercase schema columns
  transform/snowflake-dbt/models/sources/elastic_billing/schema.yml
Due: none

Linted and Added Description
  transform/snowflake-dbt/models/sources/pto/gitlab_pto_source.sql
  transform/snowflake-dbt/models/sources/pto/pto.md
Due: none

remove data_types in schema
  transform/snowflake-dbt/models/sources/elastic_billing/schema.yml
Due: none

add src in dbt_project
  transform/snowflake-dbt/dbt_project.yml
Due: pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
