Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

commit
  transform/snowflake-dbt/models/sources/customers/customers_db_reconciliations.sql
  transform/snowflake-dbt/models/sources/customers/customers_db_reconciliations_source.sql
  transform/snowflake-dbt/models/sources/customers/schema.yml
  transform/snowflake-dbt/models/sources/customers/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/customers_db_reconciliations.sql
Due: none

Update common.md to fix typo for behavior_structured_event_pk
  transform/snowflake-dbt/models/common/common.md
Due: none

match source table datatype
  transform/snowflake-dbt/models/common/dimensions_shared/dim_order.sql
  transform/snowflake-dbt/models/sources/zuora_order/zuora_order_source.sql
Due: none

Update 2 files
  transform/snowflake-dbt/models/sources/customers/customers.md
  transform/snowflake-dbt/models/sources/customers/schema.yml
Due: none

Update customers.md
  transform/snowflake-dbt/models/sources/customers/customers.md
Due: none

formatting
  transform/snowflake-dbt/models/sources/customers/customers_db_reconciliations_source.sql
Due: none

Quick typo fix
  transform/snowflake-dbt/models/common/common.md
Due: none

updated columns and documentation
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_product/mart_structured_event_behavior.sql
  transform/snowflake-dbt/models/common_mart_product/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

explicitly cast timestamps as ::TIMESTAMP_TZ
  transform/snowflake-dbt/models/sources/zuora_order/zuora_order_action_source.sql
Due: none

add first build logic
  transform/snowflake-dbt/models/common_mart_product/mart_structured_event_behavior.sql
Due: none

updated report fields to use wk sales user adjusted values
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/ssa_coverage_fitted_curves.sql
Due: none

rearranged the location of the adjusted segment field
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

SQL linting
  transform/snowflake-dbt/models/common_mart_product/mart_structured_event_behavior.sql
Due: none

more fixes
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

adding audit section.
  transform/snowflake-dbt/models/common_mart_product/mart_structured_event_behavior.sql
Due: none

Update ssa_coverage_fitted_curves.sql removing direct access to table in sales analytics
  transform/snowflake-dbt/models/workspaces/workspace_sales/ssa_coverage_fitted_curves.sql
Due: none

update name in schema.yml file
  transform/snowflake-dbt/models/sources/customers/schema.yml
Due: none

adding metrics to csv and macro
  transform/snowflake-dbt/data/health_score_metrics.csv
  transform/snowflake-dbt/macros/version/sales_wave_2_3_metrics.sql
Due: none

adding metrics to workspace
  transform/snowflake-dbt/macros/version/ping_instance_wave_metrics.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave_monthly.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_saas_product_usage_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

correcting updated date
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

first iteration of fact
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_retention_subscription_product.sql
Due: none

changing cutoff date to 2023-02-19
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_prep/prep_ping_instance.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common/dimensions_local/financial/dim_accounting_type.sql
Due: none

Update the other CI version of the process.
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Update local version of output to match up with new process.
  Makefile
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update dbt_full_refresh.py
  dags/transformation/dbt_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Added remaining logic
  extract/gitlab_deduplication/main.py
  extract/gitlab_deduplication/manifest_deduplication/t_gitlab_com_deduplication_table_manifest.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

mypy check
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black format
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black format
  dags/general/gitlab_com_deduplication.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add 1 column: - MEMBERS.MEMBER_ROLE_ID and three new tables: - MEMBER_ROLES - ML_EXPERIMENTS - ML_CANDIDATES into the pipelines
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none
