Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

filter out deleted files from yaml validation
  .gitlab-ci.yml
Due: none

improve test data
  transform/snowflake-dbt/data/fy25_sfdc_sandbox_users_hierarchy.csv
Due: none

update to MAX to fix data quality issues with grouping
  transform/snowflake-dbt/macros/snowplow/snowplow_schema_field_aliasing.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
Due: none

Update CTEs
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_snapshot.sql
Due: none

missing col in final select
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
Due: none

Create multi grain table
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_granular.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Add is_gitlab_team_member column
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_website_page_view.sql
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_redis_hll_counters.sql
Due: pages

Update file [New Request] New Data Source.md
  .gitlab/issue_templates/[New Request] New Data Source.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 1 suggestion(s) to 1 file(s)
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update Platform: Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
Due: none

Update CASE statement logic
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Updating schema docs
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

apply suggestion
  extract/elasticsearch_billing/src/costs_overview.py
  extract/elasticsearch_billing/src/itemized_costs.py
  extract/elasticsearch_billing/src/itemized_costs_by_deployment.py
  extract/elasticsearch_billing/src/utility.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Switch to log all version, remove more imports, general cleanup.
  dags/general/pvc_monitor.py
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add tests
  extract/test/test_elasticsearch_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove unused import
  extract/test/test_elasticsearch_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct import place and test
  extract/test/test_elasticsearch_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black reformat
  extract/test/test_elasticsearch_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

change name to avoid confusion
  dags/extract/elasticsearch_billing_full_load_extract.py
  extract/elasticsearch_billing/src/elasticsearch_billing_extraction_main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add sfdc_sandbox_users snapshot
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_sandbox_user_snapshots_source.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
Due: none

add FY25 hierarchy
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_user_fields.sql
Due: none

add sandbox user snapshots
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_user_daily_snapshot.sql
  transform/snowflake-dbt/snapshots/sfdc_sandbox/sfdc_sandbox_user_snapshots.sql
Due: none

Added definitions for new columns
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

Add quarterly targets
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_sales_funnel_target_daily_pivoted.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_snapshot.sql
Due: none

Add intended product tier
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
Due: none

Fix aggregate data
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Cleanup, fix black pipeline parsing.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Testing.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Linters.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add workspace version of prep_crm_user
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_fct_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_user.sql
Due: none

LAB_TRANSFORMING_XL warehouse applied.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file Triage: Data Triage.md
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

LAB_TRANSFORMING_XL warehouse discarded.
  dags/transformation/dbt_snowplow_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest
