Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

‚ö´python_black:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  - black --check .

‚úèÔ∏èpython_mypy:
  stage: üõëüêç Python Critical
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py\|\.ipynb'$)
  tags:
  - analytics
  allow_failure: false
  script:
  ...

üåΩpython_flake8:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

üóíÔ∏èpython_pylint:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü§îpython_complexity:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ü¶Öpython_vulture:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/ci-python-image:v0.0.4
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

‚úÖpython_pytest:
  stage: üêç Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v2.0.8
  allow_failure: true
  script:
  - export GCP_SERVICE_CREDS=$(echo "$ENCODED_GCP" | base64 -d)
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
  ...

üìÅyaml_validation:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: false
  before_script:
  - CHANGED_FILES=$(git diff --name-only --diff-filter=d origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} ${CI_COMMIT_SHA} | grep '\.yml\|\.yaml'$)
  ...

üßä‚öôpermifrost_run:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost run permissions/snowflake/roles.yml --diff --dry
  when: manual

üßäpermifrost_spec_test:
  stage: üêç Python
  image: registry.gitlab.com/gitlab-data/permifrost:v0.15.4
  tags:
  - analytics
  allow_failure: true
  script:
  - permifrost spec-test permissions/snowflake/roles.yml
  when: manual

Fix table name.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Enumerate added.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update file ent_sfdc_geo.sql
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

Improve logging.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update ultimate accounts
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
Due: none

update namespace
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_namespace.sql
Due: none

update subscription
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

typo
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_namespace.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

fix typos
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_namespace.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

fix errors
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_namespace.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

Added new user in tableau access: testuser-tableau-access-request
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

take back last commit
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

revert
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Working code, need to refactor.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Added new user in tableau access: 12345-tableau-access-request
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Working code, need to refactor, formatted.
  dags/extract/data_classification.py
  extract/data_classification/data_classification.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Added new user in tableau access: 31635-tableau-access-request
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

remove tests
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Working code, need to refactor, formatted.
  extract/data_classification/data_classification.py
  extract/data_classification/extract.py
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Update missing field name
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
Due: none

Add Marketing Chanel to touchpoint tables
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline_live.sql
Due: none

Update another table field name
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline_live.sql
Due: none

Update field name
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline.sql
Due: none

add docs, make small adjustments based on testing
  transform/snowflake-dbt/models/common_mapping/map_installation_subscription_product.sql
  transform/snowflake-dbt/models/common_mapping/map_namespace_subscription_product.sql
  transform/snowflake-dbt/models/common_prep/prep_subscription.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge_mrr_daily.sql
Due: none

write docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common_mapping/mapping.md
  transform/snowflake-dbt/models/common_mapping/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep.md
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

add missing docs
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

Black.
  extract/data_classification/data_classification.py
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add procedure call
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Extedn to PROD schema to include into classification.
  extract/data_classification/data_classification.py
  extract/data_classification/specification.yml
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test execution.
  extract/data_classification/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Logger fixing.
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Logger fixing.
  extract/data_classification/data_classification.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
