Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

add ordering field
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
Due: none

making field explicit
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
Due: none

init
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/level_up/level_up_course_completions.sql
  transform/snowflake-dbt/models/sources/level_up/sources.yml
Due: pages

adding ordering field
  transform/snowflake-dbt/models/common_prep/prep_saas_usage_ping_subscription_mapped_wave_2_3_metrics.sql
Due: none

correcting field
  transform/snowflake-dbt/models/common_prep/prep_saas_usage_ping_subscription_mapped_wave_2_3_metrics.sql
Due: none

remove transformer & add ae role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

prep models
  transform/snowflake-dbt/models/sources/level_up/level_up_course_completions.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_course_views.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_logins.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_visits.sql
Due: none

remove engineer role from AEs
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

removed models, added dumb model for restricted_safe folder creation
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/rpt_product_namespace_classification_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/rpt_product_storage_metrics_daily.sql
Due: none

Re-tag.
  docker-compose.yml
Due: none

Update permissions to provide access to the large dev warehouse to the newly introduced data science roles
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add data-triage channel eod message
  .gitlab/issue_templates/Data Triage.md
Due: none

Adds dev_xl warehouse to analytics_engineer_core role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

fix typo
  .gitlab/issue_templates/Data Triage.md
Due: none

fix number of fields
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_mrr_snapshot_model.sql
Due: none

add consolidated netsuite exchange rate model
  transform/snowflake-dbt/models/workspaces/workspace_finance/netsuite_consolidated_currency_exchange_rates.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_finance/netsuite_consolidated_currency_exchange_rates.sql
Due: none

rename dag per naming conventions
  dags/extract/level_up_thought_industries_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Data Triage.md
Due: none

Modify existing dbt model
  transform/snowflake-dbt/models/workspaces/workspace_sales/ssa_coverage_fitted_curves.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales_analytics/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales_analytics/ssa_coverage_fitted_curves.sql
Due: none

resolve conflicts
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/rpt_product_storage_metrics_daily.sql
Due: none

resolve conflicts
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

edit
  .gitlab/issue_templates/Data Triage.md
Due: none

add six_hourly tag to models
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_user.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_user.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_account.sql
Due: none

adding description
  transform/snowflake-dbt/models/sources/gainsight/gainsight_doc.md
  transform/snowflake-dbt/models/sources/gainsight/schema.yml
Due: none

adding initial tranche of changes
  transform/snowflake-dbt/data/health_score_metrics.csv
  transform/snowflake-dbt/macros/version/ping_instance_wave_metrics.sql
  transform/snowflake-dbt/macros/version/sales_wave_2_3_metrics.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_host_instance_type.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/sources/gainsight/gainsight_doc.md
  transform/snowflake-dbt/models/sources/gainsight/gainsight_instance_info_source.sql
  transform/snowflake-dbt/models/sources/gainsight/schema.yml
Due: none

all running, dups removed using qualify()
  transform/snowflake-dbt/models/sources/level_up/level_up_course_views.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_logins.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_visits.sql
Due: none

remove pii fields
  transform/snowflake-dbt/models/sources/level_up/level_up_course_completions.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_course_views.sql
Due: none

removing deprecated models
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_wave_1_3_metrics_monthly_diff.sql
  transform/snowflake-dbt/models/marts/pumps/pumps.md
  transform/snowflake-dbt/models/marts/pumps/schema.yml
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_product_usage_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pumps_sensitive.md
  transform/snowflake-dbt/models/marts/pumps_sensitive/schema.yml
Due: none

update start_time, convert to parallel tasks
  dags/extract/level_up_thought_industries.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

only write events with data
  extract/level_up_thought_industries/src/thought_industries_api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

blacked
  dags/extract/level_up_thought_industries.py
  dags/extract/level_up_thought_industries_extract.py
  extract/level_up_thought_industries/src/thought_industries_api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove pii from course_views
  transform/snowflake-dbt/models/sources/level_up/level_up_logins.sql
Due: none

remove pii from views
  transform/snowflake-dbt/models/sources/level_up/level_up_visits.sql
Due: none

sqlfluff
  transform/snowflake-dbt/models/sources/level_up/level_up_course_completions.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_course_views.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_logins.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_visits.sql
Due: none

remove missing model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

add eof line
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

remove models
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_action.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_instance_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_fct_ping_instance_metric_none.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_fct_ping_instance_metric_null.sql
Due: none

update docs
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
