Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Add product health score workspace mart (remove subproject commit)
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_health_score.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/schema.yml
Due: none

limiting look back window for large tests
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/schema.yml
Due: none

update order for check_is_backfill_needed()
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update check_is_backfill_needed() to check is_resume_export()
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

unpack database_kwargs in downstream func
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/load_functions.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update tier logic
  transform/snowflake-dbt/models/common_prep/prep_product_detail.sql
  transform/snowflake-dbt/models/sources/zuora/zuora_product_rate_plan_charge_tier_source.sql
Due: none

fix source_table key
  dags/extract/gitlab_dbs_extract_load_backfill.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/load_functions.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update demgoraphics identifiers
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_snapshot_vs_live.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
Due: none

add creator_id to ci_runners table for schema testing
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_ci_new_db_manifest.yaml
Due: none

fix resume export logic, initial_load_start_date
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove creator_id from ci_runner
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_ci_new_db_manifest.yaml
Due: none

re-add creator_id
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_ci_new_db_manifest.yaml
Due: none

add docs
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops_pipeline_desc.md
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

add docs
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

add haproxy tables
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

Add retries to the ptpf dag
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add dim_crm_user to six_hourly schedule
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_user.sql
Due: none

add extension small runners and like arg in output table
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

add extension for medium and large runners
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

add extension mappings
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

add depends_on as the selector build can't seem to resolve dbt_utils.star
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_user.sql
Due: none

updated sales notebooks daily dag to cd into notebook folder
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  sales_analytics_notebooks/daily/sal_heatmap/sh_qtd_metrics_for_sal_heatmap.sql
  sales_analytics_notebooks/daily/sal_heatmap/sh_sal_heatmap_daily_update.ipynb
  sales_analytics_notebooks/daily/sal_heatmap/sh_xactly_fy24_quotas.sql
  sales_analytics_notebooks/daily/xray/xr_hist_fy_n4q_coverages_for_xray.sql
  sales_analytics_notebooks/daily/xray/xr_xray_daily_update.ipynb
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added airflow test file
  dags/test/test_airlfow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

change condition as per requirements
  transform/snowflake-dbt/models/sources/customers/customers_db_reconciliations_source.sql
Due: none

remove creator_id, should not backfill
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_ci_new_db_manifest.yaml
Due: none

remove cols from workspace model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
Due: none

fix delete source_table key
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

dag version
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update tests and linting
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
  extract/saas_postgres_pipeline_backfill/test/test_check_export.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update group logic
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_rate.sql
Due: none

add workflow to readme
  extract/saas_postgres_pipeline_backfill/README.md
Due: none

change ref in wk_sales_sfdc_opportunity_xf
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

adds customers_db to snalamaru
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

updated dbt models for stage progression
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_stage_progression.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_stage_progression_open_category_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_stage_progression_open_stage_snapshot.sql
Due: none

include prep_crm_user in six_hourly schedule
  transform/snowflake-dbt/models/common_prep/prep_crm_user.sql
Due: none

Test commit for pipeline.
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove final net_arr_created ref
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

simplify selector and reformat
  transform/snowflake-dbt/selectors.yml
Due: pages

Include internal notes
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
