Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Add sales analytics affinity and tolerations
  dags/kubernetes_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add new taints
  dags/kubernetes_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

docs updates
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow.md
Due: none

remove extra character
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

fix duplicates on full path left join
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/output/rpt_gcp_billing_pl_day.sql
Due: none

First commit
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

rename model in schema
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

prepend wk_ to model name
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow.md
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

add 'Implementation Quick Start' to CASE
  transform/snowflake-dbt/macros/zuora/product_category.sql
Due: none

Add UTM / Integrated Budget Holder
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

updated fy metrics per day and total targets
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_ssot_pipeline_fy_metrics_per_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_ssot_targets_totals_per_quarter.sql
Due: none

fixed aliases
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_ssot_pipeline_fy_metrics_per_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_ssot_targets_totals_per_quarter.sql
Due: none

fix haproxy mapping
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/combined_pl_mapping.sql
Due: none

remove double reference to UTM_CONTENT
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
Due: none

fix typo
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

fix reference
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_touchpoint.sql
Due: none

use dim_user_id from prep_user
  transform/snowflake-dbt/models/common_prep/prep_ci_build.sql
Due: none

fix incremental syntax
  transform/snowflake-dbt/models/common_prep/prep_ci_build.sql
Due: none

add utm_budget that's been left out
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_crm_touchpoint.sql
Due: none

add hierarchy
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_user_hierarchy.sql
Due: none

add hash and lead source values
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
Due: none

move flag
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
Due: none

update tests to new column names
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

change join in duplicated issue mapping and update testing
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mapping/map_moved_duplicated_issue.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Modify additional dags
  dags/extract/external_gcp_billing.py
  dags/extract/sheetload.py
  dags/transformation/dbt_datasiren.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added dynamic ramp logic to ae heatmap
  sales_analytics_notebooks/daily/202304_daily_sal_heatmap_update/sh_raw_fy24_quotas.sql
  sales_analytics_notebooks/daily/202304_daily_sal_heatmap_update/sh_sal_heatmap_daily_update.ipynb
Due: none

fixed upload
  sales_analytics_notebooks/daily/202304_daily_sal_heatmap_update/sh_sal_heatmap_daily_update.ipynb
Due: none

Fix black errors
  dags/extract/external_gcp_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Modify dbt data siren
  dags/transformation/dbt_datasiren.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Modify scd to replace it with new task pool
  dags/extract/gitlab_saas_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix black errors
  dags/kubernetes_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Modify taints for DAG
  dags/extract/clari_extract_quarterly.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added affitinity
  dags/extract/gitlab_data_yaml.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix split at 0.99
  transform/snowflake-dbt/data/gcp_billing_infra_pl_mapping.csv
Due: none

fix runner pl at 0.99
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/ci_runners_pl_daily.sql
Due: none

Update 4 files
  transform/snowflake-dbt/models/sources/nvd/nvd_cve_source.sql
  transform/snowflake-dbt/models/sources/nvd/nvd_extract_doc.md
  transform/snowflake-dbt/models/sources/nvd/schema.yml
  transform/snowflake-dbt/models/sources/nvd/sources.yml
Due: none

delete models and perms
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/nvd_cve_cpe_mapping.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
