Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

add handbook links to readme
  orchestration/snowflake_provisioning_automation/README.md
Due: none

Update file wk_gitlab_dotcom_package_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_package_events.sql
Due: none

remove git diff print statement
  orchestration/snowflake_provisioning_automation/update_roles_yaml/src/update_roles_utils.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/tests/test_templates.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update union logic
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

Update el_saas_gitlab_com_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
Due: none

Update file el_saas_gitlab_com_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
Due: none

Update file specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

offboarding urselak
  extract/tableau_con_man_config/src/specification.yml
Due: none

add feature_store role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

privision access to feature_store role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add keyed_null value for dim_crm_user_hierarchy_sk
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_sales_funnel_target.sql
Due: none

add missing member record
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_dim_crm_user_hierarchy.sql
Due: none

Revert "Merge branch 'dvanrooijen2-master-patch-0a9f' into 'master'"
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
Due: none

add entitlement to dbt_developers role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Revert "add missing member record"
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_dim_crm_user_hierarchy.sql
Due: none

add new entitlements role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

typo
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove third_party_ai_features_enabled field
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespace_settings_source.sql
Due: none

in query use p_ci_stages
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_ci_db_manifest.yaml
Due: none

Add advisory-processor to part of product projects
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

reviewer comments
  orchestration/snowflake_provisioning_automation/update_roles_yaml/src/args.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/src/update_roles_utils.py
  orchestration/snowflake_provisioning_automation/update_roles_yaml/tests/__init__.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added tag daily for salesforce sandbox
  transform/snowflake-dbt/dbt_project.yml
Due: pages

added instance_type in the partition
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
Due: none

changed updated date
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
Due: none

add nbelokolodov
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add wk fct payment to restriced safe workspace finance
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_fct_payment
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

added tag daily for sfdc
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/snapshots/sfdc_sandbox/sfdc_sandbox_user_snapshots.sql
Due: pages

Clean up tables and update hierarchy field to use prep_crm_user
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Fix error
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Adding sql extension
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_fct_payment.sql
Due: none

Deleting file without sql extension
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_fct_payment
Due: none

Fix punctuation error
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_finance_fct_payment.sql
Due: none

Combine workspace prep_crm_opportunity logic from 2 models
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
Due: none

Remove prep_crm_opportunity table
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_prep_crm_opportunity.sql
Due: none

add prep and prod layer
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/influx_db/all_fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/influx_db/all_test_stats_source.sql
  transform/snowflake-dbt/models/sources/influx_db/main_test_source.sql
  transform/snowflake-dbt/models/sources/influx_db/schema.yml
  transform/snowflake-dbt/models/sources/influx_db/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/influx_db_all_fabrication_stats.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/influx_db_all_test_stats.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/influx_db_main_test_stats.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: ðŸ“yaml_validation, pages

add prep and prod layer
  transform/snowflake-dbt/models/sources/influx_db/main_test_stats_source.sql
Due: none
