Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Update file dim_ci_runner.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ci_runner.sql
Due: none

Try env get.
  extract/hyperproof/extract_hyperproof.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Naming corrections.
  dags/extract/hyperproof_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Unused variable.
  dags/extract/hyperproof_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Switch to built in logging.
  extract/hyperproof/extract_hyperproof.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Secret import
  dags/extract/hyperproof_extract.py
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

generic gcs_external.py
  dags/extract/external_gcp_billing.py
  dags/extract/google_analytics_four.py
  extract/gcs_external/src/gcs_external.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Secret import
  dags/extract/hyperproof_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Debug
  extract/hyperproof/extract_hyperproof.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

generic gcs_external.py
  dags/extract/external_gcp_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

just_global_campaigns, media_buys table
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/just_global_campaigns/media_buys_source.sql
  transform/snowflake-dbt/models/sources/just_global_campaigns/schema.yml
  transform/snowflake-dbt/models/sources/just_global_campaigns/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/just_global_media_buys.sql
Due: pages

Update file wk_gitlab_dotcom_verify_snowplow_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_verify_snowplow_events.sql
Due: none

Updated logic
  transform/snowflake-dbt/models/common_mapping/map_product_tier.sql
  transform/snowflake-dbt/models/common_prep/prep_product_detail.sql
  transform/snowflake-dbt/models/common_prep/prep_product_tier.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/map_product_tier_central_sandbox.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_product_tier_central_sandbox.sql
Due: none

REVERT: fake commit
  .gitlab-ci.yml
Due: none

snowflake_provisioning_snowflake_users job only on mr approval
  .gitlab-ci.yml
Due: none

Updated file
  transform/snowflake-dbt/models/common_prep/prep_product_tier.sql
Due: none

additional mr template steps
  .gitlab/merge_request_templates/snowflake_provisioning.md
Due: none

adding tests and uploaded dates
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_data_transfer_by_deployment_source.sql
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_resources_by_deployment_source.sql
  transform/snowflake-dbt/models/sources/elastic_billing/schema.yml
Due: none

updated at changes in model and schema description
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_data_transfer_by_deployment_source.sql
  transform/snowflake-dbt/models/sources/elastic_billing/elastic_billing_resources_by_deployment_source.sql
  transform/snowflake-dbt/models/sources/elastic_billing/schema.yml
Due: none

Updated group by
  transform/snowflake-dbt/models/common_prep/prep_product_detail.sql
Due: none

Added definitions
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_with_zero_dollar_charges.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Definition added
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Removed space
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_product_tier_central_sandbox.sql
Due: none

Add Kent Georgeson.
  extract/tableau_con_man_config/src/specification.yml
Due: none

Add Matt Dunleavy
  extract/tableau_con_man_config/src/specification.yml
Due: none

Remove Kent Georgeson for now, no creator licenses available.
  extract/tableau_con_man_config/src/specification.yml
Due: none

update charges CTE to remove dim_product_tier
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

Update file internal_gitlab_projects.csv
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
Due: none

Removing unused problem sheet.
  extract/sheetload/boneyard/sheets.yml
Due: none

add asluis
  permissions/snowflake/snowflake_users.yml
Due: none

Update file snowflake_provisioning.md
  .gitlab/merge_request_templates/snowflake_provisioning.md
Due: none

Tableau provisioning
  extract/tableau_con_man_config/src/specification.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
