Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Remove deleted records from all workday tables
  transform/snowflake-dbt/models/sources/workday/assess_talent_source.sql
  transform/snowflake-dbt/models/sources/workday/cost_centers_source.sql
  transform/snowflake-dbt/models/sources/workday/gitlab_usernames_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_snapshots_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_source.sql
  transform/snowflake-dbt/models/sources/workday/performance_growth_potential_source.sql
  transform/snowflake-dbt/models/sources/workday/staffing_history_approved_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_bonus_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_compensation_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_directory_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_emergency_contacts_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_employee_mapping_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_employment_status_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_job_info_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_on_target_earnings_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_supervisory_organizations_source.sql
Due: none

Minor update
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical_mapping.sql
Due: none

update model names
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/nvd/nvd_cve_source.sql
  transform/snowflake-dbt/models/sources/nvd/nvd_extract_doc.md
  transform/snowflake-dbt/models/sources/nvd/schema.yml
  transform/snowflake-dbt/models/sources/nvd/sources.yml
  transform/snowflake-dbt/models/sources/nvd_extract/cve_details_nvd.sql
  transform/snowflake-dbt/models/sources/nvd_extract/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/nvd_cve_cpe_mapping.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: pages

update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

changes after testing
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_invoice_item.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_invoice_items_detail.sql
Due: none

add legacy dim_epic_id back to epic dimension
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_epic.sql
  transform/snowflake-dbt/models/common_prep/prep_epic.sql
Due: none

adding comma
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical.sql
Due: none

place methods for testing
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add logic
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating date field
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical.sql
Due: none

fix var name
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

consistent naming
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Invalidate hard deletes in snapshot
  transform/snowflake-dbt/models/sources/workday/job_profiles_snapshots_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_supervisory_organizations_source.sql
  transform/snowflake-dbt/snapshots/workday/job_profiles_snapshots.sql
  transform/snowflake-dbt/snapshots/workday/workday_employee_directory_snapshots.sql
  transform/snowflake-dbt/snapshots/workday/workday_employee_mapping_snapshots.sql
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots.sql
Due: none

Remove space
  transform/snowflake-dbt/models/sources/workday/workday_supervisory_organizations_source.sql
Due: none

adds tscott
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Revert "delete legacy invoice item detail report"
  transform/snowflake-dbt/models/legacy/zuora/restricted_safe/zuora_invoice_items_detail_report.sql
Due: none

undo removal of legacy model and definition
  transform/snowflake-dbt/models/legacy/zuora/xf/schema.yml
Due: none

formatting
  transform/snowflake-dbt/models/legacy/zuora/xf/schema.yml
Due: none

add issue_state
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

simplify report
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_invoice_item.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_invoice_items_detail.sql
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

simplified engineering_issues logic
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_issues.sql
Due: none

add snippet logic to model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

add geo and segment. For arr table, remove band detailed
  transform/snowflake-dbt/macros/reports/sales/rpt_retention.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

add project filtering
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add project filtering
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

return removed values
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

black
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add if for projects
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix naming consistency
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add to import
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

removed dwh loading temporarily for faster testing
  dags/extract/driveload.py
  extract/sheetload/google_drive_client.py
  extract/sheetload/sheetload.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add raise
  extract/sheetload/google_drive_client.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest
