Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Schema documentation updates
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

apply
  dags/transformation/dbt_temp_prep_instance_ping_full_refresh.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

make live snapshot_id generic for incremental merging
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

adds marketo role to jng
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Test toleration & affinity set.
  dags/extract/bamboohr_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update value to theoretical valid date
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

qualify the account snapshot to remove dupes
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

modified model to add file name metadata
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_availability_source.sql
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_seconds_remaining_source.sql
Due: none

correcteing for rehires
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_info.sql
Due: none

Reduce catchup for testing.
  dags/extract/gitlab_data_yaml.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add response fix
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add response fix
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

sqlfluff formatting
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_availability_source.sql
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_seconds_remaining_source.sql
Due: none

add comments
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add formatting with black
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Data Triage.md
Due: none

remove dupes where dbt_valid_to is null
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

qualify sfdc_accounts to remove dupes
  transform/snowflake-dbt/macros/sfdc/sfdc_account_fields.sql
Due: none

syntax
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
Due: none

Updating L2R Revised acct demo fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised.sql
Due: none

Fix databases-structure-changes link
  .gitlab/issue_templates/Data Triage.md
Due: none

correction for rehires
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_info.sql
Due: none

correct for rehiers
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/bamboohr_job_info.sql
Due: none

discovery
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/analysis/data_team/dbt_upgrade_tests.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/packages.yml
  transform/snowflake-dbt/poetry.lock
  transform/snowflake-dbt/pyproject.toml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Updating MS planning template
  .gitlab/issue_templates/Fusion Team and Data Science Team Milestone Planning.md
Due: none

Update data_science_exposures.yml
  transform/snowflake-dbt/models/data_science_exposures.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/data_science_exposures.yml
Due: none

add logic to remove duplicates
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
Due: none

Create td_campaigns_revised
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns_revised.sql
Due: none

change unique deffinition
  transform/snowflake-dbt/models/sources/thanos/schema.yml
Due: none

remove records populating on first_inactive_date
  transform/snowflake-dbt/models/legacy/bamboohr/sensitive/employee_directory_intermediate.sql
Due: none

Adding dim_campaign_id to L2R Revised
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised.sql
Due: none

Updating bizible date to date type
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline.sql
Due: none

Adding missing fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns_revised.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised.sql
Due: none

Adding more missing fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised.sql
Due: none

correcting typo
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised.sql
Due: none

adaptive extract dag
  dags/extract/adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
