Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

provided permission for salesforce_sandbox
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add account name and host name columns
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

update monthly_stage_usage_by_account
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account.sql
Due: none

update monthly stage usage by account ultimate
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
Due: none

update monthly stage usage by namespace
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_namespace.sql
Due: none

update monthly stage usage by subscription
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

fix namespace_id
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

namespace
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_subscription.sql
Due: none

Removed _sfc fields
  transform/snowflake-dbt/models/sources/sfdc/sfdc_vartopia_drs_registration_source.sql
Due: none

Add doc to base model
  transform/snowflake-dbt/models/sources/sfdc/sfdc_base_doc.md
Due: none

update to refs/simple CTE
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
Due: none

add docs for funds
  transform/snowflake-dbt/models/sources/sfdc/sfdc_base_doc.md
Due: none

mnpi tags
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_behavior_code_suggestion_outcome.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

Remove extra period
  transform/snowflake-dbt/models/sources/sfdc/sfdc_vartopia_drs_registration_source.sql
Due: none

new dag definition costs overview
  dags/extract/elasticsearch_billing_extract.py
  extract/elastic_search_billing/src/elasticsearch_billing_costs_overview.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

re-adding wleidheiser
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

moved number to float
  transform/snowflake-dbt/models/sources/zuora_query_api/zuora_query_api_charge_contractual_value_source.sql
  transform/snowflake-dbt/models/sources/zuora_query_api/zuora_query_api_charge_metrics_discount_allocation_detail_source.sql
  transform/snowflake-dbt/models/sources/zuora_query_api/zuora_query_api_charge_metrics_source.sql
Due: none

Add Sushma to
  CODEOWNERS
Due: none

add true_up tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_dropped_manual_true_up_charges.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_manual_true_up_charge.sql
Due: none

remove tdf tag
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_dropped_manual_true_up_charges.sql
Due: none

removed model from legacy
  transform/snowflake-dbt/models/legacy/zuora/restricted_safe/zuora_charge_contractual_value.sql
  transform/snowflake-dbt/models/legacy/zuora/restricted_safe/zuora_charge_metrics.sql
  transform/snowflake-dbt/models/legacy/zuora/restricted_safe/zuora_charge_metrics_discount_allocation_detail.sql
Due: none

remove CUSTOMER_SUBSCRIPTION_ID tests
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

add tag for test to pass
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_dropped_manual_true_up_charges.sql
Due: none

formatting
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_dropped_manual_true_up_charges.sql
Due: none

Revert "add tag for test to pass"
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_dropped_manual_true_up_charges.sql
Due: none

check deletes_exempt
  .gitlab/merge_request_templates/Postgres Pipeline Changes.md
Due: none

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

add unique keys to schema
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

Remove DR status field
  transform/snowflake-dbt/models/sources/sfdc/sfdc_vartopia_drs_registration_source.sql
Due: none

create sensitive model
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/sensitive/dim_namespace_pii.sql
  transform/snowflake-dbt/models/common/sensitive/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_namespace.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: ðŸ“yaml_validation

add docs
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

changes wleidheiser
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

query api endpoint
  dags/extract/elasticsearch_billing_extract.py
  extract/elastic_search_billing/src/elasticsearch_billing_costs_overview.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add new pgp table
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_scd_db_manifest.yaml
Due: none

remove unknown column
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_scd_db_manifest.yaml
Due: none
