Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Correct default eval.
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Debug.
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add comment
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/ci_runners_pl_daily.sql
Due: none

Testing...
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add models and pump for the churn forecasting scores
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/models/marts/pumps/mart_crm_subscription_id.sql
  transform/snowflake-dbt/models/marts/pumps/pumps.md
  transform/snowflake-dbt/models/marts/pumps/schema.yml
Due: none

Add pump definition
  pump/pumps.yml
Due: none

add macos runners and code clean up
  transform/snowflake-dbt/.sqlfluff
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/ci_runners_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: pages

Clearer output formatting for multiple variables.
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Return default value logic.
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Modify timestamp column for data pump model
  pump/pumps.yml
Due: none

Add pump specification and docs
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_churn_forecasting_scores.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pumps_sensitive.md
  transform/snowflake-dbt/models/marts/pumps_sensitive/schema.yml
Due: none

add code suggestions to the Support category
  transform/snowflake-dbt/macros/zuora/product_category.sql
Due: none

rename offer stage
  transform/snowflake-dbt/models/legacy/greenhouse/xf/greenhouse_stage_intermediate.sql
Due: none

add macos runners description
  transform/snowflake-dbt/.sqlfluff
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/ci_runners_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: pages

Remove uniqueness test in job_profiles_snapshots_source
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Adding created date to dim_quote
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_quote.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_quote.sql
Due: none

Update schema.yml
  transform/snowflake-dbt/models/sources/mailgun/schema.yml
Due: none

take out delete gcs files logic
  dags/extract/gitlab_dbs_extract_load_backfill.py
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_new_db_manifest.yaml
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove code suggestion update
  transform/snowflake-dbt/macros/zuora/product_category.sql
Due: none

Unmask employee type in mart
  transform/snowflake-dbt/models/common_mart_people/schema.yml
Due: none

Remove unrelated commit
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
Due: none

remove alert_management_alerts
  dags/extract/gitlab_dbs_extract_load_backfill.py
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_new_db_manifest.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

use plan_name instead of plan_title
  transform/snowflake-dbt/models/workspaces/workspace_data_science/monthly_stage_usage_by_account_ultimate.sql
Due: none

updating source tables
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

add back manifest tables
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

move extra condition to additional_filter
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

remove unused models
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_cert_managers.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_crossplane.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_elastic_stacks.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_helm.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_ingress.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_jupyter.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_knative.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_prometheus.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_clusters_applications_runners.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_cert_managers_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_crossplane_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_elastic_stacks_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_helm_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_ingress_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_jupyter_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_knative_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_prometheus_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_applications_runners_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_clusters_xf.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_usage_data_pipelines.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/schema.yml
Due: none

adds tjayaramaraju
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds jokal
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Fix tab name.
  extract/sheetload/boneyard/sheets.yml
Due: none

clean up projects
  transform/snowflake-dbt/data/gcp_billing_project_pl_mapping.csv
Due: none

updating select in first cte
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

Updating group by
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

update cols
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_snippet.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

update col in dim_snippet
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_snippet.sql
Due: none

python compliance
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

trimming string timestamps
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_installation.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
