Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

duplicates fixed
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_user_hierarchy.sql
Due: none

fix fiscal year
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_user_hierarchy.sql
Due: none

add upper limits for old hierarchy
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_user_hierarchy.sql
Due: none

remove seed files with test hierarchy data
  transform/snowflake-dbt/data/fy25_sfdc_sandbox_user_roles_hierarchy.csv
  transform/snowflake-dbt/data/fy25_sfdc_sandbox_users_hierarchy.csv
  transform/snowflake-dbt/data/seeds.yml
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sfdc_sandbox_user_roles_source.sql
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sfdc_sandbox_users_source.sql
Due: none

formatting
  transform/snowflake-dbt/data/seeds.yml
Due: none

Rename ci_job_artifact table in manifest to p_ci_job_artifact
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_ci_db_manifest.yaml
Due: none

debug
  extract/elasticsearch_billing/src/costs_overview.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

define column names
  transform/snowflake-dbt/models/sources/marketo/marketo_lead_source.sql
Due: none

Update specification.yml with reprovisioning for AEs and deprovisioning inactive users
  extract/tableau_con_man_config/src/specification.yml
Due: none

update order of write_Metadata()
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove unused `marketing` tag
  transform/snowflake-dbt/data/valid_tags.csv
Due: none

Update file fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
Due: none

DROP columns for Snowplow IP enrichment
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_web_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/base_staging/snowplow_gitlab_staging_events.sql
  transform/snowflake-dbt/models/sources/snowplow/snowplow_gitlab_good_events_sample_source.sql
  transform/snowflake-dbt/models/sources/snowplow/snowplow_gitlab_good_events_source.sql
Due: none

fix ambiguous column error
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

Remove user_agent column from Code Suggestions models
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

filter out bad record
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_ping_latest_subscriptions_monthly.sql
Due: none

Creating FY25 Account Geo Mapping sheetload
  extract/sheetload/sheets.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_fy25_account_geo_map.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none

Add link to internal handbook to the triage template
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

Updating union fields
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Removing outdated JOIN
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline_live.sql
Due: none

Adjusting tp_sales_stage logic to account for NULLs
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Updating date field name
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

Correcting table name
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_attribution_touchpoint.sql
Due: none

fix tests
  dags/extract/gitlab_saas_dbs_extract_load.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
  extract/gitlab_saas_postgres_pipeline/test/test_saas_deletes_metadata_conditions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  dags/extract/gitlab_saas_dbs_extract_load.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
  extract/gitlab_saas_postgres_pipeline/test/test_saas_deletes_metadata_conditions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

set croniter base
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

drop colums
  transform/snowflake-dbt/models/legacy/pto/gitlab_pto.sql
Due: none

mask columns
  transform/snowflake-dbt/models/legacy/pto/gitlab_pto.sql
  transform/snowflake-dbt/models/legacy/pto/schema.yml
Due: none

Update file gitlab_pto.sql
  transform/snowflake-dbt/models/legacy/pto/gitlab_pto.sql
Due: none

Update file dim_ci_runner.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ci_runner.sql
Due: none

update pseudo user column in flattening, update context_key col name in wk model
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_experiment_event_entity_daily.sql
Due: none

update range_generator()
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

mypy fix data_interval_end
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

use dev image pendulum
  .gitlab-ci.yml
Due: none

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

offboarding nfiguera
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

Added Business Process Category and Reason fields
  transform/snowflake-dbt/models/sources/workday/staffing_history_approved_source.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
