Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Add commented out filter for pto data 2024-01-01 onward
  transform/snowflake-dbt/models/sources/pto/gitlab_pto_source.sql
Due: none

Account for Workday IDs in Source Table
  transform/snowflake-dbt/models/legacy/pto/gitlab_pto.sql
Due: none

Account for Workday IDs in Source Table
  transform/snowflake-dbt/models/common_prep/prep_pto.sql
Due: none

ci tests
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

test ci changes
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

group by all
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add create or replace for backup table
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update raw_database to include ""
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add dim_crm_account_id to ping models
  transform/snowflake-dbt/macros/marts/product/macro_mart_ping_instance_metric.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/mart_ping_instance_metric_monthly.sql
  transform/snowflake-dbt/models/common_prep/prep_license_subscription.sql
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/common_mart_product/restricted_safe/reports/schema.yml
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Revert client source
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: none

add fields
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_e2e_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/test_stats_e2e_source.sql
Due: none

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add new fields
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespace_settings_source.sql
Due: none

Adding fields
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_charge.sql
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_charge.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
Due: none

Fix FileNotFound Exception.
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Updating prep charge
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
Due: none

move to snapshot hierarchy
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Updating prep_charge
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
Due: none

Fix final day
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_final_bookings.sql
Due: none

ci testing
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

fix conversion
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespace_settings_source.sql
Due: none

fix spacing
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespace_settings_source.sql
Due: none

fix typo
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

Adding fields to prep charge
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_charge.sql
Due: none

rename models
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_mrr_weekly.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_weekly.sql
Due: none

replace source
  transform/snowflake-dbt/models/workspaces/workspace_engineering/issue_note_cross_reference.sql
Due: none

Add sales_type and stage_name
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_final_bookings.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_pipeline_coverage.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
Due: none

update filters
  transform/snowflake-dbt/models/common/facts_financial/restricted_safe/fct_mrr_weekly_with_zero_dollar_charges.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_arr_weekly_with_zero_dollar_charges.sql
Due: none

update schema files
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

Formatting
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_final_bookings.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_sales_funnel_target_daily.sql
Due: none

Formatting
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_final_bookings.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
