Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

move linkedin_ads source views from legacy schema
  transform/snowflake-dbt/dbt_project.yml
Due: pages

Adjust git repo URL
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix black formatting issues
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Temp set retries to 0
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add prep
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/scd/gitlab_dotcom_ project_ci_cd_settings_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/scd/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: none

add prep
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_project_ci_cd_settings_source.sql
Due: none

add prep
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
Due: none

update ptp model schema
  transform/snowflake-dbt/models/workspaces/workspace_data_science/schema.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/sources/data_science/data_science.md
Due: none

adds work_item_progresses to extract
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Add sparse checkout to only checkout prod for this project
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add missing sparse checkout init!
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove sparse checkout init
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Config sparse checkout
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add column names to aggregation
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session.sql
  transform/snowflake-dbt/models/legacy/google_analytics_360/intermediate/ga360_session_hit.sql
Due: none

add object roles to analytics_engineer_core
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Config sparse checkout for git v2.25 (CI git version)
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add facebook_ads to dbt_project.yml
  transform/snowflake-dbt/dbt_project.yml
Due: pages

assign functional roles start
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add function roles next
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

udpate masking policy to data science sensitive
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/sfdc/intermediate/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/schema.yml
Due: none

remove gainsight from core
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove salesforce from core
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add back is deleted flag to legacy model
  transform/snowflake-dbt/models/legacy/sfdc/intermediate/sfdc_task.sql
Due: none

Added HAS_FAILURES column for metrics calculation for Automated Service Ping.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

Add models.
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_member_roles_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_ml_candidates_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_ml_experiments_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: none

Temporarily use the scd node pool
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Temporarily disable the devTeamMembers stream and cleanup commenting lines
  extract/engineering/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating vulnerability_type
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_gitlab_versions.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/sources/version/version_versions_source.sql
Due: none

Renamed cte
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_gitlab_versions.sql
Due: none

Updated values for vulnerability type
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_gitlab_versions.sql
Due: none

update ref to severity/priority columns
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_issues.sql
Due: none

change fct_crm_opportunity test to day -3
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_user.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_crm_user.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_account.sql
Due: none

adding column descriptions
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
Due: none

removing duplicate description
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

Updated Case statement
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_gitlab_versions.sql
Due: none

restructure directory, add model
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metric_aggregations/one_to_one/wk_rpt_event_based_metric_counts_namespace_all_time.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/original_method/redis_namespace_snowplow_clicks_aggregated_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/original_method/redis_namespace_snowplow_clicks_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/metric_aggregations/many_to_many/wk_rpt_user_based_metric_counts_namespace_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/metric_aggregations/one_to_one/wk_rpt_event_based_metric_counts_namespace_all_time.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/wk_fct_snowplow_events_service_ping.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/wk_mart_snowplow_events_service_ping_metrics.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_mart_snowplow_events_service_ping_metrics.sql
Due: none
