Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

update code to remove config
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_gitlab_versions.sql
Due: none

change source models
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/prep_charge_api_sandbox.sql
Due: none

Updating Account ID statement
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

add subscription_type to dim_quote
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_quote.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_quote.sql
Due: none

Renamed unique id
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_gitlab_versions.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Adding View for Direct imports
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_direct_imports.sql
Due: none

Adding group by after bulk_import created at added
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_direct_imports.sql
Due: none

removing metric that had SaaS data turned off
  transform/snowflake-dbt/data/health_score_metrics.csv
  transform/snowflake-dbt/macros/version/ping_instance_wave_metrics.sql
  transform/snowflake-dbt/macros/version/sales_wave_2_3_metrics.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave_monthly.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_saas_product_usage_metrics_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_product/mart_product_usage_free_user_metrics_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_saas.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/common_mart_product/schema.yml
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/marts/pumps/schema.yml
  transform/snowflake-dbt/models/metric_descriptions.md
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

Modify affinity and tolerance functions
  dags/data_science/ds_propensity_to_purchase_free.py
  dags/extract/bamboohr_extract.py
  dags/extract/bizible_extract.py
  dags/extract/boneyard_sheetload.py
  dags/extract/clari_extract_daily.py
  dags/extract/clari_extract_quarterly.py
  dags/extract/container_reg.py
  dags/extract/discourse_extract.py
  dags/extract/driveload.py
  dags/extract/engineering_extract.py
  dags/extract/external_gcp_billing.py
  dags/extract/gainsight_extract.py
  dags/extract/gitlab_data_yaml.py
  dags/extract/gitlab_dbs_extract_load.py
  dags/extract/gitlab_dbs_tdf_extract_load.py
  dags/extract/graphite_extract.py
  dags/extract/greenhouse_extract.py
  dags/extract/handbook_mrs_extract.py
  dags/extract/level_up_thought_industries_extract.py
  dags/extract/mailgun_extract.py
  dags/extract/part_of_product_mrs_extract.py
  dags/extract/qualtrics_extract.py
  dags/extract/qualtrics_survey_extract.py
  dags/extract/rspec_profiler_extract.py
  dags/extract/sheetload.py
  dags/extract/snowflake_roles.py
  dags/extract/values_page_extract.py
  dags/extract/zuora_query_api_extract_and_load.py
  dags/extract/zuora_revenue_load.py
  dags/extract/zuora_revenue_report.py
  dags/general/pumps.py
  dags/kubernetes_helpers.py
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  dags/sales_analytics/sales_analytics_monthly_notebooks.py
  dags/sales_analytics/sales_analytics_quarterly_notebooks.py
  dags/sales_analytics/sales_analytics_weekly_notebooks.py
  dags/test/test_kubernetes_helpers.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds zuora_api_sandbox_stitch to csharp
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

modified the backfill range
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating account_id select
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

add column to schema
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

update combined mapping and output table - wip
  transform/snowflake-dbt/data/gcp_billing_infra_pl_mapping.csv
  transform/snowflake-dbt/data/gcp_billing_project_pl_mapping.csv
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_mapping_infra_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

adds lstahlman
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add restricted_safe workspace_engineering
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

typo
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

modified the chunksize
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

make column name more descriptive
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_quote.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_quote.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

updating final select
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

restored chunksize
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

multiple updates to keys and updated the progression model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_ssot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_sales_funnel_target_ssot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_stage_progression.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

adding redis to workspace
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

Add is_local parameter, pass from makefile.
  Makefile
  orchestration/clone_dbt_models_select.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Use DBT utils
  transform/snowflake-dbt/models/workspaces/workspace_marketing/digital_ads.sql
Due: none

add deduplication
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
Due: none

Formatted the number
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

use data image 0.0.34 for updated snowflake_upload()
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fixing join
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

dag start_date for testing purposes
  dags/airflow_utils.py
  dags/extract/level_up_thought_industries.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add performance_growth_potential source
  transform/snowflake-dbt/models/sources/workday/performance_growth_potential_source.sql
  transform/snowflake-dbt/models/sources/workday/sources.yml
  transform/snowflake-dbt/models/sources/workday/workday_source_descriptions.md
Due: none

update live user key and limit hierarchy to current values or last values in FY
  transform/snowflake-dbt/macros/sfdc/sfdc_user_fields.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_user_hierarchy.sql
  transform/snowflake-dbt/models/sources/date/date_details_source.sql
Due: none

Add source tables for reports
  transform/snowflake-dbt/models/sources/workday/all_workers_source.sql
  transform/snowflake-dbt/models/sources/workday/assess_talent_source.sql
  transform/snowflake-dbt/models/sources/workday/gitlab_usernames_source.sql
  transform/snowflake-dbt/models/sources/workday/performance_growth_potential_source.sql
  transform/snowflake-dbt/models/sources/workday/sources.yml
  transform/snowflake-dbt/models/sources/workday/staffing_history_approved_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_source_descriptions.md
Due: none

Renamed column in code
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

Add docs!
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

Remove is local param, will use environment rather.
  Makefile
  orchestration/clone_dbt_models_select.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Correct grant logic.
  orchestration/clone_dbt_models_select.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Better syntax.
  orchestration/clone_dbt_models_select.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add priority column, keep only mappings with higher specificity in join
  transform/snowflake-dbt/data/gcp_billing_infra_pl_mapping.csv
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_mapping_infra_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/repo_storage_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/test.sql
Due: none

remove test
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/test.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
