Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update Marketing models with new opp owner fields
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_rpt_l2r_cohort_model.sql
Due: none

Database name adjusted if testing.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Updating schemas
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/schema.yml
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

Database name adjusted if testing.
  extract/data_classification/specification.yml
Due: none

Database name adjusted if testing.
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing.
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Testing.
  extract/data_classification/specification.yml
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Correcting sheetload ref
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Correcting filter/where
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

test case added.
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Updating CTE ref
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Correcting outdated field name
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

Correcting CTE ref
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
Due: none

Unit testing completed.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

update dim_crm_opportunity schema file
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Test 90 days.
  extract/test/test_data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Updated is_job_profile_active field logic
  transform/snowflake-dbt/models/sources/workday/blended_job_profiles_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_historical_source.sql
Due: none

Explicit CTE names and Removed nested query
  transform/snowflake-dbt/models/sources/workday/blended_job_profiles_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_snapshots_source.sql
Due: none

Edited
  transform/snowflake-dbt/models/sources/workday/blended_job_profiles_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_historical_source.sql
Due: none

Considering Reviewed updates and adding job_profiles_historical_source model
  transform/snowflake-dbt/models/sources/workday/blended_job_profiles.sql
  transform/snowflake-dbt/models/sources/workday/blended_job_profiles_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_historical_source.sql
  transform/snowflake-dbt/models/sources/workday/schema.yml
  transform/snowflake-dbt/models/sources/workday/sources.yml
Due: none

Reviewed Changes
  transform/snowflake-dbt/models/sources/workday/blended_job_profiles_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_historical_source.sql
  transform/snowflake-dbt/models/sources/workday/job_profiles_snapshots_source.sql
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Added model blended_job_profiles
  transform/snowflake-dbt/models/sources/workday/blended_job_profiles.sql
  transform/snowflake-dbt/models/sources/workday/schema.yml
Due: none

Update file ent_sfdc_geo.sql
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

Update file rpt_arr_snapshot_combined_5th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_5th_calendar_day.sql
Due: none

Update 2 files
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

update schedule
  dags/extract/waterfall_report_driveload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add MNPI Exception to necessary models
  transform/snowflake-dbt/models/common/bridge/bdg_crm_opportunity_contact_role.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_event.sql
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_event.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

add dbt config and cmd
  dags/extract/waterfall_report_driveload.py
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_billing_waterfall_report.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_billing_waterfall_report_with_additional_columns.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_rc_rollforward_report.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_revenue_waterfall_report.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_unbill_rollforward_report.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_unreleased_pob_report.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_waterfall_report_with_wf_type_adjustments.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_waterfall_report_with_wf_type_net_revenue_with_mje_flag_y.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_waterfall_report_with_wf_type_unbilled_revenue.sql
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Add MNPI exceptions
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_event.sql
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_event.sql
Due: none

add missing column ref in CTE
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
Due: none

Correcting ref
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_event.sql
Due: none

fix max date
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Revert back table keys.
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

protected_branch added.
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_keys_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_protected_branches_dedupe_source.sql
Due: none

dbt models added.
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_keys_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_protected_branches_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Adding permission.
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

Revert roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test

change to is_archived for boolean
  transform/snowflake-dbt/models/sources/kantata/kantata_project_budget_source.sql
Due: none
