Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

test customers and ops
  dags/extract/gitlab_saas_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

test customers and ops
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_customers_scd_db_manifest.yaml
Due: none

Update file Team: Data Onboarding.md
  .gitlab/issue_templates/Team: Data Onboarding.md
Due: none

test customers and ops
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_scd_db_manifest.yaml
Due: none

add task_instance_key_str to new q
  dags/extract/clari_extract_quarterly.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file el_saas_gitlab_com_ci_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_ci_db_manifest.yaml
Due: none

Update file rpt_product_usage_health_score.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_product_usage_health_score.sql
Due: none

correct path
  dags/extract/gitlab_saas_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

restore-vbertil-tableau
  extract/tableau_con_man_config/src/specification.yaml
Due: none

add missing secrets
  dags/extract/gitlab_saas_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

restore-sbitters-tableau-access
  extract/tableau_con_man_config/src/specification.yaml
Due: none

test saas_pgp_test
  extract/extract-ci.yml
Due: none

Add pipe gen target
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_targets_actuals_7th_day_weekly_snapshot.sql
Due: none

restored role
  extract/tableau_con_man_config/src/specification.yaml
Due: none

create project_ci_cd_settings snapshot
  transform/snowflake-dbt/models/legacy/snapshots/base/gitlab_dotcom_project_ci_cd_settings_snapshots_base.sql
  transform/snowflake-dbt/snapshots/gitlab_dotcom/gitlab_dotcom_project_ci_cd_settings_snapshots.sql
Due: none

Remove montecarlo upload while debugging.
  dags/transformation/dbt_gdpr_delete.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add created_at field
  transform/snowflake-dbt/models/sources/pto/gitlab_pto_source.sql
Due: none

remove recursive cte
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/staging/gitlab_dotcom_namespace_lineage.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/staging/gitlab_dotcom_namespace_lineage_prep.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/staging/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_namespaces_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespaces_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_source_docs.md
Due: none

coalesce delivery type from dim_installation_id and delivery type sent in context and lint file
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
Due: none

add snapshot to sources.yml, add docs and test
  transform/snowflake-dbt/models/legacy/snapshots/base/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
Due: none

add pto_created_at documentation
  transform/snowflake-dbt/models/sources/pto/pto.md
Due: none

Add pto_created_at description
  transform/snowflake-dbt/models/sources/pto/schema.yml
Due: none

correction to pto_created_at description
  transform/snowflake-dbt/models/sources/pto/pto.md
Due: none

add created_at description to prod
  transform/snowflake-dbt/models/legacy/pto/schema.yml
Due: none

drop product_delivery_type from mart_behavior_structured_event_code_suggestions
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event_code_suggestion.sql
Due: none

update docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/schema.yml
Due: none

add missing comma
  transform/snowflake-dbt/models/legacy/snapshots/base/gitlab_dotcom_project_ci_cd_settings_snapshots_base.sql
Due: none

add user rally
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove inner join to current job_profiles
  transform/snowflake-dbt/models/sources/workday/job_profiles_snapshots_source.sql
Due: none

change to ref instead of source
  transform/snowflake-dbt/models/legacy/snapshots/base/gitlab_dotcom_project_ci_cd_settings_snapshots_base.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
Due: none

test saas_pgp_test
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/load_functions.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/main.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

test saas_pgp_test
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add missing variable
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add missing variable
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

add triage project to internal
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
Due: none
