Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update 13 files
  dags/transformation/dbt.py
  dags/transformation/dbt_datasiren.py
  dags/transformation/dbt_edm_snapshot.py
  dags/transformation/dbt_event_backfill.py
  dags/transformation/dbt_full_refresh.py
  dags/transformation/dbt_full_refresh_weekly.py
  dags/transformation/dbt_netsuite_actuals_income_cogs_opex.py
  dags/transformation/dbt_snapshot.py
  dags/transformation/dbt_snowplow_backfill.py
  dags/transformation/dbt_snowplow_backfill_specific_model.py
  dags/transformation/dbt_snowplow_full_refresh.py
  dags/transformation/dbt_source_freshness.py
  dags/transformation/dbt_trusted_data.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

ADd superior_id_group
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

removed trailing space
  dags/general/gitlab_com_deduplication.py
  extract/gitlab_deduplication/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update date field
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Remove installs to libraries that already exist in the analyst image
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
Due: none

Remove location column, as it does not exist anymore in the source db
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_db_manifest.yaml
Due: none

Update column name
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_delta_arr_subscription_lineage_product_monthly.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

removed trailing space
  dags/general/gitlab_com_deduplication.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add test paths via loop
  extract/test/__init__.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

linting
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Set it to NULL
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_db_manifest.yaml
Due: none

filter out null comp values
  transform/snowflake-dbt/models/sources/bamboohr/bamboohr_compensation_source.sql
Due: none

make_request() - use kwargs
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

filter specific team member
  transform/snowflake-dbt/models/sources/bamboohr/bamboohr_compensation_source.sql
Due: none

pylint
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
  extract/test/__init__.py
  extract/test/test_level_up_thought_industries_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  extract/level_up_thought_industries/src/thought_industries_api.py
  extract/level_up_thought_industries/src/thought_industries_api_helpers.py
  extract/test/__init__.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

updated adjustment to consider ALL segment as Large in temporary solution
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

removed same column which is being called twice
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

add all SCD table
  extract/gitlab_deduplication/manifest_deduplication/t_gitlab_com_deduplication_table_manifest.yaml
Due: none

modified concurrency
  dags/general/gitlab_com_deduplication.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

move and rename files
  transform/snowflake-dbt/models/common_mart/exposures.yml
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_mart_product/schema.yml
Due: none

move and rename files
  transform/snowflake-dbt/models/common_mart/exposures.yml
Due: none

schema correction
  transform/snowflake-dbt/models/common_mart/schema.yml
Due: none

modified file path a for gitlab-ops-db
  extract/extract-ci.yml
Due: none

modified user table
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_ops_db_manifest.yaml
Due: none

Remove permissions to the prod.restricted_safe_legacy for the data science sensitive role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove reference to sheetload_procurement_cost_savings_source
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
Due: none

remove reference to deleted model
  transform/snowflake-dbt/models/legacy/sheetload/schema.yml
Due: none

remove reference to customers_db_license_versions_pii from schema
  transform/snowflake-dbt/models/sources/customers/sensitive/schema.yml
Due: none

Update analyst image version.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update analyst image path.
  Makefile
Due: none

Remove only redMasterStats from the engineering extracts
  extract/engineering/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix black formatting issues
  analyze/generate_periscope_chart_embed_code.py
  dags/airflow_utils.py
  dags/extract/external_gcp_billing.py
  dags/extract/gitlab_dbs_extract_load.py
  dags/extract/gitlab_dbs_tdf_extract_load.py
  dags/extract/sheetload.py
  dags/general/dbt_backups.py
  dags/general/pumps.py
  extract/bamboohr/src/execute.py
  extract/discourse/src/api.py
  extract/discourse/src/execute.py
  extract/engineering/execute.py
  extract/gcs_external/src/gcp_billing/gcs_external.py
  extract/gitlab_api_mrs/src/execute.py
  extract/gitlab_data_yaml/upload.py
  extract/gitlab_feature_flags_yaml/upload.py
  extract/graphite/extract_graphite.py
  extract/mailgun/src/execute.py
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
  extract/qualtrics/src/execute.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/sheetload/google_drive_client.py
  extract/sheetload/sheetload.py
  extract/snowflake/user_role_grants.py
  extract/test/test_utils.py
  extract/zuora_revenue/load_zuora_revenue.py
  extract/zuora_revenue_report/load_zuora_revenue_report.py
  extract/zuora_revenue_report/src/api.py
  load/miscellaneous/manual_json/upload.py
  orchestration/clone_dbt_models_select.py
  orchestration/events_sample.py
  orchestration/fivetran_table_drop.py
  orchestration/manage_snowflake.py
  orchestration/test/test_reduce_file_size.py
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221028_Rigerta.ipynb
  transform/generate_dbt_schema.py
  transform/sisense_check.py
  transform/snowflake-dbt/safe_model_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Remove developmentTeamMembers stream
  extract/engineering/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add extra prints
  extract/engineering/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black fixes
  extract/engineering/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Radovan added some linters suggestion and dummy function.
  extract/gitlab_deduplication/main.py
  extract/test/__init__.py
  extract/test/test_gitlab_deduplication.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct full refresh logic
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
Due: none

code clean up and documentation
  transform/snowflake-dbt/macros/utils/macros.md
  transform/snowflake-dbt/macros/utils/macros.yml
  transform/snowflake-dbt/macros/utils/orphaned_db_table_check.sql
Due: none

update audit fields
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_namespace_daily.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_user_daily.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_event_valid.sql
  transform/snowflake-dbt/models/common_mart/mart_event_valid.sql
Due: none
