Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

update audit macro
  transform/snowflake-dbt/models/common_prep/prep_alliance_type_scd.sql
Due: none

Sensitive data added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/email_logs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
Due: none

Unique tests added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
Due: none

Tests added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
Due: none

change duplicate removal step to qualify
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Updating month syntax
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

test
  poetry.lock
  transform/snowflake-dbt/poetry.lock
Due: pages

Add table work_item_types.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Add new model GITLAB_DOTCOM_WORK_ITEM_TYPES_DEDUPE_SOURCE
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_work_item_types_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: none

Updating documentation
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Add docs
  poetry.lock
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Remove poetry update
  poetry.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common/dimensions_shared/dim_order_namespace_trial_latest.sql
Due: none

added unique test
  transform/snowflake-dbt/models/common/schema.yml
Due: none

poetry.lock from master
  poetry.lock
  transform/snowflake-dbt/poetry.lock
Due: pages

schema and documentation added.
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gainsight_customer_success.md
Due: none

Models added generically.
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_account_scorecard_history.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_activity_attendee.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_activity_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_activity_timeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_advanced_outreach_cta.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_advanced_outreach_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_advanced_outreach_participants.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_call_to_action.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_companies_and_ebrs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_company_person.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_cs_task.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_csat_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_ctas_healthscores.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_email_logs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_nps_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_opt_out_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_success_plan.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_user_sfdcgitlabproduction.sql
Due: none

Models added generically.
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_account_scorecard_history.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_attendee.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_timeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_cta.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participants.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_call_to_action.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_and_ebrs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company_person.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_cs_task.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_csat_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ctas_healthscores.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_email_logs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_nps_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_opt_out_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_success_plan.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_user_sfdcgitlabproduction.sql
Due: none

Setup model.
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_account_scorecard_history.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_attendee.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_timeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_cta.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participants.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_call_to_action.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_and_ebrs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company_person.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_cs_task.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_csat_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ctas_healthscores.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_email_logs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_nps_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_opt_out_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_success_plan.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_user_sfdcgitlabproduction.sql
  transform/snowflake-dbt/poetry.lock
Due: pages

Poetry.lock updated.
  transform/snowflake-dbt/poetry.lock
Due: pages

fix service name
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

PII models added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/activity_timeline_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/advanced_outreach_emails_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/advanced_outreach_participants_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/companies_and_ebrs_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/companies_with_success_plan_details_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/email_logs_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/nps_survey_response_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/opt_out_emails_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/schema.yml
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/user_sfdcgitlabproduction_pii.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_attendee.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_timeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_cta.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participants.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_call_to_action.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_and_ebrs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company_person.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_cs_task.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_csat_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ctas_healthscores.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_email_logs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_nps_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_opt_out_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_success_plan.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_user_sfdcgitlabproduction.sql
Due: none

PII schema.yml added with details.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/schema.yml
Due: none

Remove tests from schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/schema.yml
Due: none

poetry.lock from master
  transform/snowflake-dbt/poetry.lock
Due: pages

Tags added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/activity_timeline_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/advanced_outreach_emails_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/advanced_outreach_participants_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/companies_and_ebrs_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/companies_with_success_plan_details_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/email_logs_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/nps_survey_response_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/opt_out_emails_pii.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sensitive/user_sfdcgitlabproduction_pii.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_account_scorecard_history.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_attendee.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_activity_timeline.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_cta.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_advanced_outreach_participants.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_call_to_action.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_comments.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_and_ebrs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_company_person.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_cs_task.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_csat_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_ctas_healthscores.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_email_logs.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_nps_survey_response.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_opt_out_emails.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_success_plan.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_gainsight_customer_success/wk_gs_user_sfdcgitlabproduction.sql
Due: none

update account_codes to match Watson list
  extract/adaptive/src/adaptive.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Renamed key columns
  transform/snowflake-dbt/models/common/dimensions_shared/dim_order_namespace_trial_latest.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Renamed model and sk
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_shared/dim_namespace_trial_latest.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

add readme
  extract/adaptive/README.md
Due: none

use fire
  dags/extract/adaptive_extract.py
  extract/adaptive/src/adaptive.py
  extract/test/test_adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

loader role
  extract/adaptive/README.md
Due: none

wrong test folder name
  extract/adaptive/src/adaptive.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Renamed Key
  transform/snowflake-dbt/models/common/dimensions_shared/dim_namespace_trial_latest.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

comment out unused versions
  extract/adaptive/src/adaptive.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

crate static union
  transform/snowflake-dbt/models/sources/container_registry/container_registry_download_logs_raw.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
