Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Switch to proper tag.
  .gitlab-ci.yml
  dags/airflow_utils.py
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

add sirt security projects
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds sales_analytics_read to ofalkenhof
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds salesforce to jokal
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Updating Group BY
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

use format instead of replace
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix types
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

repeat code to additional pgp
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/load_functions.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

additional security projects
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
Due: none

fix comma in prep_merge_request
  transform/snowflake-dbt/models/common_prep/prep_merge_request.sql
Due: none

Revert "Merge branch 'dbt_1_6_upgrade' into 'master'"
  .gitlab-ci.yml
  dags/airflow_utils.py
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/analysis/data_team/dbt_upgrade_tests.sql
  transform/snowflake-dbt/docs-packages.yml
  transform/snowflake-dbt/models/common_prep/month_partition/dotcom_usage_events/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/packages.yml
  transform/snowflake-dbt/poetry.lock
  transform/snowflake-dbt/pyproject.toml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Revert "Merge branch 'revert-3ce05095' into 'master'"
  .gitlab-ci.yml
  dags/airflow_utils.py
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/analysis/data_team/dbt_upgrade_tests.sql
  transform/snowflake-dbt/docs-packages.yml
  transform/snowflake-dbt/models/common_prep/month_partition/dotcom_usage_events/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/packages.yml
  transform/snowflake-dbt/poetry.lock
  transform/snowflake-dbt/pyproject.toml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Removed unused marketing models
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns_revised.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_rpt_lead_to_revenue_revised2.sql
Due: none

Add Tableau logic to restricted workspace people
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/bamboohr/bamboohr_directory_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/wk_department.sql
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/wk_employees.sql
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/wk_job_history.sql
Due: ðŸ“yaml_validation, pages

Add docs
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/schema.yml
Due: none

add missing columns from merge_requests_xf to prep_mr
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_merge_request.sql
  transform/snowflake-dbt/models/common_prep/prep_merge_request.sql
  transform/snowflake-dbt/models/common_prep/prep_resource_label.sql
  transform/snowflake-dbt/models/common_prep/prep_resource_milestone.sql
  transform/snowflake-dbt/models/legacy/engineering/db_structure_merge_requests.sql
  transform/snowflake-dbt/models/legacy/handbook/xf/category_handbook_merge_requests.sql
  transform/snowflake-dbt/models/legacy/marketing_site/xf/category_marketing_site_merge_requests.sql
Due: none

Fix spacing
  transform/snowflake-dbt/models/sources/bamboohr/bamboohr_directory_source.sql
Due: none

Fix spacing
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/wk_employees.sql
Due: none

Fix spacing and format
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/wk_employees.sql
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted_safe/wk_job_history.sql
Due: none

updating docs site index file
  transform/snowflake-dbt/docs/index.html
Due: none

Revert artifact update.
  transform/snowflake-dbt/docs-packages.yml
Due: pages

adds cdewit
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds vmairet
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Revert more package versions.
  transform/snowflake-dbt/docs-packages.yml
  transform/snowflake-dbt/packages.yml
Due: pages

Try later python version.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove models
  transform/snowflake-dbt/models/legacy/version/intermediate/version_version_checks.sql
  transform/snowflake-dbt/models/sources/version/version_version_checks_source.sql
Due: none

remove references to version_checks
  load/miscellaneous/version_and_license_db/do_create_tables.sh
  transform/snowflake-dbt/models/legacy/version/intermediate/schema.yml
  transform/snowflake-dbt/models/sources/version/schema.yml
  transform/snowflake-dbt/models/sources/version/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/versiondb_tables_date.sql
Due: none

remove subscription_sales_type logic from CASE statement
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
Due: none

Try snowplow 15 1
  transform/snowflake-dbt/packages.yml
Due: pages

Change name
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update name
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update tags and name
  transform/snowflake-dbt/dbt_project.yml
Due: pages

Update names
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/dbt_project.yml
Due: ðŸ“yaml_validation, pages

Update folder
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_department.sql
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_employees.sql
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_job_history.sql
Due: pages

Update 2 files
  transform/snowflake-dbt/docs-packages.yml
  transform/snowflake-dbt/packages.yml
Due: pages

Revert python version change.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Move logic to prep layers
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_person.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical_opp.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical_person.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
