Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

PII query to debug
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file snowflake_users.yml
  permissions/snowflake/snowflake_users.yml
Due: none

pushed from job
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

PII query to debug
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixing NULLs
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix PII query upload.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Delete implemented.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

DELETE statement check.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Check load with sysadmin role.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixing metadata.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Provision 3 users
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Update MNPI metadata.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update MNPI metadata -format query.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Make table name and alias dynamic.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Try to fix MERGE error.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fixed MERGE error.
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

modify files
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: none

delete files
  transform/snowflake-dbt/models/sources/e2e_metrics/all_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: none

Update file all_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/all_test_stats_source.sql
Due: none

add models
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_e2e_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/test_stats_e2e_source.sql
Due: none

add column definitions
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_e2e_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/test_stats_e2e_source.sql
Due: none

add column
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
Due: pages

add files
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: none

add prod models
  transform/snowflake-dbt/models/workspaces/workspace_engineering/fabrication_stats_e2e_metrics.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/main_test_stats_e2e_metrics.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/test_stats_e2e_metrics.sql
Due: none

add column
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: pages

modify files
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

fix data_tests
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
Due: none

rebase
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: none

rename column
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_e2e_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/test_stats_e2e_source.sql
Due: none

remove tests
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
