Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

adds bizible role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds bizible role to rkonkhe
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Better prepare-dbt
  Makefile
Due: none

Add working poetry versions.
  Makefile
Due: none

updates hightouch role and assign to mconteanu
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Remove all references to golden record checks.
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
  transform/snowflake-dbt/macros/tests/golden_records/model_golden_data_comparison.sql
  transform/snowflake-dbt/macros/tests/golden_records/source_golden_data_comparison.sql
  transform/snowflake-dbt/macros/tests/macros.yml
Due: none

array to string for epic labels
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

Remove seed.
  transform/snowflake-dbt/dbt_project.yml
Due: pages

test vars and args
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

add missing product fields to future and combined models
  transform/snowflake-dbt/macros/reports/sales/rpt_retention.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_future_parent_account.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_parent_account_combined.sql
  transform/snowflake-dbt/~/.dbt/.user.yml
  transform/snowflake-dbt/~/.dbt/profiles.yml
Due: none

add two cols to dim_merge_request
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_merge_request.sql
Due: none

test filtering
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

fix array
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_retention_future_parent_account.sql
Due: none

Updaed tags
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

remove dbt files
  transform/snowflake-dbt/~/.dbt/.user.yml
  transform/snowflake-dbt/~/.dbt/profiles.yml
Due: none

restructure
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

temp-change-for-test
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update clone
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Deleting lines instead of commenting
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_leading_indicators_actuals_and_targets.sql
Due: none

add column, update docs, change filter
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_behavior_code_suggestion_outcome.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_ide_extension_version.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow.md
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

revert after test
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix event_to_exclude flag
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

Update file wk_gitlab_dotcom_package_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_package_events.sql
Due: none

Move role grant to the correct spot.
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove sirt projects
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
