Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

modify files
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Updating formatting
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_subscription_renewal_linking.sql
Due: none

Updating schema
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: none

automate dropping stale dev tables
  orchestration/drop_snowflake_objects.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix refs
  orchestration/drop_snowflake_objects.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix DAG ref
  dags/general/snowflake_cleanup.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix pydata struct
  orchestration/drop_snowflake_objects.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

commit to mr
  orchestration/drop_snowflake_objects.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove os import
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

test-safe-failure
  transform/snowflake-dbt/models/common/bridge/bdg_issue_user_request.sql
Due: none

revert-fail-check
  transform/snowflake-dbt/models/common/bridge/bdg_issue_user_request.sql
Due: none

add docstrings and open file encoding
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

update model_names to not call from outer scope
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

reformat using python black
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

add module docstring
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

add type hints
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

add note on file
  transform/snowflake-dbt/dbt_dependency_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Date filtering condition correction
  transform/snowflake-dbt/models/common/facts_general_and_administrative/fct_team_member_absence.sql
  transform/snowflake-dbt/models/common_mart_people/mart_team_member_absence.sql
Due: none

add models
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_e2e_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/test_stats_e2e_source.sql
Due: none

revert changes
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Provision 2 users
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Apply review suggestion
  extract/gitlab_saas_postgres_pipeline/manifests/el_gitlab_dotcom_db_manifest.yaml
Due: none

remove repetitive logic
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_merge_requests_enhanced.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time_base.sql
Due: none

DSO and CSO report
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/reports.md
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_dso_cei_monthly.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/schema.yml
Due: none

Updating the code
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_dso_cei_monthly.sql
Due: none

test changes
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

DAG introduced
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
  extract/saas_usage_ping/instance_namespace_metrics.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix mypy
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix pytest
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Added column job_title and last_organization to the member_source model.
  transform/snowflake-dbt/models/sources/commonroom/commonroom.md
  transform/snowflake-dbt/models/sources/commonroom/commonroom_community_members_source.sql
  transform/snowflake-dbt/models/sources/commonroom/schema.yml
  transform/snowflake-dbt/models/sources/commonroom/sources.yml
Due: none

add docs
  transform/snowflake-dbt/models/common/sensitive/schema.yml
Due: none

Added is gitlab admin
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none
