Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Add contact_role to dim_marketing_contact
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
Due: none

revert dim_date
  transform/snowflake-dbt/models/common/dimensions_shared/dim_date.sql
Due: none

DAG introduced
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix pytest
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black format
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

edit param from test
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Testing added.
  extract/data_classification/data_classification_utils.py
  extract/test/__init__.py
  extract/test/test_data_classification.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

edit dag param
  dags/extract/gitlab_saas_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Adding Lucie Zhao as a snowflake user
  permissions/snowflake/snowflake_users.yml
Due: none

black
  orchestration/drop_snowflake_objects.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove snowflake_provisioner
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

fix pytests
  extract/gitlab_saas_postgres_pipeline/test/test_saas_backfill_metadata_conditions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating metric
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_dso_cei_monthly.sql
Due: none

fix pytests
  orchestration/tableau_dependency_query/test/test_tableau_query.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updating the definition
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/reports.md
Due: none

Update file wk_unify_ai_reporting.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

12m to 24m
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

add file
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_gitlab_registered_users.sql
Due: none

Rebase commit for pipelines
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

remove jbare
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Fix client aliasing on self-join
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

prep alias from e
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Fix PING_CREATED_AT ref
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Bring back macro definition
  transform/snowflake-dbt/macros/utils/dbt_audit.sql
Due: none

Add end macro
  transform/snowflake-dbt/macros/utils/dbt_audit.sql
Due: none

Test cases added. Json files added for testing.
  dags/extract/data_classification.py
  extract/data_classification/safe_models.json
  extract/test/test_data_classification.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Test uploading data.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add column definitions
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_e2e_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/test_stats_e2e_source.sql
Due: none

Test uploading data.
  dags/extract/data_classification.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Test uploading data.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update schema.yml file
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

add prod models
  transform/snowflake-dbt/models/workspaces/workspace_engineering/fabrication_stats_e2e_metrics.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/main_test_stats_e2e_metrics.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/test_stats_e2e_metrics.sql
Due: none

Test uploading data.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove database name from uploading.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove database name from uploading.
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix data_tests
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
Due: none

Fixing NULLs
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
