Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update naming of field
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
Due: none

Add Contact Role to mart_crm_person+
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/mart_crm_person.sql
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_lead_to_revenue.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Debug safe model script
  transform/snowflake-dbt/safe_models.json
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Updating formatting and undoing select star
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Reducing duplicate rows
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Adding final distinct back in
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Adding user id
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

move the join to employee_id
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Moving to restricted_safe folder
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Adding missing fields
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Limiting snapshot date
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Correcting typo
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Update unqiueness test in schema
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

Updating schema and md file
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep.md
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

Add audit section
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Minor update to final CTE
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

move uniqueness test to model level
  transform/snowflake-dbt/models/common_prep/restricted_safe/schema.yml
Due: none

add latest e number to ensure it's not null
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Create prep_sales_dev_user_hierarchy
  transform/snowflake-dbt/models/common_prep/prep_sales_dev_user_hierarchy.sql
Due: none

fix formatting
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_sales_dev_user_hierarchy.sql
Due: none

Fixed safe_models_check
  transform/snowflake-dbt/safe_model_check.py
  transform/snowflake-dbt/safe_models.json
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Fix black
  orchestration/tableau_dependency_query/src/tableau_query.py
  transform/snowflake-dbt/safe_model_check.py
  transform/snowflake-dbt/safe_models.json
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

add files
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: none

Fix black
  orchestration/tableau_dependency_query/src/tableau_query.py
  transform/snowflake-dbt/safe_models.json
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Update file CODEOWNERS
  CODEOWNERS
Due: none

Update file map_bizible_campaign_grouping.sql
  transform/snowflake-dbt/models/common_mapping/map_bizible_campaign_grouping.sql
Due: none

Update map_bizible_campaign_grouping.sql
  transform/snowflake-dbt/models/common_mapping/map_bizible_campaign_grouping.sql
Due: none

add two timestamps as columns in enhanced model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_merge_requests_enhanced.sql
Due: none

add column
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/fabrication_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: pages

Updating TP Info joins in prep person
  transform/snowflake-dbt/models/common_prep/prep_bizible_touchpoint_information.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

add column
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
Due: pages

revert test
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

fix model to warehouse
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/staging/gitlab_dotcom_namespace_lineage_scd.sql
Due: none

Removing simple CTEs
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_subscription_renewal_linking.sql
Due: none

delete files
  transform/snowflake-dbt/models/sources/e2e_metrics/all_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/main_test_stats_source.sql
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: none

add docs
  transform/snowflake-dbt/Makefile
Due: pages

Add is_deleted and is_deleted_updated_at
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ci_pipeline.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_issue.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_merge_request.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_note.sql
  transform/snowflake-dbt/models/common/dimensions_shared/dim_namespace.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
  transform/snowflake-dbt/models/common_prep/prep_ci_pipeline.sql
  transform/snowflake-dbt/models/common_prep/prep_issue.sql
  transform/snowflake-dbt/models/common_prep/prep_merge_request.sql
  transform/snowflake-dbt/models/common_prep/prep_namespace.sql
  transform/snowflake-dbt/models/common_prep/prep_note.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_ci_pipelines_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_ci_pipelines_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_issues_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_merge_requests_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespaces_source.sql
Due: none

Linting
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/reports/rpt_subscription_renewal_linking.sql
Due: none

modify files
  transform/snowflake-dbt/models/sources/e2e_metrics/schema.yml
  transform/snowflake-dbt/models/sources/e2e_metrics/sources.yml
Due: none
