Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update file wk_gitlab_dotcom_monthly_ci_compute_minutes.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_monthly_ci_compute_minutes.sql
Due: none

updated groupby to 9
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_monthly_ci_compute_minutes.sql
Due: none

adds jrubi
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove incremental logic
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_monthly_ci_compute_minutes.sql
Due: none

Tested models. Passed.
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_service_desk_settings_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/scd/gitlab_dotcom_service_desk_settings_dedupe_source.sql
Due: none

Add user details.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

Remove missing tag from valid tags in seeds
  transform/snowflake-dbt/data/valid_tags.csv
Due: none

adds rakreddy
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

added truncate
  extract/zuora_query_api/src/main.py
  transform/snowflake-dbt/models/sources/zuora_query_api/schema.yml
  transform/snowflake-dbt/models/sources/zuora_query_api/sources.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added truncate logging
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added truncate logging if exisit
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add issue_type to models
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/issues_history.sql
Due: none

Remove Marketo Token From TP URL
  transform/snowflake-dbt/models/workspaces/workspace_marketing/marketo_form_fills_missing_touchpoints.sql
Due: none

optimize model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time.sql
Due: none

add number_of_seats to model
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/schema.yml
Due: none

added virtual hierarchy
  .Makefile.swp
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_bob_virtual_hierarchy.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

lint
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time.sql
Due: none

added alias
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_bob_virtual_hierarchy.sql
Due: none

update col name
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time.sql
Due: none

fixed user geo
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_bob_virtual_hierarchy.sql
Due: none

Update file prep_ptp_scores_by_user_historical.sql
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user_historical.sql
Due: none

remove null valid_to dates
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user_historical.sql
Due: none

move aggregation to earler CTE
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

fix group by error
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

added truncate logging if exisit
  transform/snowflake-dbt/models/sources/zuora_query_api/schema.yml
  transform/snowflake-dbt/models/sources/zuora_query_api/sources.yml
Due: none

add author team member info
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time.sql
Due: none

remove case statement
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

sum correct field
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none
