Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Create wk_talent_acquisition_application
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_talent_acquisition_application.sql
Due: none

Linted wk_talent_acquisition_application
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_talent_acquisition_application.sql
Due: none

WIP fix design
  transform/snowflake-dbt/macros/sfdc/date_spine_7th_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Update file specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

deprov gkapuria
  extract/tableau_con_man_config/src/specification.yml
Due: none

deprov rgulin
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update file Platform: Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
Due: none

add sfigueroa
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add dstull
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add jhalloran
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add gdoud
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add pcordero
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add kniechajewicz
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add snowflake_analyst to srehm
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

remove reviewer array
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_merge_requests_enhanced.sql
Due: none

Refactor Snowplow Experiment Workspace Models
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_gitlab_events_experiment_contexts_all.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/snowplow/combined/all/snowplow_gitlab_events_experiment_contexts_all.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_experiment_event_entity_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow_unnested_events_all_staging.sql
Due: none

fix join statement
  transform/snowflake-dbt/models/workspaces/workspace_engineering/team_member_history.sql
Due: none

generate geo hierarchy keys using opp owner details
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_fct_crm_opportunity.sql
Due: none

move key generation out of case statement
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_fct_crm_opportunity.sql
Due: none

Create wk_talent_acquisition_candidate
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_talent_acquisition_candidate.sql
Due: none

Formatted
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_talent_acquisition_application.sql
  transform/snowflake-dbt/models/workspaces/workspace_people/restricted/wk_talent_acquisition_candidate.sql
Due: none

cast is_streaming as boolean
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
Due: none

for permifrost_spec_test job, change to run on_success
  .gitlab-ci.yml
Due: none

Fix facts and add macro
  transform/snowflake-dbt/macros/sfdc/date_spine_7th_day.sql
  transform/snowflake-dbt/macros/sfdc/macros.md
  transform/snowflake-dbt/macros/sfdc/macros.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_5th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

remove duplicate columns in docs
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

Fix current date
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

Fix date
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

Fix flags and multi grain table
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_targets_actuals_multi_grain.sql
Due: none

Switch to Tableau image, add new testing DAG.
  dags/airflow_utils.py
  dags/general/tableau_user_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

cersoz and btsang
  extract/tableau_con_man_config/src/specification.yml
Due: none

Adding wk_mart_public_sector_ar_monthly
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_public_sector_ar_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Add wk_mart_invoices_in_preview_monthly
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_invoices_in_preview_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Removing pending invoices
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_mart_invoices_in_preview_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none
