Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Bump DBT_IMAGE version.
  dags/airflow_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

- Incremental days as a parameter - Calling procedure working fine.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Delete safe_models.json file (testing).
  extract/data_classification/safe_models.json
  safe_models.json
Due: none

Testing end to end - dbt + extraction.
  .gitignore
  dags/extract/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Improve command.
  dags/extract/data_classification.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Improve command.
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Improve command.
  extract/data_classification/data_classification_utils.py
  extract/data_classification/extract.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Revert dbt_image to 0.0.6
  dags/airflow_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test log
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test log
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

Test log
  .gitignore
  dags/extract/data_classification.py
  extract/data_classification/data_classification_utils.py
  transform/snowflake-dbt/safe_models.json
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

Test
  extract/data_classification/data_classification_utils.py
  transform/snowflake-dbt/safe_models.json
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, pages

formatting
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

Rename fields to match all models
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_targets_actuals_7th_day_weekly_snapshot.sql
Due: none

Update fct_targets_actuals_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_targets_actuals_7th_day_weekly_snapshot.sql
Due: none

Add fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
Due: none

use opp source close date
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

resolve confict
  transform/snowflake-dbt/models/common_mart_sales/reports/rpt_targets_actuals_multi_grain.sql
Due: none

remove deprecated fields
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
Due: none

remove commented fields
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Undo changes to aggregate lineage
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

Fix dot
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

remove deprecated fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_sales_dev_activity.sql
Due: none

add report fields to dim and mart opportunity tables
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

fix group by error
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
Due: none

remove deprecated fields
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_marketing_influenced_pipeline.sql
Due: none

Fix spaces
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot_aggregate.sql
Due: none

formatting
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

resolve conflicts
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
Due: none

remove invalid hierarchy fields
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
Due: none

resolve conflicts
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

Undo changes
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_7th_day_weekly_snapshot.sql
Due: none

Update file prep_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

remove deprecated fields
  transform/snowflake-dbt/models/marts/arr/mart_discount_arr.sql
Due: none

remove deleted fields
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
Due: none
