Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Remove AND is_stage_1_plus = 1 for deal count
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

Remove stage filter
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

Update cycle time in days
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

Remove space
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

hrowe kgalbraith
  extract/tableau_con_man_config/src/specification.yml
Due: none

update selection CTE in code suggestions model
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
Due: none

Updated code for new values
  transform/snowflake-dbt/models/common_mapping/map_product_tier.sql
  transform/snowflake-dbt/models/sources/zuora_central_sandbox/zuora_central_sandbox_product_rate_plan_source.sql
  transform/snowflake-dbt/models/sources/zuora_central_sandbox/zuora_central_sandbox_product_source.sql
Due: none

Add mdf_request_id
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_campaign.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_campaign.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/sources/sfdc/sfdc_campaign_source.sql
Due: none

Updated code
  transform/snowflake-dbt/models/common_mapping/map_product_tier.sql
Due: none

added channel as new geo value into entitlement table
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

removed channel from targe_geos
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

Update name
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

Move is_booked_net_arr
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

add jhackamack
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Added missing logic for dim_crm_person_id in prep table
  transform/snowflake-dbt/models/common_prep/prep_marketo_person.sql
Due: none

add smaeda
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds pskorupa
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

Remove dropped MC objcts
  transform/snowflake-dbt/models/sources/observability/monitor_recom_dimension_tracking_source.sql
  transform/snowflake-dbt/models/sources/observability/rca_query_change_source.sql
  transform/snowflake-dbt/models/sources/observability/schema.yml
  transform/snowflake-dbt/models/sources/observability/sources.yml
  transform/snowflake-dbt/models/sources/observability/table_read_write_stats_source.sql
  transform/snowflake-dbt/models/sources/observability/top_queries_per_executor_source.sql
Due: none

simplified by adding CHANNEL into Target Geos
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

merge master change to new model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_merge_requests_enhanced.sql
Due: none

added new cte for channel_sfdc_users
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

removed space
  transform/snowflake-dbt/models/entitlement/ent_sfdc_geo.sql
Due: none

Update is_net_arr_pipeline_created_combined flag to match SFDC definition
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

Update is_net_arr_pipeline_created_combined
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
Due: none

update to sync cols on schema change
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_context_flattened.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_unnested_events.sql
Due: none

copy gcs external dirs
  dags/extract/google_analytics_four.py
  dags/kube_secrets.py
  extract/gcs_external/src/google_analytics_four/gcs_external.py
  extract/gcs_external/src/google_analytics_four/gcs_external.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

comments where params needed
  extract/gcs_external/src/gcp_billing/gcs_external.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update snowplow sample logic to pull daily from most recently upload
  dags/general/snowplow_sample.py
  orchestration/events_sample.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Revert "Merge branch..."
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_redis_hll_counters.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/common_mart.md
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/snowplow/combined/30_day/snowplow_gitlab_events_30.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/30_day/snowplow_unnested_events_30.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/90_day/snowplow_unnested_events_90.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/all/snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_structured_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_unstructured_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_web_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/wk_fct_snowplow_events_service_ping.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_experiment_event_entity_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_ide_extension_version.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_service_ping_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow.md
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow_unnested_events_all_staging.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

Added columns
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_fct_available_to_renew.sql
Due: none

add opp sfdc id and campaign manager
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

Remove Opp ID
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_campaign_interactions.sql
Due: none

offboard hmorris
  extract/tableau_con_man_config/src/specification.yml
Due: none

Update file Platform: Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
Due: none

Update specification.yml
  extract/tableau_con_man_config/src/specification.yml
Due: none

update jgarcia
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add tables to hightouch
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation
