Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest, üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test, pages

Path conditions:
  ‚ö´python_black: any of: **/*.py, **/*.ipynb
  ‚úèÔ∏èpython_mypy: any of: **/*.py, **/*.ipynb
  üåΩpython_flake8: any of: **/*.py
  üóíÔ∏èpython_pylint: any of: **/*.py
  ü§îpython_complexity: any of: **/*.py
  ü¶Öpython_vulture: any of: **/*.py
  ‚úÖpython_pytest: any of: **/*.py
  üìÅyaml_validation: any of: permissions/snowflake/roles.yml, permissions/snowflake/snowflake_usernames.yml, extract/tableau_con_man_config/src/*
  üßä‚öôpermifrost_run: any of: permissions/snowflake/roles.yml
  üßäpermifrost_spec_test: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

black
  dags/extract/waterfall_report_driveload.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

tags
  transform/snowflake-dbt/data/valid_tags.csv
Due: none

move mnpi tag for kantata to project level
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/kantata/kantata_project_budget_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_project_details_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_remaining_to_forecast_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_revenue_by_user_source.sql
  transform/snowflake-dbt/models/sources/kantata/kantata_weekly_forecast_source.sql
Due: pages

Add Gong to source bucket macro
  transform/snowflake-dbt/macros/sfdc/sfdc_source_buckets.sql
Due: none

Remove tags
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_pipeline_coverage.sql
Due: none

Remove tags
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_final_bookings.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/driveload_zuora_revenue_waterfall_report_with_wf_type_unbilled_revenue.sql
Due: none

correct build command
  transform/snowflake-dbt/Makefile
Due: pages

clean uyp CI jobs
  transform/snowflake-dbt/models/workspaces/workspace_data/mock/data_type_mock_table.sql
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

Update 3 files
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_5th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Update file specification.yaml
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

insert all new users at the same random position
  orchestration/snowflake_provisioning_automation/update_roles_yaml/roles_struct.py
Due: ‚ö´python_black, ‚úèÔ∏èpython_mypy, üåΩpython_flake8, üóíÔ∏èpython_pylint, ü§îpython_complexity, ü¶Öpython_vulture, ‚úÖpython_pytest

correct empty group list
  extract/tableau_con_man_config/src/specification.yaml
Due: üìÅyaml_validation

Update file wk_unify_ai_reporting.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Fix aliasing
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Fix alias
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Adding event_action to prep
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Fix p event_value alias
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Add missing GROUP BY
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Update field definition
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

add namespace_path for distribution groups issues
  transform/snowflake-dbt/data/internal_gitlab_namespaces.csv
Due: none

Update file pump_smb_daily_case_automation.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_smb_daily_case_automation.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_daily_case_automation_test.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/gds_case_models/wk_sales_gds_forecast_consolidated.sql
Due: none

Update file prep_team_member_position.sql
  transform/snowflake-dbt/models/common_prep/prep_team_member_position.sql
Due: none

clean up comments
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: pages

correct help formatting
  transform/snowflake-dbt/Makefile
  transform/snowflake-dbt/models/workspaces/workspace_data/mock/data_type_mock_table.sql
Due: pages

Update file Platform: Quarterly Data Health and Security Audit.md
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
Due: none

add columns for other trials
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

add array column
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

update instance_id naming to dim_instance_id in all snowplow models
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_behavior_code_suggestion_gateway_request.sql
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_umau_cs.sql
Due: none

Fix plan vs chunk order
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_unify_ai_reporting.sql
Due: none

Update file CODEOWNERS
  CODEOWNERS
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/data/internal_gitlab_namespaces.csv
Due: none

lint
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

remove redundant column
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_namespace_onboarding.sql
Due: none

fix comma
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_5th_calendar_day.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_arr_snapshot_combined_8th_calendar_day.sql
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: üìÅyaml_validation, üßä‚öôpermifrost_run, üßäpermifrost_spec_test
