Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

add back in last_score_date
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user_historical.sql
Due: none

bring flags in to identify valid users
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

syntax
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

cast ultimate_parent_id as numeric
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/staging/gitlab_dotcom_namespace_lineage.sql
Due: none

change updated_date
  transform/snowflake-dbt/models/common_prep/prep_namespace.sql
Due: none

update namespace lineage and namespace source to pull from live data
  transform/snowflake-dbt/models/common_prep/prep_namespace.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/staging/gitlab_dotcom_namespace_lineage.sql
Due: none

bring flags through to base CTE instead
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

remove unit_of_measure
  transform/snowflake-dbt/models/common_mart_finance/restricted_safe/mart_available_to_renew.sql
Due: none

update logic for source_table_name
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove zuora_account_id from customers_db_customers
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_customers_scd_db_manifest.yaml
  transform/snowflake-dbt/models/common_prep/prep_user_trial.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/customers_db_customers_snapshots_base.sql
  transform/snowflake-dbt/models/sources/customers/customers_db_customers_source.sql
  transform/snowflake-dbt/models/sources/customers/schema.yml
Due: none

Updated Code
  transform/snowflake-dbt/models/sources/sheetload/sheetload_devrel_influenced_campaings.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none

Create prep_crm_opportunity table in wk
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_prep_crm_opportunity.sql
Due: none

update logging wording
  extract/gitlab_saas_postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Renamed models
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_devrel_blog_posts_views_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_devrel_influenced_campaings_source.sql
  transform/snowflake-dbt/models/sources/sheetload/sheetload_youtube_views_gitlab_source.sql
Due: none

Updated files
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none

Added files
  extract/sheetload/sheets.yml
Due: none

Updated sheets.yml
  extract/sheetload/sheets.yml
Due: none

removed in_product_marketing_email
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

removed in_product_marketing_email from repo
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_in_product_marketing_emails.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_in_product_marketing_emails_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_in_product_marketing_emails_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/gitlab_dotcom_tables_date.sql
Due: none

create ide extension context monthly partition
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/schema.yml
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_ide_extension_version_context.sql
Due: none

add test 'test_get_source_table_name'
  extract/gitlab_saas_postgres_pipeline/test/test_postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added truncate logging if exisit
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

debug
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added delete logic
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added drop logic
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

show curr session db
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove curr db and black reformat
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds restricted_safe to mxiao
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add sales_targets sheetload
  extract/sheetload/sheets.yml
  transform/snowflake-dbt/models/sources/sheetload/schema.yml
  transform/snowflake-dbt/models/sources/sheetload/sheetload_sales_targets.sql
  transform/snowflake-dbt/models/sources/sheetload/sources.yml
Due: none

fix final logic
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user_historical.sql
Due: none

remove zuora_account_id from table prep_user_trial
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

fix logic
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time.sql
Due: none

new source models
  transform/snowflake-dbt/models/sources/sfdc/sfdc_zoom_webinar_attendee_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_zoom_webinar_history_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_zoom_webinar_registrant_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_zoom_webinar_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sources.yml
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
