Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Added alias names
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_fct_available_to_renew.sql
Due: none

Edited comments
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_fct_available_to_renew.sql
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Revert "Merge branch 'revert-28ea07b3' into 'master'"
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_redis_hll_counters.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_unstructured_event.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/common_mart.md
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
  transform/snowflake-dbt/models/legacy/snowplow/combined/30_day/snowplow_gitlab_events_30.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/30_day/snowplow_unnested_events_30.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/90_day/snowplow_unnested_events_90.sql
  transform/snowflake-dbt/models/legacy/snowplow/combined/all/snowplow_unnested_events_all.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_structured_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_unstructured_events.sql
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_web_page.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/wk_fct_snowplow_events_service_ping.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_experiment_event_entity_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_link_click.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_code_suggestions_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_ide_extension_version.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_service_ping_context.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow.md
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow_unnested_events_all_staging.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/wk_mart_behavior_structured_event_code_suggestion.sql
Due: none

add 2 namespace_id cols back to code suggestion fct
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_ide_extension_version.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/mart_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_behavior_code_suggestion_outcome.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

add 2 namespace_id cols back to gitlab_events
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events.sql
Due: none

make tab TA_Team_Assignment case sensitive
  extract/sheetload/boneyard/sheets.yml
Due: none

revert workspace to ref workspace
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_umau_cs.sql
Due: none

add tier to environments
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_environments_source.sql
Due: none

Add tier to manifest extraction file
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
Due: none

case sensitive
  .gitlab/issue_templates/[New Request] CSV or GSheet Data Upload.md
Due: none

cast tier as number based on documentation
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_environments_source.sql
Due: none

Update file el_saas_gitlab_com_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
Due: none

Update el_saas_gitlab_com_db_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_db_manifest.yaml
Due: none

Remove Craig username from CC section
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

Update Triage: Data Triage.md
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

Adding accounting period
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/wk_rpt_accounting_period_balance_monthly.sql
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

Fixing error
  transform/snowflake-dbt/models/workspaces/workspace_finance/schema.yml
Due: none

fix doumentation duplicacy
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event_service_ping.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

update dbt audit
  transform/snowflake-dbt/models/common_mart_product/mart_snowplow_events_service_ping_metrics.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_event_based_metric_counts_namespace_all_time.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_user_based_metric_counts_namespace_monthly.sql
Due: none

fix dbt audit updated_date
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

add jpereira
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Remove jihu accounts from open pipeline
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Update prep_crm_opportunity.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

bring models into line with common MR
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_user_fields.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_opportunity_fy25.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_user_hierarchy.sql
Due: none

add granular models for cost, usage and umau
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_cost_from_usage_per_feature.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_umau_per_feature.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/ai_vertex_cost.sql
Due: none

Add permissions on test workday schema to Fivetran role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Apply 1 suggestion(s) to 1 file(s)
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add definition for the new field
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common/sensitive/columns_sensitive.md
  transform/snowflake-dbt/models/common_mart_product/reports/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

standardise date filter
  transform/snowflake-dbt/macros/sfdc/sfdc_sandbox_account_fields.sql
Due: none

remove is_hybrid_user from case and add in geo names
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_fct_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/fy25_targets_testing/wk_prep_crm_user_hierarchy.sql
Due: none

New environment variables.
  extract/tableau_con_man_config/src/provision_plan.yaml
Due: none

update to 2XL
  dags/transformation/dbt_snowplow_backfill_fct_behavior_model.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Re-add user variables, revert path.
  dags/general/tableau_user_provisioning.py
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Final path corrections.
  dags/general/tableau_user_provisioning.py
  extract/tableau_con_man_config/src/provision_plan.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

yml to yaml.
  extract/tableau_con_man_config/src/specification.yaml
Due: none

Revert debug lines.
  dags/general/tableau_user_provisioning.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

consolidate yamls for legacy and cells
  Makefile
  dags/extract/gitlab_saas_dbs_extract_load.py
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_dotcom_consolidated_manifest.yaml
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_dotcom_scd_consolidated_manifest.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest
