Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Revert (wrong branch).
  extract/postgres_pipeline/manifests_decomposed/el_customers_scd_db_manifest.yaml
Due: none

Add more column in the reconciliations table for CustomersDot
  extract/postgres_pipeline/manifests_decomposed/el_customers_scd_db_manifest.yaml
Due: none

Move black and mypy to their own stage.
  .gitlab-ci.yml
Due: none

Debug change.
  extract/bizible/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Re-order stages.
  .gitlab-ci.yml
Due: none

Black fix.
  dags/kube_secrets.py
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221028_Rigerta.ipynb
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Mypy fix, correct imports.
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/main.py
  extract/postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Revert "Mypy fix, correct imports."
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/main.py
  extract/postgres_pipeline/postgres_pipeline/postgres_pipeline_table.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Implicit re-export flag.
  .gitlab-ci.yml
Due: none

testing run-operation
  transform/snowflake-dbt/macros/utils/sampling/sample_tables.sql
  transform/snowflake-dbt/macros/utils/sampling/samples.sql
Due: none

Add EDM Documentation to the dbt Model Changes MR template
  .gitlab/merge_request_templates/dbt Model Changes.md
Due: none

Update Location of EDM Documentation checklist
  .gitlab/merge_request_templates/dbt Model Changes.md
Due: none

Update file airflow_utils.py
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correcting error from null values
  transform/snowflake-dbt/models/legacy/sfdc/xf/schema.yml
  transform/snowflake-dbt/models/legacy/sfdc/xf/sfdc_users_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf_deprecated.sql
Due: none

clean up and brining new xray keys from user object to base agg key model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_demo_sqs_ot_keys.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

correcting null value error
  transform/snowflake-dbt/models/legacy/sfdc/xf/sfdc_sales_role_hierarchy.sql
Due: none

modified the data image
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add grants
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

comment out grants
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add-quotes
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add logging
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update dates in audit macro
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_stamped_hierarchy_hist.sql
Due: none

remove internal filter on labels
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_merge_requests.sql
Due: none

correct copy command
  extract/zuora_revenue_report/load_zuora_revenue_report.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

uncomment granting
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update file external_gcp_billing.py
  dags/extract/external_gcp_billing.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

billing_account_id added.
  extract/postgres_pipeline/manifests_decomposed/el_customers_scd_db_manifest.yaml
Due: none

fix usage_amount error
  transform/snowflake-dbt/models/workspaces/workspace_finance/restricted_safe/rpt_gcp_billing_skus_day.sql
Due: none

Remove pmg from roles, code owners.
  CODEOWNERS
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add new field in ptc_scores source model
  dags/data_science/ds_propensity_to_contract_v3.py
  transform/snowflake-dbt/models/sources/data_science/ptc_scores_source.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adding lowercase in case statement
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_ssot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

whitespace
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

Fix black errors
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove uneccessary files
  dags/data_science/ds_propensity_to_contract_v3.py
  dags/kube_secrets.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply suggestion, change column order
  transform/snowflake-dbt/models/sources/data_science/ptc_scores_source.sql
Due: none

Move page token extract down, extract only if data received
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

clean up and adding sales last activity dates
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_demo_sqs_ot_keys.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

ifnull clause in users xf and channel-partner cleanup
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
