Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

added new notebook for X-Ray daily update
  sales_analytics_notebooks/daily/dbt_bob_upa.sql
  sales_analytics_notebooks/daily/hist_fy_n4q_coverages_for_xray.sql
  sales_analytics_notebooks/daily/hist_qtr_coverages_for_xray.sql
  sales_analytics_notebooks/daily/qtd_metrics_for_xray.sql
  sales_analytics_notebooks/daily/test_jupyter_json_upload.ipynb
  sales_analytics_notebooks/daily/xray_daily_update.ipynb
Due: none

Update file td_campaigns.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/td_campaigns.sql
Due: none

Change daily dag schedule to 6PM UTC
  dags/sales_analytics/sales_analytics_daily_notebooks.py
  sales_analytics_notebooks/daily/xray_daily_update.ipynb
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add lead snapshot tables
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
  transform/snowflake-dbt/snapshots/sfdc/sfdc_lead_snapshots.sql
Due: none

fix queries database
  sales_analytics_notebooks/daily/hist_fy_n4q_coverages_for_xray.sql
  sales_analytics_notebooks/daily/hist_qtr_coverages_for_xray.sql
  sales_analytics_notebooks/daily/qtd_metrics_for_xray.sql
Due: none

rebase
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add error correction
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_web_events.sql
Due: none

get rid of incremental
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_installation.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_installation_creation.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

update to incremental
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_account_snapshots_source.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_user_snapshots_source.sql
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
Due: none

add missing fields
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Move and rename move into safe area
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rpt_td_campaigns.sql
Due: none

new updates on stage progression model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_stage_progression.sql
Due: none

adds restricted_safe to ddeng
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Remove hightouch role added to this MR by mistake
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Undo role assigning
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

extending filter
  transform/snowflake-dbt/models/sources/container_registry/container_registry_download_logs_raw.sql
Due: none

added pyprojroot install command
  sales_analytics_notebooks/daily/xray_daily_update.ipynb
Due: none

Add updgrade gitlabdata to the notebook, since the image is not yet updated
  sales_analytics_notebooks/daily/xray_daily_update.ipynb
Due: none

Add misisng import
  sales_analytics_notebooks/daily/xray_daily_update.ipynb
Due: none

create dimensional model
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_gitlab_version_major_minor.sql
  transform/snowflake-dbt/models/common_prep/prep_gitlab_version_major_minor.sql
Due: none

Add permissions to workspace_sales for the sales analytics role
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Remove write permissions as they are not necessary
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add version key to fct_ping_instance
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
Due: none

Cleanup unused License DB models
  transform/snowflake-dbt/models/sources/license/license.md
  transform/snowflake-dbt/models/sources/license/license_db_add_ons_source.sql
  transform/snowflake-dbt/models/sources/license/license_db_granted_add_ons_source.sql
  transform/snowflake-dbt/models/sources/license/license_db_licenses_source.sql
  transform/snowflake-dbt/models/sources/license/schema.yml
  transform/snowflake-dbt/models/sources/license/sources.yml
Due: none

update engineering_issues.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_issues.sql
Due: none

Remove legacy.license_db_licenses
  transform/snowflake-dbt/models/legacy/license/license_db_licenses.sql
  transform/snowflake-dbt/models/legacy/license/schema.yml
Due: none

Updating person TP calcs
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Updating typo
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/rpt_lead_to_revenue.sql
Due: none

Added restristed workspace to marketing
  transform/snowflake-dbt/dbt_project.yml
Due: pages

Move td to restristed workspace marketing
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_td_campaigns.sql
Due: none

update dbt_project.yml file
  transform/snowflake-dbt/dbt_project.yml
Due: pages

fix spacing in dbt project yml
  transform/snowflake-dbt/dbt_project.yml
Due: pages

update spacing again
  transform/snowflake-dbt/dbt_project.yml
Due: pages

update channel to partner
  transform/snowflake-dbt/macros/sfdc/deal_path_cleaning.sql
  transform/snowflake-dbt/macros/sfdc/macros.md
  transform/snowflake-dbt/macros/sfdc/macros.yml
  transform/snowflake-dbt/macros/sfdc/sales_qualified_source_cleaning.sql
  transform/snowflake-dbt/macros/sfdc/sales_qualified_source_grouped.sql
  transform/snowflake-dbt/macros/sfdc/sfdc_opportunity_fields.sql
  transform/snowflake-dbt/macros/sfdc/sqs_bucket_engagement.sql
  transform/snowflake-dbt/models/legacy/sfdc/restricted_safe/sfdc_opportunity_snapshot_history.sql
  transform/snowflake-dbt/models/legacy/snapshots/restricted_safe/sfdc_opportunity_snapshots_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_opportunity_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_snapshot_history_xf_deprecated.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf_deprecated.sql
Due: none

adding installation creation date to Gainsight
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric_wave_monthly.sql
  transform/snowflake-dbt/models/common_mart_product/mart_ping_instance_metric_health_score_self_managed.sql
  transform/snowflake-dbt/models/common_mart_product/reports/rpt_gainsight_metrics_monthly_paid_self_managed.sql
  transform/snowflake-dbt/models/marts/pumps/mart_product_usage_paid_user_metrics_monthly.sql
  transform/snowflake-dbt/models/marts/pumps/pump_gainsight_metrics_monthly_paid.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/mart_product_usage_paid_user_metrics_monthly_workspace.sql
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/wk_pump_gainsight_metrics_monthly_paid.sql
Due: none

Adding use_new_navigation
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Add usage and pricing unit mapping to convert various units to a standardized one
  transform/snowflake-dbt/data/gcp_billing_unit_mapping.csv
  transform/snowflake-dbt/data/seeds.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
Due: none

Update file airflow_utils.py
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

revert changes
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ping_instance.sql
Due: none

add sk
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
