Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

remove post hook from dim_team
  transform/snowflake-dbt/models/common/sensitive/dim_team.sql
Due: none

Add comments
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_integration.sql
Due: none

Add comments
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_snippet.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_package.sql
Due: none

allow up to 48 hours since last bakckfill
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

change dag schedule
  dags/extract/gitlab_dbs_extract_load_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add missing member to prep_requirement
  transform/snowflake-dbt/models/common_prep/prep_requirement.sql
Due: none

reduce query chunk to 2.5M, increase upload chunk to 7.5M
  dags/extract/gitlab_dbs_extract_load_backfill.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_pipeline_table.py
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add missing member to prep_package
  transform/snowflake-dbt/models/common_prep/prep_package.sql
Due: none

move missing member to dim from prep
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_package.sql
  transform/snowflake-dbt/models/common_prep/prep_package.sql
Due: none

move missing member to dim from prep
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_requirement.sql
  transform/snowflake-dbt/models/common_prep/prep_requirement.sql
Due: none

add missing member to dim_snippet
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_snippet.sql
Due: none

add missing member to dim_integration
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_integration.sql
Due: none

add back churn contraction field
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

adjust priority ranking and move no_id to internal
  transform/snowflake-dbt/data/gcp_billing_folder_pl_mapping.csv
  transform/snowflake-dbt/data/gcp_billing_single_sku_pl_mapping.csv
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/rpt_gcp_billing_pl_day_combined.sql
Due: none

Fix pipeline to refer to /extract folder only.
  .gitlab-ci.yml
  Makefile
  dags/extract/saas_usage_ping.py
  extract/saas_usage_ping/instance_namespace_metrics.py
  transform/snowsql_rt.log_bootstrap
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

- Test cases decoupled. - Linter passed. - namespace code refactored.
  .gitlab-ci.yml
  Makefile
Due: none

lint
  transform/snowflake-dbt/models/legacy/gcp_billing/gcp_billing_export_project_ancestry.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/rpt_gcp_billing_pl_day_combined.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings_lookback/lookback_pl_mappings.sql
Due: none

deprecate single_sku_pl
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/single_sku_pl.sql
Due: none

add product_category field
  transform/snowflake-dbt/macros/zuora/product_category.sql
Due: none

add SaaS categories which don't rely on legacy names
  transform/snowflake-dbt/models/sources/zuora_api_sandbox/zuora_api_sandbox_rate_plan_source.sql
Due: none

remove single sku pl from yaml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

remove test tables from manifest
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_new_db_manifest.yaml
Due: none

disable-oci-models
  transform/snowflake-dbt/models/sources/oci_reports/oci_cost_report_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/wk_oci_cost_report.sql
Due: none

putting limits on long running tests
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/sources/customers/schema.yml
  transform/snowflake-dbt/models/sources/mailgun/schema.yml
Due: none

refactor copy
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove iff
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

full qual format
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add issue state update
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Add extra filters
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

add exception
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Update field
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/legacy/snapshots/base/customers_db_billing_account_contacts_snapshots_base.sql
Due: none

Add separate logic for open and close issues
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Apply 1 suggestion(s) to 1 file(s)
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
