Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Version for review.
  transform/snowflake-dbt/models/common_prep/prep.md
Due: none

Remove date_time_initiated
  transform/snowflake-dbt/models/common/dimensions_shared/dim_team_member.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_team_member.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_prep/prep_team_member.sql
Due: none

Update documentation
  transform/snowflake-dbt/models/common/common.md
Due: none

Setup objects to add gainsight_customer_success data.
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/gainsight_customer_success/gainsight_customer_success.md
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sources.yml
Due: pages

Schema and sources added along with MD files.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/gainsight_customer_success.md
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sources.yml
Due: none

Add zengrc models
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/zengrc/zengrc_programs.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/zengrc/zengrc_vendors.sql
Due: none

Fill md file.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/gainsight_customer_success.md
Due: none

Add prep models.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/account_scorecard_history.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_attendee.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_comments.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_timeline.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/call_to_action.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/comments.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_and_ebrs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/company.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/company_person.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/cs_task.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/csat_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ctas_healthscores.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/email_logs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/nps_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/success_plan.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/user_sfdcgitlabproduction.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/zoom_awebinar_a_acontacts_aand_aleads_a_alead_aaccount_aid_amatch.sql
Due: none

Models generated.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/account_scorecard_history.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_attendee.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_comments.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_timeline.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/call_to_action.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/comments.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_and_ebrs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/company.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/company_person.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/cs_task.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/csat_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ctas_healthscores.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/email_logs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/nps_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/success_plan.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/user_sfdcgitlabproduction.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/zoom_awebinar_a_acontacts_aand_aleads_a_alead_aaccount_aid_amatch.sql
Due: none

modify db_ptc
  dags/data_science/ds_propensity_to_contract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

modify db_ptc
  dags/data_science/ds_propensity_to_contract.py
  dags/extract/mailgun_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

modify db_ptpt
  dags/data_science/ds_propensity_to_purchase_trial.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Models added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_cta.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_emails.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_participants.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/csat_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ctas_healthscores.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/email_logs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/gainsight_customer_success.md
  transform/snowflake-dbt/models/sources/gainsight_customer_success/nps_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/opt_out_emails.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
  transform/snowflake-dbt/models/sources/gainsight_customer_success/sources.yml
  transform/snowflake-dbt/models/sources/gainsight_customer_success/success_plan.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/user_sfdcgitlabproduction.sql
Due: none

Change materialization to view.
  transform/snowflake-dbt/dbt_project.yml
Due: pages

Updating dates
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

New models added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_cta.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_emails.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_participants.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/opt_out_emails.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
Due: none

New models added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/comments.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ctas_healthscores.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/gainsight_customer_success.md
  transform/snowflake-dbt/models/sources/gainsight_customer_success/nps_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/opt_out_emails.sql
Due: none

Models created. Tested and passed fine.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/comments.sql
Due: none

update customer db DAG schedules
  dags/extract/gitlab_dbs_extract_load.py
  dags/transformation/gitlab_dot_com_dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

New model for latest trials per namespace
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_shared/dim_order_namespace_trial_latest.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

Updated docs
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

Renamed SK
  transform/snowflake-dbt/models/common/dimensions_shared/dim_order_namespace_trial_latest.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

modify qualtrics_survey_extract
  dags/extract/qualtrics_survey_extract.py
  extract/qualtrics/src/download_survey_responses.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

MNPI tag added.
  transform/snowflake-dbt/models/sources/gainsight_customer_success/account_scorecard_history.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_attendee.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_comments.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/activity_timeline.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_cta.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_emails.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_participant_activity.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/advanced_outreach_participants.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ao_advanced_outreach_company.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/call_to_action.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/comments.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_and_ebrs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_with_success_plan_details.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/companies_with_success_plan_objectives.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/company.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/company_person.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/cs_task.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/csat_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/ctas_healthscores.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/customer_health_scorecard_fact_1.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/email_logs.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/nps_survey_response.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/opt_out_emails.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/success_plan.sql
  transform/snowflake-dbt/models/sources/gainsight_customer_success/user_sfdcgitlabproduction.sql
Due: none

Tests added.
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/sources/gainsight_customer_success/schema.yml
Due: pages

modify qualtrics_survey_extract
  extract/qualtrics/src/download_survey_responses.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add haproxy split to CDN skus in gitlab-production
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

Tests added.
  transform/snowflake-dbt/dbt_project.yml
Due: pages

adjust haproxy split
  transform/snowflake-dbt/data/gcp_billing_haproxy_pl_mapping.csv
Due: none

update mappings
  transform/snowflake-dbt/data/gcp_billing_project_pl_mapping.csv
  transform/snowflake-dbt/data/gcp_billing_sandbox_projects.csv
  transform/snowflake-dbt/data/gcp_billing_single_sku_pl_mapping.csv
Due: none

modify qualtrics_extract
  dags/extract/qualtrics_extract.py
  extract/qualtrics/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

modify qualtrics_extract
  dags/extract/qualtrics_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

change haproxy split to be applied to all build_artifacts skus
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

modify qualtrics_extract
  extract/qualtrics/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

typo in seed
  transform/snowflake-dbt/data/gcp_billing_haproxy_pl_mapping.csv
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none
