Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

correct typo
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_milestones_source.sql
Due: none

correct typo
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespaces_source.sql
Due: none

Branch image.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct casting type
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_notes_source.sql
Due: none

Removed Cloud Activation Code column
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_cloud_activation.sql
  transform/snowflake-dbt/models/common/schema.yml
Due: none

correct string match
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_ci_db_manifest.yaml
Due: none

Adding opp fields to target and actual L2R
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/wk_marketing_leading_indicators_actuals_and_targets.sql
Due: none

New base snapshotted model for cloud activations
  transform/snowflake-dbt/models/legacy/snapshots/base/customers_db_cloud_activations_snapshots_base.sql
  transform/snowflake-dbt/models/legacy/snapshots/base/schema.yml
  transform/snowflake-dbt/models/legacy/snapshots/base/sources.yml
Due: none

add pk_combined in pl_day
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/output/rpt_gcp_billing_pl_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings_lookback/lookback_pl_mappings.sql
Due: none

Add plans.
  extract/tableau_con_man_client/src/execute.py
  extract/tableau_con_man_client/src/provision_plan.yaml
  extract/tableau_con_man_client/src/public_sync_plan.yaml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Updates to dbt 1.6
  .gitlab-ci.yml
  dags/airflow_utils.py
  transform/snowflake-dbt/pyproject.toml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Changes migrated from previous upgrade MR.
  orchestration/clone_dbt_models_select.py
  transform/snowflake-dbt/analysis/data_team/dbt_upgrade_tests.sql
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_gitlab_events_experiment_contexts.sql
  transform/snowflake-dbt/packages.yml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

rename model to remove poc prefix
  transform/snowflake-dbt/models/common/sensitive/pump_marketing_contact_namespace_detail.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

create mart, add docs
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/workspaces/workspace_product/mart_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

update filter in service ping context to look for schemas other than first
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/fct_behavior_structured_event_service_ping_context.sql
Due: none

adds wleidheiser
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Cluster_agent_tokens added column LAST_USED_AT.
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

batched_background_migration_count_failed_jobs_metric excluded.
  extract/saas_usage_ping/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added business unit to account report model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
Due: none

added changes to upa model from account model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_upa_year.sql
Due: none

fix rename
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_merge_requests_source.sql
Due: none

fixed typo on model name
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_upa_year.sql
Due: none

Update 4 files
  transform/snowflake-dbt/models/sources/nvd/nvd_cve_source.sql
  transform/snowflake-dbt/models/sources/nvd/nvd_extract_doc.md
  transform/snowflake-dbt/models/sources/nvd/schema.yml
  transform/snowflake-dbt/models/sources/nvd/sources.yml
Due: none

delete models and perms
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/nvd_cve_cpe_mapping.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: ðŸ“yaml_validation, pages

change join in prep_issue_user_request_collaboration_project
  transform/snowflake-dbt/models/common_prep/prep_issue_user_request_collaboration_project.sql
Due: none

add opp forecasting and remove ptp
  extract/sheetload/boneyard/sheets.yml
Due: none

fix filter
  transform/snowflake-dbt/models/workspaces/workspace_product/mart_behavior_structured_event_code_suggestion.sql
Due: none

incorporate linter feedback
  transform/snowflake-dbt/models/workspaces/workspace_product/mart_behavior_structured_event_code_suggestion.sql
Due: none

move directories
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/mart_behavior_structured_event_code_suggestion.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/snowplow.md
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

remove docs that were moved to another file
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
Due: none

fix filter
  transform/snowflake-dbt/models/workspaces/workspace_product/snowplow/mart_behavior_structured_event_code_suggestion.sql
Due: none

revert whitespace changes
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_product/workspace_product.md
Due: none

Update account mapping join lower date bound
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none
