Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

rollback internal runners, large runners ok
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
Due: none

small fixes
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_account_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_metrics_summary_upa_year.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_opportunity_stage_progression_snapshot.sql
Due: none

update documentation
  transform/snowflake-dbt/models/common/common_columns.md
Due: none

refactor fields
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
Due: none

update on opportunity object
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_mart_crm_opportunity.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
Due: none

fixed delta model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_report_pipeline_deltas.sql
Due: none

adds new role for snowflake data
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds snowflake role to pempey
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds marketo to csharp
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds coupa to nmcavinue
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add rank statement to remove duplicates introduced
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
Due: none

Created snapshot models
  transform/snowflake-dbt/snapshots/customers/customers_db_billing_account_membership_snapshots.sql
  transform/snowflake-dbt/snapshots/customers/customers_db_billing_accounts_snapshots.sql
  transform/snowflake-dbt/snapshots/customers/customers_db_cloud_activations_snapshots.sql
Due: none

Updated names
  transform/snowflake-dbt/snapshots/customers/customers_db_billing_account_membership_snapshots.sql
  transform/snowflake-dbt/snapshots/customers/customers_db_billing_accounts_snapshots.sql
  transform/snowflake-dbt/snapshots/customers/customers_db_cloud_activations_snapshots.sql
Due: none

rewording
  transform/snowflake-dbt/models/common/common.md
Due: none

mapping small. med, large, internal, shared-gitlab-org ok
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
Due: none

Renamed Keys
  transform/snowflake-dbt/snapshots/customers/customers_db_billing_account_membership_snapshots.sql
  transform/snowflake-dbt/snapshots/customers/customers_db_billing_accounts_snapshots.sql
  transform/snowflake-dbt/snapshots/customers/customers_db_cloud_activations_snapshots.sql
Due: none

correct typo in field name
  transform/snowflake-dbt/models/legacy/snapshots/base/sfdc_lead_snapshots_source.sql
Due: none

fix null values gcp_project_id
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
Due: none

added file_name in source
  transform/snowflake-dbt/models/sources/thanos/thanos_stage_group_error_budget_seconds_spent_source.sql
Due: none

replace and delete prep_namespace_lineage
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/dimensions_shared/dim_namespace_lineage.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_usage_ci_minutes.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_usage_storage.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/prep_namespace_lineage.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

correct typo on lead source
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

Flatten via__channel for ticket source
  transform/snowflake-dbt/models/sources/zendesk_community_relations/zendesk_community_relations_tickets_source.sql
Due: none

fix query
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_usage_ci_minutes.sql
Due: none

Apply review suggestion
  transform/snowflake-dbt/models/sources/zendesk_community_relations/zendesk_community_relations_tickets_source.sql
Due: none

Include issues_close_at on the same day as date actual
  transform/snowflake-dbt/models/workspaces/workspace_engineering/issues_history.sql
Due: none

rename dimensions
  transform/snowflake-dbt/models/common/common.md
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_app_release.sql
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_app_release_major_minor.sql
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance.sql
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart/mart_ping_instance.sql
  transform/snowflake-dbt/models/common_mart/schema.yml
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/prep_app_release.sql
  transform/snowflake-dbt/models/common_prep/prep_app_release_major_minor.sql
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Update SOT account_demographics_sales_segment
  transform/snowflake-dbt/models/sources/sfdc/sfdc_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_lead_source.sql
Due: none

Update file schema.yml
  transform/snowflake-dbt/models/common/schema.yml
Due: none

change from backfill_metadata prefix to backfill
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

dont enrich dataframe in order to perform fair benchmark
  extract/saas_postgres_pipeline_backfill/postgres_pipeline/postgres_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

formatting commit
  transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/dim_ci_runner.sql
Due: none

query works, but does not write back to table
  transform/snowflake-dbt/macros/utils/macros.md
  transform/snowflake-dbt/macros/utils/macros.yml
  transform/snowflake-dbt/macros/utils/missing_member_column.sql
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_account.sql
Due: none

need to fix -1 for primary key logic and data types for dates
  transform/snowflake-dbt/macros/utils/missing_member_column.sql
Due: none

Switch time load to run earlier and pick up the data.
  dags/extract/gainsight_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  dags/extract/gainsight_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix wrong null and "null" labels
  transform/snowflake-dbt/data/gcp_billing_project_pl_mapping.csv
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
Due: none

fix combined_mapping multiple records
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
Due: none

lint
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/output/rpt_gcp_billing_pl_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/build_artifacts_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/ci_runners_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/combined_pl_mapping.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/container_registry_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/infralabel_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/projects_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/repo_storage_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/sandbox_projects_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/finops/pl_mappings/single_sku_pl.sql
Due: none

modified ci_secure_files to revert back
  extract/saas_postgres_pipeline_backfill/manifests_decomposed/el_gitlab_com_ci_new_db_manifest.yaml
Due: none
