Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

Update file Triage: Errors AE.md
  .gitlab/issue_templates/Triage: Errors AE.md
Due: none

adding internal events to filter
  transform/snowflake-dbt/models/workspaces/workspace_customer_success/redis_metrics/service_ping_context_method/metric_aggregations/many_to_many/wk_rpt_user_based_metric_counts_namespace_monthly.sql
Due: none

pylint fix
  extract/zuora_query_api/src/api.py
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

reverted changes
  transform/snowflake-dbt/models/sources/zuora_query_api/sources.yml
Due: none

Add partner id to campaign object
  transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/dim_campaign.sql
  transform/snowflake-dbt/models/common_prep/prep_campaign.sql
  transform/snowflake-dbt/models/sources/sfdc/sfdc_campaign_source.sql
Due: none

Correct codeowners.
  CODEOWNERS
Due: none

Update file projects_part_of_product.csv
  transform/snowflake-dbt/data/projects_part_of_product.csv
Due: none

adds nbilgrami
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Apply 1 suggestion(s) to 1 file(s)
  CODEOWNERS
Due: none

deprovision bmandavia
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprovision kkarthikeyan
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

updated sales notebooks
  sales_analytics_notebooks/daily/202304_daily_sal_heatmap_update/sh_sal_heatmap_daily_update.ipynb
  sales_analytics_notebooks/daily/202304_daily_xray_update/xr_forecast_update.sql
  sales_analytics_notebooks/daily/202304_daily_xray_update/xr_hist_qtr_coverages_for_xray.sql
  sales_analytics_notebooks/daily/202304_daily_xray_update/xr_qtd_metrics_for_xray.sql
  sales_analytics_notebooks/daily/202304_daily_xray_update/xr_xray_daily_update.ipynb
  sales_analytics_notebooks/daily/202305_ae_quota_credit_upload/ae_quota_credit_upload_v3.ipynb
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_asm_opportunity_agg.sql
  sales_analytics_notebooks/daily/202307_tableau_consolidation/tableau_table_consolidation.ipynb
  sales_analytics_notebooks/daily/202307_tableau_consolidation/test/tests.sql
Due: none

lowercase field name
  transform/snowflake-dbt/models/sources/sfdc/sfdc_campaign_source.sql
Due: none

deprovision akramer
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov bvandre
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov rrosu
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov TJAYARAMARAJU
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov NBELOKOLODOV
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov WLEIDHEISER
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov JBURROWS
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov LSTAHLMAN
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

deprov JHOPE
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

update has password query
  .gitlab/issue_templates/Platform: Quarterly Data Health and Security Audit.md
Due: none

rename model, add docs
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/wk_say_do.sql
Due: none

added ChargeMetrics
  extract/zuora_query_api/src/queries.yml
Due: none

add placeholder file in reference_State folder and add specific gitignore on manifest.json
  transform/snowflake-dbt/.gitignore
  transform/snowflake-dbt/reference_state/placeholder
Due: pages

add tech group aggregation for mr rate
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_rate.sql
Due: none

Added 2 tables: DEPENDENCY_PROXY_PACKAGES_SETTINGS and SERVICE_DESK_SETTINGS
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

Empty-Commit
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_dependency_proxy_packages_settings_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_service_desk_settings_dedupe_source.sql
Due: none

added replace
  extract/zuora_query_api/src/main.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Fix unique_key id -> project_id
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_dependency_proxy_packages_settings_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/gitlab_dotcom_service_desk_settings_dedupe_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
Due: none

add omrt model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time.sql
Due: none

lint
  transform/snowflake-dbt/models/workspaces/workspace_engineering/open_merge_request_review_time.sql
Due: none

Added docs Schema
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Added docs
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Update file wk_gitlab_dotcom_monthly_ci_compute_minutes.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_monthly_ci_compute_minutes.sql
Due: none

Add new file
  transform/snowflake-dbt/models/workspaces/workspace_product/wk_gitlab_dotcom_monthly_ci_compute_minutes.sql
Due: none
