Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Switch to raise error, remove pandas
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove pandas
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Parse typed value.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Cleanup, add actual values. Doc string stubs.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black reformat, remove unused, general cleanup.
  dags/general/pvc_monitor.py
  extract/pvc_monitor/get_pvc_values.sh
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 1 suggestion(s) to 1 file(s)
  dags/general/duo_data_redaction.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Latest data image version.
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Variable rename, cleanup.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Set start date back
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add sfdc_sandbox_contact_source
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sfdc_sandbox_contact_source.sql
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sources.yml
Due: none

remove lead source
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sources.yml
Due: none

fix ref
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_performance_timing_metrics.sql
Due: none

Removed commented out lines
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

add cols to legacy structured_event model
  transform/snowflake-dbt/models/legacy/snowplow/month_partition/xf/snowplow_structured_events.sql
Due: none

Removed notification_email from dim_marketing_contact models
  transform/snowflake-dbt/models/common/sensitive/dim_marketing_contact.sql
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

Add onboarding_status to user_details
  extract/gitlab_saas_postgres_pipeline/manifests/el_saas_gitlab_com_scd_db_manifest.yaml
Due: none

Add first opt-in value
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_user_details_source.sql
Due: none

select cols in prep_snowplow_unnested_events_all
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_behavior_structured_event.sql
  transform/snowflake-dbt/models/common_prep/prep_snowplow_unnested_events_all.sql
Due: none

Update fields for pipeline coverage
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_snapshot.sql
Due: none

Fix join
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
Due: none

Fix errors and missing fields
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_crm_opportunity_daily_snapshot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_aggregate.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_fct_targets_actuals_snapshot.sql
Due: none

Remove uneccessary variable.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Log lines.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Double value.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Final debug.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Apply 1 suggestion(s) to 1 file(s)
  dags/airflow_utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Black.
  extract/pvc_monitor/pvc_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adds PTO role to team members
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Apply 1 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common/dimensions_shared/restricted_safe/dim_crm_opportunity.sql
Due: none

add escape rate model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/escape_rate.sql
Due: none

removed trusted data dbt model
  .gitlab/issue_templates/Triage: Data Triage.md
  dags/transformation/dbt_trusted_data.py
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/bamboohr_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/demandbase_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/gitlab_dotcom_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/netsuite_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/qualtrics_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/sfdc_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/snowplow_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/versiondb_tables_date.sql
  transform/snowflake-dbt/models/workspaces/workspace_data/tdf/zuora_tables_date.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

lint
  transform/snowflake-dbt/models/workspaces/workspace_engineering/escape_rate.sql
Due: none

fix comment
  transform/snowflake-dbt/models/workspaces/workspace_engineering/escape_rate.sql
Due: none

add lead source
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sfdc_sandbox_lead_source.sql
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sources.yml
Due: none

Updating schema file
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

19243 Add neccessary objects to Opportunity Forecasting data pump
  transform/snowflake-dbt/models/marts/pumps/mart_crm_opportunity_id.sql
  transform/snowflake-dbt/models/marts/pumps/pumps.md
  transform/snowflake-dbt/models/marts/pumps/schema.yml
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_opportunity_forecasting_scores.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pumps_sensitive.md
  transform/snowflake-dbt/models/marts/pumps_sensitive/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_data_science/model_mart_crm_opportunity_id.sql
Due: none

add seed files for fy25 hierarchy
  transform/snowflake-dbt/data/fy25_sfdc_sandbox_user_roles_hierarchy.csv
  transform/snowflake-dbt/data/fy25_sfdc_sandbox_users_hierarchy.csv
  transform/snowflake-dbt/data/seeds.yml
Due: none

union test data with source
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sfdc_sandbox_user_roles_source.sql
  transform/snowflake-dbt/models/sources/sfdc_sandbox/sfdc_sandbox_users_source.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
