Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

update schedule
  dags/extract/adaptive_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update col names
  extract/adaptive/src/adaptive_helpers.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add skip header option
  extract/oci_usage/extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

restoring poetry file; adding incremental
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_website_page_view.sql
  transform/snowflake-dbt/poetry.lock
Due: pages

apply styling
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_website_page_view.sql
Due: none

revert accidental changes
  transform/snowflake-dbt/poetry.lock
Due: pages

reverting accidental change
  poetry.lock
Due: none

Correcting created date
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_website_page_view.sql
Due: none

updating cte ref
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_behavior_structured_event.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_website_page_view.sql
Due: none

Remove DISTINCT
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_website_page_view.sql
Due: none

logic fix
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add provisions to sources.yml
  transform/snowflake-dbt/models/sources/customers/sources.yml
Due: none

remove sub_name uniqueness test
  transform/snowflake-dbt/models/sources/customers/schema.yml
Due: none

incorporate linter feedback
  transform/snowflake-dbt/models/sources/customers/customers_db_provisions_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/source_1_on_1_copy/customers_db_provisions.sql
Due: none

update logic
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Remove redundant field
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_registration_website_page_view.sql
Due: none

add logic to scd
  dags/extract/gitlab_dbs_extract_load.py
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix logic dag def
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add missing qualify statement
  transform/snowflake-dbt/models/common/facts_product_and_engineering/fct_ping_instance_metric.sql
Due: none

Adding date_day to l2r_leading_indicators
  transform/snowflake-dbt/models/common_mart_marketing/restricted_safe/rpt_l2r_leading_indicators.sql
Due: none

add oci reports to dbt
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add oci reports to dbt
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/models/sources/oci_reports/oci_cost_report_source.sql
  transform/snowflake-dbt/models/sources/oci_reports/schema.yml
  transform/snowflake-dbt/models/sources/oci_reports/sources.yml
Due: ðŸ“yaml_validation

add tests
  transform/snowflake-dbt/models/sources/oci_reports/oci_cost_report_source.sql
  transform/snowflake-dbt/models/sources/oci_reports/schema.yml
Due: none

add workspace model
  transform/snowflake-dbt/models/workspaces/workspace_engineering/wk_oci_cost_report.sql
Due: none

logic fix
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black format
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black re-format
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add task-retries
  dags/extract/gitlab_dbs_extract_load.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update tests to use EDM model
  transform/snowflake-dbt/models/legacy/sfdc/intermediate/schema.yml
  transform/snowflake-dbt/models/legacy/sfdc/xf/schema.yml
Due: none

move join condition to filter clause
  transform/snowflake-dbt/models/sources/dbt/dbt_snapshots_results_source.sql
Due: none

add logic to validate timestamp
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

re-format
  extract/postgres_pipeline/postgres_pipeline/check_snapshot.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

added new tableau asm daatasources to workspace sales
  transform/snowflake-dbt/models/sources/sales_analytics/rsa_tableau_asm_consolidated_source.sql
  transform/snowflake-dbt/models/sources/sales_analytics/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_tableau_asm_consolidated_source.sql
Due: none

renamed model
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/rsa_tableau_asm_consolidated.sql
Due: none

Updating schema
  transform/snowflake-dbt/models/common_mart_marketing/schema.yml
Due: none

Adding 6Sense to Source Buckets Macro
  transform/snowflake-dbt/macros/sfdc/sfdc_source_buckets.sql
Due: none

calculated billings
  extract/adaptive/src/adaptive.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

removing replaced model
  transform/snowflake-dbt/models/workspaces/workspace_product/reporting/wk_rpt_product_navigation_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/schema.yml
Due: none
