Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*

add ordering field
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
  transform/snowflake-dbt/models/common_prep/prep_saas_usage_ping_subscription_mapped_wave_2_3_metrics.sql
Due: none

adding field to select
  transform/snowflake-dbt/models/common_mart_product/mart_ping_namespace_metric_health_score_saas.sql
  transform/snowflake-dbt/models/common_prep/prep_saas_usage_ping_subscription_mapped_wave_2_3_metrics.sql
Due: none

Added linkedin Ad Workspace folder and file
  transform/snowflake-dbt/models/workspaces/workspace_marketing/linkedin_ads/linkedin_ads.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/linkedin_ads/schema.md
  transform/snowflake-dbt/models/workspaces/workspace_marketing/linkedin_ads/schema.yml
Due: none

updated linkedin_ads to use source models
  transform/snowflake-dbt/models/workspaces/workspace_marketing/linkedin_ads/linkedin_ads.sql
Due: none

added source models
  transform/snowflake-dbt/models/sources/linkedin_ads/linkedin_ads_ad_analytics_by_creative_source.sql
  transform/snowflake-dbt/models/sources/linkedin_ads/linkedin_ads_campaign_history_source.sql
  transform/snowflake-dbt/models/sources/linkedin_ads/linkedin_ads_creative_history_source.sql
  transform/snowflake-dbt/models/sources/linkedin_ads/sources.yml
Due: none

Fix typos and missing fields to dbt can run
  transform/snowflake-dbt/models/sources/linkedin_ads/linkedin_ads_ad_analytics_by_creative_source.sql
  transform/snowflake-dbt/models/sources/linkedin_ads/linkedin_ads_campaign_history_source.sql
  transform/snowflake-dbt/models/sources/linkedin_ads/linkedin_ads_creative_history_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/linkedin_ads/linkedin_ads.sql
Due: none

Add new file
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_issues.sql
Due: none

update schema
  transform/snowflake-dbt/models/workspaces/workspace_engineering/schema.yml
Due: none

Added facebook_ads model and source
  transform/snowflake-dbt/models/sources/facebook_ads/facebook_ads_ad_history_source.sql
  transform/snowflake-dbt/models/sources/facebook_ads/facebook_ads_basic_all_levels_source.sql
  transform/snowflake-dbt/models/sources/facebook_ads/facebook_ads_creative_history_source.sql
  transform/snowflake-dbt/models/sources/facebook_ads/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/facebook_ads/facebook_ads.sql
Due: none

modified for review comment
  dags/general/gitlab_com_deduplication.py
  extract/gitlab_deduplication/main.py
  extract/test/__init__.py
  extract/test/test_gitlab_deduplication.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

pdi1024-member-role-id
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/scd/gitlab_dotcom_members_source.sql
Due: none

removes mart_product_usage_wave_1_3_metrics_monthly_diff
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds analytics_engineer_core to MCOOPER
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Removes MART_PRODUCT_USAGE_WAVE_1_3_METRICS_LATEST
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds restricted_safe to cleroux
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

commit
  transform/snowflake-dbt/file.txt
Due: pages

switch base and transaction currencies and only provide reciprocal rate
  transform/snowflake-dbt/models/workspaces/workspace_finance/netsuite_consolidated_currency_exchange_rates.sql
Due: none

update filter to show FX rates sooner
  transform/snowflake-dbt/models/workspaces/workspace_finance/netsuite_consolidated_currency_exchange_rates.sql
Due: none

Remove pumps_sensitive from the data science role!
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Add initial DAG
  dags/data_science/ds_propensity_to_purchase_free.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

fix error in adjusted segment
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_base.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/agg_key_models/wk_sales_report_agg_keys_ssot.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_sales_sfdc_opportunity_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/wk_sales_sfdc_users_xf.sql
Due: none

removed entry for pump_product_usage_free_user_metrics_monthly
  pump/pumps.yml
Due: none

update ref to dim_project table
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_issues.sql
Due: none

add course actions
  dags/extract/level_up_thought_industries.py
  extract/level_up_thought_industries/src/thought_industries_api.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add schema.yml and course_actions, and rename some cols
  transform/snowflake-dbt/models/sources/level_up/level_up_course_actions.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_course_views.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_logins.sql
  transform/snowflake-dbt/models/sources/level_up/level_up_visits.sql
  transform/snowflake-dbt/models/sources/level_up/schema.yml
Due: none

Improved readiblity of linkedin_ads.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/linkedin_ads/linkedin_ads.sql
Due: none

Update linkedin_ads.sql keywords
  transform/snowflake-dbt/models/workspaces/workspace_marketing/linkedin_ads/linkedin_ads.sql
Due: none

Fixed compile bug
  transform/snowflake-dbt/models/sources/facebook_ads/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/facebook_ads/facebook_ads.sql
Due: none

Updated to coding standard
  transform/snowflake-dbt/models/sources/facebook_ads/facebook_ads_ad_history_source.sql
  transform/snowflake-dbt/models/sources/facebook_ads/facebook_ads_basic_all_levels_source.sql
  transform/snowflake-dbt/models/sources/facebook_ads/facebook_ads_creative_history_source.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/facebook_ads/facebook_ads.sql
Due: none

updates iweeks and lvinueza
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds salesforce role to csharp
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Rename DAG command
  transform/snowflake-dbt/models/sources/data_science/data_science.md
  transform/snowflake-dbt/models/sources/data_science/ptpf_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/schema.yml
  transform/snowflake-dbt/models/sources/data_science/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_data_science/ptpf/ptpf_scores.sql
  transform/snowflake-dbt/models/workspaces/workspace_data_science/schema.yml
  transform/snowflake-dbt/safe_model_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

Black fixes
  analyze/generate_periscope_chart_embed_code.py
  dags/airflow_utils.py
  dags/data_science/ds_propensity_to_purchase_free.py
  dags/extract/external_gcp_billing.py
  dags/extract/gitlab_dbs_extract_load.py
  dags/extract/gitlab_dbs_tdf_extract_load.py
  dags/extract/sheetload.py
  dags/general/dbt_backups.py
  dags/general/pumps.py
  extract/bamboohr/src/execute.py
  extract/discourse/src/api.py
  extract/discourse/src/execute.py
  extract/engineering/execute.py
  extract/gcs_external/src/gcp_billing/gcs_external.py
  extract/gitlab_api_mrs/src/execute.py
  extract/gitlab_data_yaml/upload.py
  extract/gitlab_feature_flags_yaml/upload.py
  extract/graphite/extract_graphite.py
  extract/mailgun/src/execute.py
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
  extract/qualtrics/src/execute.py
  extract/saas_usage_ping/transform_postgres_to_snowflake.py
  extract/saas_usage_ping/usage_ping.py
  extract/sheetload/google_drive_client.py
  extract/sheetload/sheetload.py
  extract/snowflake/user_role_grants.py
  extract/test/test_utils.py
  extract/zuora_revenue/load_zuora_revenue.py
  extract/zuora_revenue_report/load_zuora_revenue_report.py
  extract/zuora_revenue_report/src/api.py
  load/miscellaneous/manual_json/upload.py
  orchestration/clone_dbt_models_select.py
  orchestration/events_sample.py
  orchestration/fivetran_table_drop.py
  orchestration/manage_snowflake.py
  orchestration/test/test_reduce_file_size.py
  sales_analytics_notebooks/daily/coverage_curves_simplified_v20221028_Rigerta.ipynb
  transform/generate_dbt_schema.py
  transform/sisense_check.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add new table
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none
