Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

adds restricted_safe to apiaseczna
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

add full refresh for exisitng models
  Makefile
Due: none

add null for deleted fields
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/marts/pumps_sensitive/pump_marketing_contact.sql
Due: none

add null for deleted fields
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
Due: none

adds lhatakeda
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds jbare
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

adds jclapper
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update file roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Update roles.yml
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

Correct sh call.
  dags/general/pvc_monitor.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add new ML model source and workspace tables
  transform/snowflake-dbt/models/sources/data_science/data_science.md
  transform/snowflake-dbt/models/sources/data_science/opportunity_forecasting_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/schema.yml
  transform/snowflake-dbt/models/sources/data_science/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_data_science/opportunity_forecasting/opportunity_forecasting_scores.sql
Due: none

Edit documentation
  transform/snowflake-dbt/models/sources/data_science/data_science.md
Due: none

Update file gitlab_dotcom_namespaces_source.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/renamed/gitlab_dotcom_namespaces_source.sql
Due: none

Add credentials for the DS team and new user
  dags/kube_secrets.py
  permissions/snowflake/roles.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation

Fix formatting
  dags/kube_secrets.py
  orchestration/manage_snowflake.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

adding issue assignee
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

correct model name
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
Due: none

remove Jean from AE codeowner folders
  CODEOWNERS
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitignore
Due: none

add back gl-infra projects with project-level labels
  transform/snowflake-dbt/data/internal_gitlab_projects.csv
Due: none

Updated to match lead routing
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Apply 3 suggestion(s) to 1 file(s)
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Update person first country to account for country codes
  transform/snowflake-dbt/models/common/dimensions_shared/dim_crm_person.sql
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Fix table name
  transform/snowflake-dbt/models/common_prep/prep_crm_person.sql
Due: none

Fix small typo
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Move docs
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

Update documentation
  transform/snowflake-dbt/models/sources/data_science/data_science.md
Due: none

Apply suggestion
  transform/snowflake-dbt/models/workspaces/workspace_data_science/opportunity_forecasting/opportunity_forecasting_scores.sql
Due: none

Updated md file
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart.md
Due: none

Update new model to read from already flattened source
  transform/snowflake-dbt/models/sources/data_science/opportunity_forecasting_scores_source.sql
Due: none

re enable finance users
  permissions/snowflake/roles.yml
Due: ðŸ“yaml_validation

temp-test
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

correct dbt_seed_data_path
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Add model_version to DS related models
  transform/snowflake-dbt/models/sources/data_science/churn_forecasting_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/namespace_segmentation_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/ptc_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/pte_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/ptpf_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/ptpl_scores_source.sql
  transform/snowflake-dbt/models/sources/data_science/ptpt_scores_source.sql
Due: none

lint
  transform/snowflake-dbt/models/workspaces/workspace_engineering/engineering_merge_requests.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/internal_issues_enhanced.sql
Due: none

simplify incremental logic
  transform/snowflake-dbt/models/common_prep/restricted_safe/prep_crm_opportunity.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
