Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

update epic_id refs in user request model again
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/xf/gitlab_dotcom_gitlab_user_requests.sql
Due: none

Add missing mitigation_plan_id SQL selection to Omamori data source
  transform/snowflake-dbt/models/sources/omamori/omamori_mitigation_plan_entity_data_source.sql
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

add column definition for is_first_order to dim_order
  transform/snowflake-dbt/models/common/schema.yml
Due: none

add ptpl fields and scores
  transform/snowflake-dbt/models/common/sensitive/mart_marketing_contact.sql
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
Due: none

documentation
  transform/snowflake-dbt/models/common_prep/prep.md
  transform/snowflake-dbt/models/common_prep/schema.yml
Due: none

fix duplications
  transform/snowflake-dbt/models/common_prep/prep_ptp_scores_by_user.sql
Due: none

syntax fix
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
  transform/snowflake-dbt/models/common_mart_sales/mart_crm_task.sql
Due: none

Add extra condition
  transform/snowflake-dbt/models/common_prep/month_partition/snowplow/snowplow_web_events.sql
Due: none

Exclude records with strings that can't be parsed
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_touchpoint.sql
Due: none

update
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

remove account join
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/fct_crm_task.sql
Due: none

add columns to schema
  transform/snowflake-dbt/models/common/common_columns.md
  transform/snowflake-dbt/models/common/schema.yml
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/schema.yml
Due: none

backfill using comboination of commited_at and _uploaded_at
  dags/transformation/dbt_gitlab_dotcom_backfill_chunked.py
  transform/snowflake-dbt/models/workspaces/workspace_product/gitlab_dotcom_merge_request_diff_commits_internal.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/gitlab_dotcom_merge_request_diffs_internal.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add schema tests
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/schema.yml
Due: none

mypy dag
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update dag
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

rename files to workspace dir
  transform/snowflake-dbt/models/workspaces/workspace_product/gitlab_dotcom_merge_request_diff_commits_internal.sql
  transform/snowflake-dbt/models/workspaces/workspace_product/gitlab_dotcom_merge_request_diffs_internal.sql
Due: none

update dag
  dags/transformation/dbt.py
  dags/transformation/dbt_merge_request_diff_commits_backfill.py
  transform/snowflake-dbt/dbt_project.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

update schema, tablenames
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/schema.yml
Due: none

sqlfluff
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_merge_request_diffs_internal.sql
  transform/snowflake-dbt/models/legacy/gitlab_dotcom_backfill_chunked/gitlab_dotcom_merge_request_diff_commits_internal_chunked.sql
Due: none

rename dbt_gitlab_dotcom_backfill_chunked.py
  dags/transformation/dbt_gitlab_dotcom_backfill_chunked.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add max()
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diff_commits_internal.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove dbt tests, slows things down too much
  dags/transformation/dbt_gitlab_dotcom_backfill_chunked.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update dbt dag name
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

dev new model
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_merge_request_diffs_internal.sql
Due: none

clean up dag
  dags/transformation/dbt.py
  dags/transformation/dbt_gitlab_dotcom_backfill_chunked.py
  transform/snowflake-dbt/dbt_project.yml
  transform/snowflake-dbt/models/legacy/gitlab_dotcom_backfill_chunked/gitlab_dotcom_merge_request_diff_commits_internal_chunked.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

exclude workspace model since we need to backfill it first
  dags/transformation/dbt.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update model to use merge_request_diff_id to chunk
  dags/transformation/dbt.py
  dags/transformation/dbt_full_refresh_weekly.py
  dags/transformation/dbt_gitlab_dotcom_backfill_chunked.py
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diff_commits_internal.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diffs_internal.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add 1 to merge_request_diff_id cond
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diff_commits_internal.sql
Due: none

add merge_request_diff_commits to source
  transform/snowflake-dbt/models/sources/gitlab_dotcom/dedupe/sources.yml
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diff_commits_internal.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/sources.yml
Due: none

update dag chunking logic, fix model Var logic
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diff_commits_internal.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

merge_request_diff_commit_internal model
  transform/snowflake-dbt/models/legacy/gitlab_dotcom_backfill_chunked/gitlab_dotcom_merge_request_diff_commits_internal_chunked.sql
Due: none

catchup=true
  dags/transformation/dbt_gitlab_dotcom_backfill_chunked.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

update dag
  dags/transformation/dbt_gitlab_dotcom_backfill_chunked.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

add source for commits
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/sources.yml
Due: none

init new model
  transform/snowflake-dbt/models/legacy/gitlab_dotcom/source_view/gitlab_dotcom_merge_request_diffs_internal.sql
Due: none

init backfill dag
  dags/transformation/dbt.py
  dags/transformation/dbt_merge_request_diff_commits_backfill.py
  transform/snowflake-dbt/dbt_project.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, pages

refer to raw commits table
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diff_commits_internal.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

sqlfluff
  dags/transformation/dbt_gitlab_dotcom_merge_request_diffs_backfill.py
  transform/snowflake-dbt/models/workspaces/workspace_engineering/merge_request_diffs/gitlab_dotcom_merge_request_diff_commits_internal.sql
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
