Repository tnmy44/gitlab-analytics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

âš«python_black:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  - black --check .

ðŸŒ½python_flake8:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœï¸python_mypy:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ—’ï¸python_pylint:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¤”python_complexity:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

ðŸ¦…python_vulture:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/ci-python-image:v1.0.16
  before_script:
  - CHANGED_FILES=$(git diff --name-only ${CI_COMMIT_SHA} origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME} | grep '\.py'$)
  tags:
  - analytics
  allow_failure: true
  script:
  ...

âœ…python_pytest:
  stage: ðŸ Python
  tags:
  - analytics
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v1.0.21
  allow_failure: true
  script:
  - python -m pytest -vv -x --junitxml=report.xml
  artifacts:
    reports:
      junit: ${CI_PROJECT_DIR}/report.xml
    paths:
    - ${CI_PROJECT_DIR}/.coverage.${CI_JOB_ID}
  ...

ðŸ“yaml_validation:
  stage: ðŸ Python
  image: registry.gitlab.com/gitlab-data/data-image/data-image:v0.0.13
  tags:
  - analytics
  allow_failure: true
  script:
  - python -c 'import yaml, sys; print(yaml.safe_load(sys.stdin))' < permissions/snowflake/roles.yml

pages:
  stage: ðŸ“š dbt Docs
  image: registry.gitlab.com/gitlab-data/data-image/dbt-image:v1.0.22
  variables:
    SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
    SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE
  before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  script:
  ...

Adding missing field to CTE base
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical.sql
Due: none

add new columns
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_scd_db_manifest.yaml
Due: none

Updating FROM
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical.sql
Due: none

include paths
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

include paths
  extract/postgres_pipeline/postgres_pipeline/utils.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

routes table
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

update import utils
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

re-add dropped additional_filtering default
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

black
  extract/postgres_pipeline/postgres_pipeline/load_functions.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

matching naming
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Update Group BY
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical.sql
Due: none

sort objects
  transform/snowflake-dbt/models/sources/gcp_billing/detailed_gcp_billing_source.sql
  transform/snowflake-dbt/models/sources/gcp_billing/summary_gcp_billing_source.sql
Due: none

Update file el_gitlab_com_db_manifest.yaml
  extract/postgres_pipeline/manifests_decomposed/el_gitlab_com_db_manifest.yaml
Due: none

Update file Triage: Data Triage.md
  .gitlab/issue_templates/Triage: Data Triage.md
Due: none

move models to wk eng nonsafe
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/ai/rpt_gcp_billing_ai.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/detailed_billing/gcp_billing_detailed_export_credits.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/detailed_billing/gcp_billing_detailed_export_project_labels.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/detailed_billing/gcp_billing_detailed_export_resource_labels.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/detailed_billing/gcp_billing_detailed_export_system_labels.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/detailed_billing/gcp_billing_detailed_export_xf.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/labels/rpt_gcp_billing_infra_mapping_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/output/rpt_gcp_billing_pl_day.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/build_artifacts_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/ci_runners_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/combined_pl_mapping.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/container_registry_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/folder_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/haproxy_backend_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/haproxy_backend_ratio_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/infralabel_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/namespace_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/projects_pl.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/repo_storage_pl_daily.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings/rpt_gcp_billing_pl_day_combined.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings_lookback/ci_runners_pl_lookback.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings_lookback/flex_cud_lookback.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings_lookback/lookback_pl_mappings.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/pl_mappings_lookback/t2d_cud_lookback.sql
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/skus/rpt_gcp_billing_skus_day.sql
Due: none

move rpt retention to workspace
  transform/snowflake-dbt/macros/reports/sales/rpt_retention.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/reports/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_retention_parent_account.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_retention_parent_account_delivery_type.sql
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/wk_rpt_retention_parent_account_product.sql
Due: none

Added zuora_revenue_valid_reports_lists
  extract/sheetload/drives.yml
Due: none

rename schema
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

leave one model in restricted_safe
  transform/snowflake-dbt/models/workspaces/workspace_engineering/restricted_safe/ai/rpt_gcp_billing_ai.sql
Due: none

remove unnecesary field
  transform/snowflake-dbt/macros/reports/sales/rpt_retention.sql
Due: none

delete nonsafe ai folder
  transform/snowflake-dbt/models/workspaces/workspace_engineering/finops/ai/rpt_gcp_billing_ai.sql
Due: none

create daily model
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_sales_funnel_target_daily.sql
Due: none

add dim_crm_opportunity_id to mart_charge
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_charge.sql
Due: none

Updating sum to count
  transform/snowflake-dbt/models/workspaces/workspace_marketing/restricted_safe/rpt_abm_tier_historical.sql
Due: none

remove models/sources/mailgun/
  transform/snowflake-dbt/models/sources/mailgun/mailgun_events_source.sql
  transform/snowflake-dbt/models/sources/mailgun/schema.yml
  transform/snowflake-dbt/models/sources/mailgun/sensitive/mailgun_events_source_pii.sql
  transform/snowflake-dbt/models/sources/mailgun/sensitive/schema.yml
  transform/snowflake-dbt/models/sources/mailgun/sources.yml
Due: none

remove models/workspaces/workspace_marketing/mailgun/
  transform/snowflake-dbt/models/workspaces/workspace_marketing/mailgun/mailgun_events.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/mailgun/restricted_safe/mailgun_events_pii.sql
  transform/snowflake-dbt/models/workspaces/workspace_marketing/mailgun/restricted_safe/schema.yml
  transform/snowflake-dbt/models/workspaces/workspace_marketing/mailgun/schema.yml
Due: none

remove extract/mailgun/
  extract/mailgun/__init__.py
  extract/mailgun/src/__init__.py
  extract/mailgun/src/execute.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove dags/extract/mailgun_extract.py
  dags/extract/mailgun_extract.py
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest

remove mailgun roles and secrets
  dags/kube_secrets.py
  permissions/snowflake/roles.yml
  transform/snowflake-dbt/dbt_project.yml
Due: âš«python_black, ðŸŒ½python_flake8, âœï¸python_mypy, ðŸ—’ï¸python_pylint, ðŸ¤”python_complexity, ðŸ¦…python_vulture, âœ…python_pytest, ðŸ“yaml_validation, pages

remove config_path for mailgun workspace
  transform/snowflake-dbt/dbt_project.yml
Due: pages

daily models
  transform/snowflake-dbt/models/common/facts_sales_and_marketing/restricted_safe/fct_sales_funnel_target_daily.sql
  transform/snowflake-dbt/models/common_mart_sales/restricted_safe/mart_sales_funnel_target_daily.sql
Due: none

spelling
  transform/snowflake-dbt/models/workspaces/workspace_sales/restricted_safe/schema.yml
Due: none

Update snapshot tables
  transform/snowflake-dbt/models/sources/workday/workday_directory_source.sql
  transform/snowflake-dbt/models/sources/workday/workday_employee_mapping_source.sql
  transform/snowflake-dbt/snapshots/workday/job_profiles_snapshots.sql
  transform/snowflake-dbt/snapshots/workday/workday_employee_directory_snapshots.sql
  transform/snowflake-dbt/snapshots/workday/workday_employee_mapping_snapshots.sql
  transform/snowflake-dbt/snapshots/workday/workday_supervisory_org_snapshots.sql
Due: none

Path conditions:
  âš«python_black: any of: **/*.py
  ðŸŒ½python_flake8: any of: **/*.py
  âœï¸python_mypy: any of: **/*.py
  ðŸ—’ï¸python_pylint: any of: **/*.py
  ðŸ¤”python_complexity: any of: **/*.py
  ðŸ¦…python_vulture: any of: **/*.py
  âœ…python_pytest: any of: **/*.py
  ðŸ“yaml_validation: any of: permissions/snowflake/roles.yml
  pages: any of: transform/snowflake-dbt/*
